.dialog-title {
    width: 700px;

    &__row {
        margin-bottom: var(--g-spacing-2);

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__checkbox {
        margin-block-start: var(--g-spacing-2);
    }

    &__radiobtn {
        flex-grow: 1;
    }

    &__number-input {
        width: 100px;
    }
}
