.conn-form-radio-button {
    &_size-s {
        height: 24px;
    }

    &_size-m {
        height: 28px;
    }

    &_size-l {
        height: 36px;
    }

    &_size-xl {
        height: 44px;
    }
}
