.dl-dialog-confirm {
    &_medium {
        width: 520px;
    }

    &_warning {
        padding: 28px 32px;

        .yc-dialog-btn-close__btn {
            margin-top: 10px;
        }
    }

    &_warning:not(&_medium) {
        width: 444px;
    }

    &__body-container {
        width: 292px;
        padding: 16px 12px;

        &_warning {
            padding: 20px 0;
            width: auto;
        }
    }

    &__body {
        display: flex;
        align-items: center;
    }

    &__header {
        &_warning {
            padding: 0 0 15px;
        }
    }

    &__message {
        padding: 0 12px;
        line-height: 26px;

        &_hide-icon {
            padding: 0;
        }

        &_warning {
            line-height: 1.3;
        }
    }

    &__footer {
        display: flex;
        align-items: center;
        margin-top: 8px;
        &_warning {
            justify-content: flex-end;
        }
    }

    &__button {
        display: flex;
        align-items: center;
        flex: 0 0 50%;
        &_warning {
            flex: 0;
            margin-left: 10px;
        }
    }

    &__button_action_cancel {
        padding: 0 2px 4px 4px;
    }

    &__button_action_apply {
        padding: 0 4px 4px 2px;
    }

    &__icon {
        &_warning {
            margin-right: 5px;
            color: var(--g-color-text-warning);
        }
    }
}
