$block: '.dl-collection-filters';

#{$block} {
    display: flex;
    align-items: center;

    &_compact-mode {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        #{$block}__filters-block {
            width: 100%;
            margin-top: 8px;
        }

        #{$block}__filter-by-type {
            margin-left: 0;
        }

        #{$block}__sort {
            flex: 1;
        }
    }

    &__filters-block {
        display: flex;
        align-items: center;
    }

    &__filter-string-container {
        display: flex;

        width: 100%;
    }

    &__filter-string {
        flex: 1;
    }

    &__filter-by-type {
        min-width: 150px;
        margin-left: 8px;
    }

    &__sort {
        min-width: 220px;
        margin-left: 8px;
    }

    &__radio-button {
        margin-left: 8px;
    }
}
