@import '~@gravity-ui/uikit/styles/mixins';

@mixin stretch() {
    position: absolute;
    inset: 0;
}

@mixin accessible-hidden() {
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;

    opacity: 0;
}

@mixin substrate($color: var(--g-color-base-background)) {
    &::before {
        z-index: -1;

        content: '';

        background-color: $color;
        @include stretch();
    }
}
