@import '~@gravity-ui/uikit/styles/mixins';

@mixin stretch() {
    position: absolute;
    inset: 0;
}

@mixin accessible-hidden() {
    opacity: 0;
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

@mixin substrate($color: var(--g-color-base-background)) {
    &::before {
        content: '';
        @include stretch();
        background-color: $color;
        z-index: -1;
    }
}
