.two-column-dialog {
    // TODO: this is an private api and may silently changed. We should use local styles
    --yc-dialog-header-padding: 30px 24px 16px;
    --yc-dialog-body-padding: 0 24px;
    --yc-dialog-footer-padding: 28px 24px;

    // TODO: this is an private api and may silently changed. We should use local styles
    border-radius: var(--yc-modal-border-radius);
    overflow: hidden;
    flex: 1;
    display: flex;

    &__sidebar {
        background: var(--g-color-base-generic-ultralight);
        width: 255px;
    }

    &__sidebar-body {
        padding: 0;
        overflow: hidden;
    }

    &__content {
        overflow-y: auto;

        &:not(&_no-sidebar) {
            width: 705px;
        }
    }
}
