.two-column-dialog {
    $dialogPaddingHorizontal: 24px;

    // Header
    $dialogHeaderPaddingTop: 30px;
    $dialogHeaderPaddingBottom: 16px;
    $dialogHeaderPaddingHorizontal: $dialogPaddingHorizontal;

    // Body
    $dialogBodyPaddingHorizontal: $dialogPaddingHorizontal;
    $dialogBodyPaddingVertical: 0px;

    // Footer
    $dialogFooterPaddingHorizontal: $dialogPaddingHorizontal;
    $dialogFooterPaddingVertical: 28px;

    // TODO: this is an private api and may silently changed. We should use local styles
    --yc-dialog-header-padding: #{$dialogHeaderPaddingTop} #{$dialogHeaderPaddingHorizontal} #{$dialogHeaderPaddingBottom};
    --yc-dialog-body-padding: #{$dialogBodyPaddingVertical} #{$dialogBodyPaddingHorizontal};
    --yc-dialog-footer-padding: #{$dialogFooterPaddingVertical} #{$dialogFooterPaddingHorizontal};

    // TODO: this is an private api and may silently changed. We should use local styles
    border-radius: var(--yc-modal-border-radius);
    overflow: hidden;
    flex: 1;
    display: flex;

    &__sidebar {
        background: var(--g-color-base-generic-ultralight);
        width: 255px;
    }

    &__sidebar-body {
        padding: 0;
        overflow: hidden;
    }

    &__content {
        overflow-y: auto;
        width: 705px;

        &_no-content-header {
            padding-top: calc(
                var(--g-text-subheader-3-line-height) + #{$dialogHeaderPaddingTop +
                    $dialogHeaderPaddingBottom}
            );
        }
    }
}
