.dl-dialog-filter {
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 560px;
    max-height: 80vh;
    min-height: 300px;

    &__divider {
        margin: 0;
    }

    &__body {
        flex: 1 1 auto;
        overflow-y: auto;
        padding: 10px var(--_--side-padding);

        &_without-paddings {
            padding: 0;
        }

        &_without-horizontal-paddings {
            padding: 10px 0;
        }

        &_mode_fields {
            --dl-dataset-field-filter-padding: 0 32px;
        }
    }

    &__row {
        display: flex;
        margin-bottom: 10px;
    }

    &__label {
        width: 100px;
        line-height: 28px;
    }

    &__header-title-icon {
        flex-shrink: 0;
        margin-right: 5px;
    }

    &__operation {
        display: flex;
        align-items: center;
        margin: 0 0 10px 32px;
    }

    &__operation-label {
        margin-right: 40px;
    }

    &__arrow-back-button {
        margin-right: 5px;
    }

    &__load-limit-reached-warn {
        position: absolute;
        top: -20px;
        color: var(--g-color-text-hint);
        white-space: nowrap;
    }

    &__loader {
        display: flex;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

    // TODO: remove styles, when the Dialog.Header will contain them [DATAUI-359]
    & .g-dialog-header__caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .g-dialog-body {
        overflow-y: auto;
    }

    & .g-dialog-footer__children {
        position: relative;
    }
}
