@import '~@gravity-ui/uikit/styles/mixins';

.color-palettes-card {
    &__description-wrapper {
        margin-bottom: 10px;
    }

    &__title {
        margin-bottom: 4px;
        @include text-subheader-1();
    }

    &__description {
        color: var(--g-color-text-secondary);
    }

    &__list-item {
        position: relative;

        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;

        cursor: pointer;
    }

    &__palettes-list-item-icon {
        width: 20px;
        height: 16px;
        margin: 0 8px;
    }

    &__add-palette-button {
        margin-top: 6px;
        margin-left: 8px;
    }

    &__add-palette-button_condensed {
        margin-top: 0;
        margin-left: 0;
    }

    &__list-items_condensed {
        margin-bottom: 10px;
    }

    &__list-item-wrapper:hover &__more-icon {
        opacity: 1;
    }

    &__more-icon {
        margin-left: auto;

        opacity: 0;
    }

    &__default-icon {
        margin: 0 20px 0 8px;

        &_default {
            color: var(--g-color-text-misc-heavy);
        }
    }

    &__list-item-content {
        display: flex;
        align-items: center;

        width: 100%;
        height: 100%;
    }

    &__list-item-actions {
        position: absolute;
        right: 8px;

        display: flex;
        align-items: center;
    }

    &__tooltip-anchor {
        width: fit-content;
    }
}
