.dropdown-navigation {
    position: relative;

    display: flex;
    overflow: hidden; // ellipsis for long dataset names in the Selector dialog

    width: 100%;
    height: 28px;

    &__button {
        justify-content: flex-start;
        align-items: center;

        & .entity-icon__container {
            width: unset;
        }
    }
}
