@import '../../../../styles/variables.scss';

$class: 'dl-collections-navigation-layout';

.#{$class} {
    position: relative;

    &__actions-panel-placeholder {
        height: $actionPanelHeight;
        min-height: $actionPanelHeight;
    }

    &__actions-panel {
        position: fixed;
        z-index: 10;
        right: 0;
        top: 0;
        box-sizing: border-box;
        height: $actionPanelHeight;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid var(--g-color-line-generic);
        background: var(--g-color-base-background);
    }

    &__actions-panel-left-block {
        display: flex;
        margin-right: auto;
        flex-basis: 50%;
        max-width: 50%;
    }

    &__actions-panel-left-block-skeleton {
        width: 250px;
        height: 26px;
    }

    &__actions-panel-right-block {
        display: flex;
        margin-left: auto;
    }

    &__actions-panel-right-block-skeleton {
        width: 170px;
        height: 26px;
    }

    &__page-wrapper {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    &__page {
        display: flex;
        flex: 1;
        flex-direction: column;
        max-width: 936px;
        padding: 0 20px;
        margin-top: 28px;
    }

    &__header {
        display: flex;
    }

    &__header-title-wrapper {
        display: flex;
        flex: 1;
    }

    &__header-title {
        margin: 0;
        font-size: 24px;
        line-height: 28px;
    }

    &__header-title-skeleton {
        width: 150px;
        height: 28px;
    }

    &__header-title-actions-block {
        margin-left: 8px;
    }

    &__header-title-actions-block-skeleton {
        width: 40px;
        height: 28px;
    }

    &__header-right-block {
        margin-left: 8px;
        white-space: nowrap;
    }

    &__header-title-actions-block-skeleton {
        width: 100px;
        height: 28px;
    }

    &__header-description {
        margin-top: 20px;
    }

    &__content {
        margin-top: 28px;
    }
}
