.entry-label {
    background-color: var(--g-color-base-brand);
    height: 28px;
    flex-shrink: 0;
    color: var(--g-color-text-light-primary);
    padding: 0 8px;
    display: flex;
    align-items: center;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        color: var(--g-color-text-light-secondary);
    }
}
