.dialog-aliases-list {
    &__row {
        border-bottom: 1px solid var(--g-color-line-generic);
        display: flex;
        justify-content: space-between;

        &:last-child {
            border-bottom: none;
        }
    }

    &__invalid-list &__row {
        border-bottom: none;
    }

    &__invalid-list &__row + &__row {
        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__left {
        width: calc(100% - 72px);

        // unfortunatelly there is no other way to make it
        & .g-button__text {
            display: block;
        }
    }

    &__right {
        display: flex;
        flex-wrap: nowrap;
    }

    &__alias-icon-button {
        opacity: 0;
        margin: 7px 0 8px 8px;
    }

    &__row &__alias-icon-button_active,
    &__row:hover &__alias-icon-button {
        opacity: 1;
    }

    &__alias-icon-button_remove {
        color: var(--g-color-base-generic);
    }

    &__info {
        color: var(--g-color-text-hint);
        margin-left: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__button-text {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: flex;

        &_with-remove {
            max-width: calc(100% - 20px);
        }
    }

    &__alias-button {
        margin: 7px 0 8px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        background: none;
        display: inline-block;
        vertical-align: middle;
    }

    &__separator {
        padding: 0 12px;
        display: inline-block;
        vertical-align: middle;
    }

    &__remove-item {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 4px;
        position: absolute;
        top: 50%;
        right: 4px;
        transform: translateY(-50%);
        width: 26px;
        height: 26px;
    }

    &__controls {
        margin-top: 10px;
        text-align: right;
    }

    &__alias-clear-button + &__alias-clear-button {
        margin-left: 8px;
    }
}
