.dl-shared-entry-actions-notice {
    &__notice-container {
        max-width: 250px;
        border-radius: 5px;
        background-color: var(--g-color-base-info-light);
        padding: 4px 8px;
    }

    &__notice-text {
        font: var(--g-text-body-1-font);
        line-height: var(--g-text-body-1-line-height);
        margin: 0;
        text-align: left;
        color: var(--g-color-text-secondary);
    }
}
