.dl-shared-entry-actions-notice {
    &__notice-container {
        max-width: 250px;
        padding: 4px 8px;

        border-radius: 5px;
        background-color: var(--g-color-base-info-light);
    }

    &__notice-text {
        margin: 0;

        font: var(--g-text-body-1-font);
        line-height: var(--g-text-body-1-line-height);
        text-align: left;

        color: var(--g-color-text-secondary);
    }
}
