.revisions-info {
    &__new-window-btn {
        --_--inline-padding: var(--g-spacing-2);

        --g-button-padding: var(--_--inline-padding);

        margin-inline: calc(-1 * var(--_--inline-padding));
        margin-block-end: var(--g-spacing-3);
    }

    &__status-point {
        margin-inline-end: var(--g-spacing-1);
        vertical-align: sub;
    }
}
