@import '~@gravity-ui/uikit/styles/mixins';

.debug-info {
    $class: &;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    height: 30px;
    justify-content: space-between;

    &__value {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        margin: 0 auto 0 6px;
    }

    &__caption {
        flex: 0 0 80px;
        font-weight: bold;
    }

    &_mobile {
        height: unset;

        #{$class}__info-values {
            @include overflow-ellipsis;
            margin-right: 12px;
            flex: 1;
        }

        #{$class}__info-line {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        #{$class}__caption {
            flex-shrink: 1;
        }
    }
}
