@import '~@gravity-ui/uikit/styles/mixins';

.debug-info {
    $class: &;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 30px;
    margin-bottom: 15px;

    &__value {
        overflow: hidden;

        margin: 0 auto 0 6px;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__caption {
        flex: 0 0 80px;

        font-weight: bold;
    }

    &_mobile {
        height: unset;

        #{$class}__info-values {
            flex: 1;

            margin-right: 12px;
            @include overflow-ellipsis;
        }

        #{$class}__info-line {
            display: flex;

            &:not(:last-child) {
                margin-bottom: 4px;
            }
        }

        #{$class}__caption {
            flex-shrink: 1;
        }
    }
}
