.conn-form-early-invalidation-cache {
    &__label {
        align-self: center;
    }

    &__switch {
        align-self: center;
    }

    &__input {
        align-self: center;
        width: 90px;
    }
}
