.ql-view-setup {
    &__form {
        width: 480px;
        margin: 20px;
        padding: 20px;

        border: 1px solid var(--g-color-line-generic);
        border-radius: 8px;
    }

    &__form-header {
        display: inline-block;

        margin-bottom: 20px;

        font-size: 17px;
    }

    &__form-row {
        display: flex;
        align-items: center;

        margin-bottom: 12px;
    }

    &__form-input {
        width: 330px;
    }

    &__form-label {
        display: inline-block;

        width: 90px;
        margin-right: 20px;
    }

    &__connection-select-btn {
        display: inline-block;
    }

    &__connection-select-btn-content {
        display: flex;
    }

    &__connection-select-btn-wrapper {
        display: inline-block;

        max-width: 240px;
        &_error {
            width: 250px;
        }
    }

    &__form-buttons {
        margin-top: 32px;
    }

    &__entry-icon {
        height: 28px;
        margin-right: 7px;
    }
}
