@import '~@gravity-ui/uikit/styles/mixins';

.widget-palette-background {
    $class: &;
    position: relative;
    margin-left: 8px;
    line-height: 0;

    &__hint {
        @include text-body-1();
        color: var(--g-color-text-secondary);
        margin-top: 10px;
    }

    &__setting-row {
        margin-top: 20px;
    }

    &__color-item {
        position: relative;
        border-radius: 4px;
        height: 100%;
        width: 100%;
        cursor: pointer;

        &_transparent {
            background-color: var(--g-color-base-generic);
            outline: 1px solid var(--g-color-base-generic-medium);
            color: var(--g-color-line-generic-active);
            font-size: 10px;
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            align-items: center;

            &::before {
                width: 36px;
                height: 1px;
                transform: rotate(45deg);
                transform-origin: 0 0;
                background-color: var(--g-color-base-danger-heavy);
                content: '';
                position: absolute;
                inset: 1px 0 0 1px;
            }
        }

        &_small {
            width: 15px;
            height: 15px;
            display: inline-flex;

            &::before {
                width: 19px;
            }
        }

        #{$class}__palette-list-btn:hover &::after,
        &_selected:not(&_small)::after {
            content: '';
            position: absolute;
            top: -1px;
            left: -1px;
            width: 30px;
            height: 30px;
            border: 1px solid var(--g-color-line-misc);
            border-radius: 6px;
        }
    }

    &__palette-list-btn:hover::before,
    &__palette-list-btn::before {
        // disable selected additional background on button
        background-color: transparent;
    }
}
