@import '~@gravity-ui/uikit/styles/mixins';

.widget-palette-background {
    $class: &;
    display: inline-block;
    position: relative;
    line-height: 0;
    width: fit-content;
    vertical-align: text-top;

    &__hint {
        @include text-body-1();
        color: var(--g-color-text-secondary);
        margin-top: 10px;
    }

    &__setting-row {
        margin-top: 20px;
    }

    &__palette-trigger {
        width: 26px;
        height: 26px;
    }

    &__palette-popup-content {
        padding: var(--g-spacing-4);
    }

    &__color-item {
        display: inline-block;
        position: relative;
        border-radius: 4px;
        width: 26px;
        height: 26px;

        $colorItem: &;

        &_transparent {
            background-image: repeating-conic-gradient(
                var(--g-color-base-generic) 0 25%,
                var(--g-color-base-background) 0 50%
            );
            outline: 1px solid var(--g-color-base-generic-medium);
        }

        &_widget-bg {
            background-color: var(--g-color-base-float);
            display: flex;
            justify-content: center;
            align-items: center;
            outline: 1px solid var(--g-color-base-generic-medium);
            color: var(--g-color-base-generic-medium);
        }

        &_small {
            width: 15px;
            height: 15px;
            display: inline-flex;

            &::before {
                width: 19px;
            }

            &#{$colorItem}_widget-bg {
                padding: 2px;
            }
        }

        #{$class}__palette-list-btn:hover &::after,
        &_selected:not(&_small)::after {
            content: '';
            position: absolute;
            inset: -1px;
            border: 1px solid var(--g-color-line-misc);
            border-radius: 6px;
            z-index: 0;
        }
    }

    &__color-picker {
        margin-block-start: var(--g-spacing-2);
    }

    &__tooltip-trigger {
        position: absolute;
        inset: 0;
        z-index: 1000;
    }

    &__palette-list-btn &__color-item_selected &__color-icon {
        color: var(--g-color-line-misc);
    }

    &__palette-list-btn:hover::before,
    &__palette-list-btn::before {
        // disable selected additional background on button
        background-color: transparent;
    }
}
