html,
body,
#root {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html,
body {
    // for correct overflow: hidden in safari
    position: relative;
}

*,
:after,
:before {
    box-sizing: inherit;
}

body.js-screenshot-mode * {
    transition: none !important; // stylelint-disable-line declaration-no-important
}

/*
    At the moment of dynamic loading of the charts from @gravity-ui/chartkit, the main styles come to the runtime
    from @gravity-ui/uikit, which override font-family, where the basic font is 'Helvetica Neue'
    https://github.com/gravity-ui/uikit/blob/main/styles/typography.scss#L2
*/

body.g-root {
    --g-font-family-sans: 'YS Text', 'Helvetica Neue', 'Arial', 'Helvetica', sans-serif;
    --gn-aside-top-panel-height: 0px;
    // Disable overscroll for desktop cause sticky and fixed navigation elements has different behavior
    overscroll-behavior: none;
}

body.g-root_mobile {
    // Enable overscroll for mobile
    overscroll-behavior: auto;
}
