// for mobile, and overscroll

body.g-root.dl-dash {
    &_no-scroll {
        overflow-y: hidden;
    }

    &_without-height {
        .app {
            min-height: unset;
        }
    }
}

// temporary workaround for contrast themes
// DATAUI-1287

body.g-root.g-root_theme_dark-hc {
    .dash-action-panel__entry-name {
        background-color: var(--g-color-base-background);
    }

    .expandable-panel__header,
    .expandable-panel__content,
    .expandable-panel__shadow-putty::before,
    .revisions-list__label {
        background-color: var(--g-color-base-float);
    }
    .expandable-panel__header,
    .expandable-panel__content {
        box-shadow: 0 1px 5px rgb(0 0 0 / 50%);
    }
}

body.g-root.g-root_theme_dark-hc:not(.g-root_mobile):not(.g-root_native-scrollbar),
body.g-root.g-root_theme_dark-hc:not(.g-root_mobile):not(.g-root_native-scrollbar),
body.g-root.g-root_theme_dark-hc:not(.g-root_mobile):not(.g-root_native-scrollbar),
body.g-root.g-root_theme_dark-hc:not(.g-root_mobile):not(.g-root_native-scrollbar),
body.g-root.g-root_theme_dark-hc:not(.g-root_mobile):not(.g-root_native-scrollbar) {
    .expandable-panel__content {
        &::-webkit-scrollbar-track,
        *::-webkit-scrollbar-track {
            background: var(--g-color-base-float);
        }
    }
}
