@import './variables';
@import '~@gravity-ui/uikit/styles/mixins';

@mixin overflow-ellipsis($type: ellipsis) {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: $type;
}

@mixin button-reset() {
    margin: 0;
    padding: 0;

    font-size: inherit;
    font-weight: 400;
    cursor: pointer;

    color: inherit;
    border: none;
    outline: none;
    background: none;
}

@mixin max-height($height) {
    overflow-y: auto;

    max-height: $height;
}

@mixin max-text-width($width: 100%) {
    max-width: $width;
    @include overflow-ellipsis();
}

@mixin link-reset() {
    &,
    &:hover,
    &:active,
    &:visited,
    &:focus {
        text-decoration: none;

        color: inherit;
        outline: none;
    }
}

@mixin hide-input-number-spin() {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        // display: none; <- Crashes Chrome on hover
        -webkit-appearance: none; // stylelint-disable-line property-no-vendor-prefix
        // Apparently some margin are still there even though it's hidden
        margin: 0;
    }

    input[type='number'] {
        // Firefox
        -moz-appearance: textfield; // stylelint-disable-line property-no-vendor-prefix
    }
}

@mixin attention-block() {
    flex-shrink: 0;

    width: 100%;
    padding: 12px 16px;

    border: 1px solid var(--g-color-text-danger);
    border-radius: 8px;
}

@mixin info-block() {
    border-color: var(--g-color-line-generic-solid);
    @include attention-block();
}

@mixin revision-panel-fix() {
    & .action-panel ~ .active {
        height: #{$revisionPanelHeight};

        & ~ .columns {
            height: calc(100vh - 70px - #{$actionPanelHeight} - #{$revisionPanelHeight});

            &_aside-true {
                height: calc(100vh - #{$actionPanelHeight} - #{$revisionPanelHeight});
            }
        }
    }
}

@mixin dl-adaptive-tabs() {
    box-shadow: none;

    &__tab {
        padding: 0;

        border-bottom: unset;

        &_active {
            color: unset;
            border-color: unset;
        }
    }
}

@mixin dl-select-popup($mh: 40vh, $mw: 400px) {
    max-width: $mw;
    max-height: $mh;
}

@mixin dl-select-disabled-option() {
    pointer-events: none;

    color: var(--g-color-text-secondary);
}

@mixin hidden-scrollbar() {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

@mixin scrollbar-on-hover($width) {
    scrollbar-width: none;

    border-color: rgba(0, 0, 0, 0);

    transition: border-color 0.3s ease-in-out;

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar {
        width: $width;

        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        border-color: inherit;
        border-right-width: calc(100vw + 100vh);
        border-right-style: inset;
        background: transparent;
    }

    &:hover {
        border-color: var(--g-color-scroll-handle);
    }
}

@mixin dialog-max-height-scroll($height: 90vh) {
    overflow-y: auto;
    // $height - [dialog header height] - [dialog footer height] - [body padding]
    max-height: calc($height - 54px - 92px - 20px);
}

@mixin yfm-text-style {
    @include text-body-1();
}

@keyframes pulseAnimation {
    0% {
        opacity: 0.65;
    }
    50% {
        opacity: 0.35;
    }
    100% {
        opacity: 0.65;
    }
}

@mixin loading-pulsate-animation-style {
    animation: pulseAnimation 1.5s ease-in-out infinite;
}

@mixin installation-info-font {
    font-size: 10px;
    font-weight: bold;
    line-height: 15px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
}

@mixin palette-item-border($borderColor, $top, $left, $width, $height) {
    position: absolute;
    top: $top;
    left: $left;

    width: $width;
    height: $height;

    content: '';

    border: 2px solid $borderColor;
    border-radius: 6px;
}
