@import './variables.scss';

#{$rebrandingRoot} {
    --dl-color-export-loading-toast: var(--g-color-private-brand-100-solid);

    &.g-root_theme_light,
    &.g-root_theme_light-hc {
        --g-color-private-brand-50: rgba(1, 123, 254, 0.1);
        --g-color-private-brand-100: rgba(1, 123, 254, 0.15);
        --g-color-private-brand-150: rgba(1, 123, 254, 0.2);
        --g-color-private-brand-200: rgba(1, 123, 254, 0.3);
        --g-color-private-brand-250: rgba(1, 123, 254, 0.4);
        --g-color-private-brand-300: rgba(1, 123, 254, 0.5);
        --g-color-private-brand-350: rgba(1, 123, 254, 0.6);
        --g-color-private-brand-400: rgba(1, 123, 254, 0.7);
        --g-color-private-brand-450: rgba(1, 123, 254, 0.8);
        --g-color-private-brand-500: rgba(1, 123, 254, 0.9);
        --g-color-private-brand-550-solid: rgb(1, 123, 254);
        --g-color-private-brand-1000-solid: rgb(29, 43, 67);
        --g-color-private-brand-950-solid: rgb(27, 48, 78);
        --g-color-private-brand-900-solid: rgb(24, 57, 100);
        --g-color-private-brand-850-solid: rgb(21, 67, 122);
        --g-color-private-brand-800-solid: rgb(18, 76, 144);
        --g-color-private-brand-750-solid: rgb(14, 85, 166);
        --g-color-private-brand-700-solid: rgb(11, 95, 188);
        --g-color-private-brand-650-solid: rgb(8, 104, 210);
        --g-color-private-brand-600-solid: rgb(4, 114, 232);
        --g-color-private-brand-500-solid: rgb(26, 136, 254);
        --g-color-private-brand-450-solid: rgb(52, 149, 254);
        --g-color-private-brand-400-solid: rgb(77, 163, 254);
        --g-color-private-brand-350-solid: rgb(103, 176, 254);
        --g-color-private-brand-300-solid: rgb(128, 189, 255);
        --g-color-private-brand-250-solid: rgb(153, 202, 255);
        --g-color-private-brand-200-solid: rgb(179, 215, 255);
        --g-color-private-brand-150-solid: rgb(204, 229, 255);
        --g-color-private-brand-100-solid: rgb(217, 235, 255);
        --g-color-private-brand-50-solid: rgb(230, 242, 255);

        --g-color-base-brand: var(--g-color-private-brand-550-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
        --g-color-base-selection: var(--g-color-private-brand-100);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);

        --g-color-line-brand: var(--g-color-private-brand-550-solid);
        --g-color-text-brand: var(--g-color-private-brand-550-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-600-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);

        --g-color-text-link: var(--g-color-private-brand-550-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-700-solid);

        --gn-aside-header-item-current-background-color: var(--g-color-private-brand-100);
    }

    &.g-root_theme_dark,
    &.g-root_theme_dark-hc {
        --g-color-private-brand-50: rgba(1, 123, 254, 0.1);
        --g-color-private-brand-100: rgba(1, 123, 254, 0.15);
        --g-color-private-brand-150: rgba(1, 123, 254, 0.2);
        --g-color-private-brand-200: rgba(1, 123, 254, 0.3);
        --g-color-private-brand-250: rgba(1, 123, 254, 0.4);
        --g-color-private-brand-300: rgba(1, 123, 254, 0.5);
        --g-color-private-brand-350: rgba(1, 123, 254, 0.6);
        --g-color-private-brand-400: rgba(1, 123, 254, 0.7);
        --g-color-private-brand-450: rgba(1, 123, 254, 0.8);
        --g-color-private-brand-500: rgba(1, 123, 254, 0.9);
        --g-color-private-brand-550-solid: rgb(1, 123, 254);
        --g-color-private-brand-1000-solid: rgb(217, 235, 255);
        --g-color-private-brand-950-solid: rgb(204, 229, 255);
        --g-color-private-brand-900-solid: rgb(179, 215, 255);
        --g-color-private-brand-850-solid: rgb(153, 202, 255);
        --g-color-private-brand-800-solid: rgb(128, 189, 255);
        --g-color-private-brand-750-solid: rgb(103, 176, 254);
        --g-color-private-brand-700-solid: rgb(77, 163, 254);
        --g-color-private-brand-650-solid: rgb(52, 149, 254);
        --g-color-private-brand-600-solid: rgb(26, 136, 254);
        --g-color-private-brand-500-solid: rgb(4, 114, 232);
        --g-color-private-brand-450-solid: rgb(8, 104, 210);
        --g-color-private-brand-400-solid: rgb(11, 95, 188);
        --g-color-private-brand-350-solid: rgb(14, 85, 166);
        --g-color-private-brand-300-solid: rgb(18, 76, 144);
        --g-color-private-brand-250-solid: rgb(21, 67, 122);
        --g-color-private-brand-200-solid: rgb(24, 57, 100);
        --g-color-private-brand-150-solid: rgb(27, 48, 78);
        --g-color-private-brand-100-solid: rgb(29, 43, 67);
        --g-color-private-brand-50-solid: rgb(31, 38, 56);

        --g-color-base-brand: var(--g-color-private-brand-550-solid);
        --g-color-base-brand-hover: var(--g-color-private-brand-600-solid);
        --g-color-base-selection: var(--g-color-private-brand-150);
        --g-color-base-selection-hover: var(--g-color-private-brand-200);

        --g-color-line-brand: var(--g-color-private-brand-550-solid);
        --g-color-text-brand: var(--g-color-private-brand-550-solid);
        --g-color-text-brand-heavy: var(--g-color-private-brand-600-solid);
        --g-color-text-brand-contrast: var(--g-color-text-light-primary);

        --g-color-text-link: var(--g-color-private-brand-550-solid);
        --g-color-text-link-hover: var(--g-color-private-brand-700-solid);
    }
}
