.g-root {
    .dl-resizer {
        z-index: 4;

        flex-shrink: 0;

        box-sizing: border-box;

        background: var(--g-color-line-generic);
        background-clip: padding-box;

        transition: border 0.15s linear;
    }

    .dl-resizer.horizontal {
        width: 100%;
        height: 9px;
        margin: -4px 0;

        cursor: row-resize;

        border-top: 4px solid transparent;
        border-bottom: 4px solid transparent;
    }

    .dl-resizer.horizontal:hover {
        border-top: 4px solid var(--g-color-base-simple-hover);
        border-bottom: 4px solid var(--g-color-base-simple-hover);
    }

    .dl-resizer.vertical {
        width: 9px;
        margin: 0 -4px;

        cursor: col-resize;

        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
    }

    .dl-resizer.vertical:hover {
        border-right: 4px solid var(--g-color-base-simple-hover);
        border-left: 4px solid var(--g-color-base-simple-hover);
    }

    .dl-resizer.disabled {
        display: none;
    }
}
