@import '../../styles/variables';

.action-panel {
    position: relative;
    height: $actionPanelHeight;
    min-height: $actionPanelHeight;

    &__container {
        position: fixed;
        z-index: 10;
        right: 0;
        box-sizing: border-box;
        height: $actionPanelHeight;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid var(--g-color-line-generic);
        background: var(--g-color-base-background);

        &_mobile {
            overflow: auto hidden;
        }
    }

    &__create-widget-btn {
        margin-left: auto;
        margin-right: 10px;
    }

    &__action-btn {
        width: 132px;
        flex: 0 0 132px;
    }
}
