.editor-action-panel {
    &__btn-draw-preview,
    &__btn-revisions,
    &__grid-scheme-select {
        margin-right: 4px;
    }

    &__custom-button {
        margin-right: 10px;
    }

    &__preview-label {
        margin-right: 10px;
    }
}
