.editor-search-panel {
    display: flex;
    padding: 0 5px;
    margin-bottom: 10px;
    flex-shrink: 0;

    & &__btn-match-case,
    & &__btn-search {
        flex-shrink: 0;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
