.text-editor {
    display: block;

    &__textarea {
        display: block;
        overflow: hidden;

        border: 1px solid var(--g-color-line-generic);
        border-radius: 8px;
    }

    &__textarea-control {
        min-width: 600px;
        max-width: 80vw;
        min-height: 150px;
        max-height: 80vh;

        resize: both;
    }

    &__info {
        display: inline-flex;
        align-items: center;

        margin-top: 4px;

        line-height: 24px;

        color: var(--g-color-text-secondary);
    }

    &__info-text {
        margin-right: 4px;
    }
}
