.editor-btn-save {
    $gap: 4px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;

    & &__btn-switcher {
        margin-left: $gap;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & &__btn-pseudosave {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: $gap;
        cursor: pointer;
    }

    & &__icon-lock {
        margin-right: $gap;
        color: var(--g-color-text-secondary);
    }
}
