@use '../../variables';

@import '~@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}-landing';

#{$block} {
    &__loader {
        height: 100%;
    }

    &__container {
        max-width: 1032px;
        padding-left: 48px;
        padding-right: 48px;
        display: flex;
        flex-direction: column;

        &_media_s,
        &_media_m {
            height: auto;
            padding-left: 20px;
            padding-right: 20px;
        }

        &_maxWidth {
            max-width: unset;
            padding-inline: 0;
        }
    }

    &__header {
        flex-direction: row-reverse;
        margin-bottom: 24px;

        &_media_s {
            margin-bottom: 24px;
        }
    }

    &__header-title-flex {
        height: 100%;
        flex-direction: column;
        row-gap: 16px;
        justify-content: center;
        padding: 140px 0;
        z-index: 1;
        position: relative;

        &_media_s {
            padding: 50px 0 0;
        }
    }

    &__header-title {
        @include text-display-3();

        margin: 0;
    }

    &__header-description {
        @include text-subheader-3();

        font-weight: var(--g-text-body-font-weight);
    }

    &__header-actions {
        display: flex;
        column-gap: 12px;
        margin-top: 16px;
    }

    &__header-actions-link {
        &_media_s {
            width: 100%;
        }
    }

    &__header-illustration-flex {
        height: 100%;
        justify-content: end;
        align-items: center;
        padding: 24px 0;

        &_media_s {
            justify-content: start;
            padding-top: 60px;
        }
    }

    &__header-illustration {
        height: 420px;
        z-index: 0;

        &_medium {
            height: 290px;
        }

        &_media_s {
            height: 210px;
        }
    }

    &__add-card {
        background-color: var(--g-color-base-float-announcement);
        border-radius: 24px;
        padding: 52px 100px;
        margin: 48px 0;

        &_media_s {
            padding: 32px;
            margin: 24px 0;
        }
    }

    &__add-card-flex {
        flex-direction: column;
        row-gap: 12px;
        align-items: center;
    }

    &__add-card-title {
        @include text-header-2();
        text-align: center;
    }

    &__add-card-description {
        @include text-body-3();
        text-align: center;
    }

    &__add-card-button {
        width: fit-content;
        margin-top: 12px;
    }

    &__promo-block-row {
        margin-bottom: 48px;
    }
}
