@use '../../variables';

@import '~@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}-landing';

#{$block} {
    &__container {
        max-width: 1032px;
        padding-left: 48px;
        padding-right: 48px;
        display: flex;
        flex-direction: column;

        &_media_s,
        &_media_m {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    &__header {
        flex-direction: row-reverse;

        &_media_s {
            margin-bottom: 24px;
        }
    }

    &__header-title-flex {
        height: 100%;
        flex-direction: column;
        row-gap: 16px;
        justify-content: center;
        padding: 140px 0;

        &_media_s {
            padding: 50px 0 0;
        }
    }

    &__header-title {
        @include text-display-3();

        margin: 0;
    }

    &__header-description {
        @include text-subheader-3();

        font-weight: var(--g-text-body-font-weight);
    }

    &__header-illustration-flex {
        height: 100%;
        justify-content: end;
        align-items: center;

        &_media_s {
            justify-content: start;
            padding-top: 60px;
        }
    }

    &__header-illustration {
        width: 277px;
        height: 192px;

        &_media_s {
            width: 180px;
            height: 124px;
        }
    }

    &__section-header {
        @include text-header-1();

        display: flex;
        align-items: center;
        justify-content: space-between;
        line-height: 36px;

        &_media_s {
            @include text-header-2();
        }
    }

    &__promo-block {
        margin-bottom: 48px;

        &_media_s {
            margin-top: 24px;
        }
    }

    &__promo-block-item-flex {
        display: flex;
        flex-direction: column;
        height: 220px;
        row-gap: 16px;
        border-radius: 12px;
        padding-left: 20px;
        padding-top: 16px;
        overflow: hidden;
        background-color: var(--g-color-base-generic);

        &:not(:hover) {
            box-shadow: none;
        }

        &_media_s {
            height: 190px;
        }

        &_primary {
            background-color: var(--g-color-base-brand);
            color: var(--g-color-text-inverted-primary);
        }
    }

    &__promo-block-item-title,
    &__promo-block-item-title-counter {
        @include text-subheader-2();
    }

    &__promo-block-item-title {
        &_primary {
            color: var(--g-color-text-light-primary);
        }
    }

    &__promo-block-item-title-counter {
        color: var(--g-color-text-secondary);

        &_primary {
            color: var(--g-color-text-light-secondary);
        }
    }

    &__promo-block-item-image-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__promo-block-item-image {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 8px;
    }

    &__work-of-the-month {
        background-color: var(--g-color-base-generic);
        border-radius: 24px;
        margin-top: 48px;
        margin-bottom: 48px;
        padding: 36px 44px;
        row-gap: 24px;

        &_media_s {
            margin-top: 24px;
            margin-bottom: 24px;
            padding: 24px 32px;
        }
    }

    &__work-of-the-month-flex {
        flex-direction: column;
        row-gap: 16px;
        height: 100%;
        justify-content: center;
    }

    &__work-of-the-month-medal {
        @include text-subheader-3();

        display: flex;
        align-items: center;
        gap: 8px;

        &_media_s {
            justify-content: center;
        }
    }

    &__work-of-the-month-title {
        @include text-header-2();

        &_media_s {
            text-align: center;
        }
    }

    &__work-of-the-month-description {
        @include text-body-2();
    }

    &__work-of-the-month-actions {
        display: flex;
        column-gap: 12px;
    }

    &__gallery-card {
        border: 1px solid var(--g-color-line-generic);
        overflow: hidden;
        line-height: 0;

        &:not(:hover) {
            box-shadow: none;
        }
    }

    &__gallery-card-info {
        height: 110px;
        padding: 16px;
        border-top: 1px solid var(--g-color-line-generic);
    }

    &__gallery-card-info-title {
        @include text-subheader-2();

        margin-bottom: 4px;
    }

    &__gallery-card-info-created-by {
        @include text-body-2();

        margin-bottom: 10px;
        color: var(--g-color-text-secondary);
    }

    &__gallery-card-info-labels {
        display: flex;
        flex-wrap: wrap;
        gap: 6px;
    }

    &__add-card {
        background-color: var(--g-color-base-generic);
        border-radius: 24px;
    }

    &__add-card-flex {
        flex-direction: column;
        row-gap: 12px;
        align-items: center;
    }

    &__add-card-title {
        @include text-header-2();
    }

    &__add-card-description {
        @include text-body-3();
    }

    &__add-card-button {
        width: fit-content;
        margin-top: 12px;
    }
}
