.conn-form-yadocs {
    &__add-dialog-body {
        display: flex;
        flex-direction: column;
        row-gap: 16px;
    }

    &__add-dialog-row {
        display: grid;
        grid-template-columns: 152px auto;
        column-gap: 10px;
    }

    &__add-dialog-row-label {
        line-height: 28px;
    }

    &__add-dialog-row-input-note {
        margin-top: 5px;
        color: var(--g-color-text-hint);
    }
}
