.editor-diff {
    display: flex;
    flex-direction: column;
    position: absolute;
    inset: 0;
    overflow: hidden;

    &__panel {
        flex-shrink: 0;
        height: 40px;
        padding-left: 20px;
        display: flex;
        align-items: center;
    }

    &__editor-place {
        flex: 1 1;
    }

    &__without-diff {
        padding: 20px;
    }
}
