.git

.eslintrc
.stylelintrc
jest.config.ts
README.md
tsconfig.jest.json

packages
services
technotes

.idea
.DS_Store
.vscode

node_modules

.env

dist/server
dist/i18n
dist/shared
dist/public/build

dist/run/*
!dist/run/.keep

secrets/*
!secrets/.keep

tests/artifacts
