{
    "extends": [
        "@gravity-ui/eslint-config",
        "@gravity-ui/eslint-config/prettier",
        "@gravity-ui/eslint-config/import-order"
    ],
    "root": true,
    "env": {
        "node": true,
        "jest": true
    },
    "rules": {
        "security/detect-child-process": 0,
        "security/detect-non-literal-fs-filename": 0,
        "camelcase": 0,
        "no-param-reassign": [
            "warn",
            {
                "props": true,
                "ignorePropertyModificationsFor": ["acc"]
            }
        ],
        "no-console": ["error", {"allow": ["warn", "error"]}]
    }
}
