.idea
.DS_Store
.vscode
.history

node_modules

.env
.build

dist/server/*
dist/ui/*
dist/i18n
dist/shared
dist/public/build
dist/public/highcharts
dist/run/*
artifacts
export/*.csv
export/*.xlsx
export/*.ods
export/*.pdf

build/

secrets/*
!secrets/.keep

tests/dist/*
src/i18n/keysets

tests/metadata
tests/certs
tests/test-results

report
reference.json
input.json
result.json
export/temp
.last-run.json

table-report-headers
