.setting-title-mode {
    &__container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &__title-input.g-text-input {
        width: 270px;
        margin-left: 12px;
    }
}
