.list-with-menu {
    $main: &;

    &__wrapper {
        $wrapper: &;

        display: flex;
        overflow: hidden;
        flex: 1;
        align-items: center;

        &_icon-on-hover {
            &#{$wrapper}_active #{$main}__controls,
            &:hover #{$main}__controls {
                visibility: visible;
            }
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        width: 100%;
        min-width: 0;
        height: 36px;

        cursor: pointer;
    }

    &__item-text {
        overflow: hidden;

        max-width: 160px;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__item-content {
        display: flex;
        align-items: center;

        width: 100%;
    }

    &__controls {
        display: flex;
        visibility: hidden;

        margin-left: 5px;
    }

    &__delete-button {
        color: var(--g-color-text-danger);
    }

    &__menu-button {
        color: var(--g-color-text-complementary);
    }
}
