.wizard-dialog-field {
    width: 536px;
    max-height: 580px;

    &_dimension {
        .g-dialog-header {
            svg {
                color: var(--g-color-text-positive);
            }
        }
    }

    &_measure {
        .g-dialog-header {
            svg {
                color: var(--g-color-text-info);
            }
        }
    }

    &__divider {
        margin: 0 auto 16px;
    }

    .g-dialog-header__caption {
        margin-left: 7px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }
}
