.two-column-dialog {
    $dialogPaddingHorizontal: 24px;

    // Header
    $dialogHeaderPaddingTop: 20px;
    $dialogHeaderPaddingBottom: 10px;
    $dialogHeaderPaddingHorizontal: $dialogPaddingHorizontal;

    // Body
    $dialogBodyPaddingHorizontal: $dialogPaddingHorizontal;
    $dialogBodyPaddingTop: 14px;
    $dialogBodyPaddingTopWithoutSidebar: 10px;
    $dialogBodyPaddingBottom: 0px;

    // Footer
    $dialogFooterPaddingHorizontal: $dialogPaddingHorizontal;
    $dialogFooterPaddingVertical: 28px;

    border-radius: 5px;
    overflow: hidden;
    flex: 1;
    display: flex;

    &__header {
        padding: #{$dialogHeaderPaddingTop} #{$dialogHeaderPaddingHorizontal} #{$dialogHeaderPaddingBottom};
    }

    &__sidebar {
        background: var(--g-color-base-generic-ultralight);
    }

    &__sidebar-body {
        padding: 0;
        overflow: hidden;
    }

    &__content {
        overflow-y: auto;
        width: 100%;

        &_no-content-header {
            padding-top: calc(
                var(--g-text-subheader-3-line-height) + #{$dialogHeaderPaddingTop +
                    $dialogHeaderPaddingBottom}
            );
        }
    }

    &__content-body {
        padding: #{$dialogBodyPaddingTop} #{$dialogBodyPaddingHorizontal} #{$dialogBodyPaddingBottom};

        &_without-sidebar {
            padding-top: #{$dialogBodyPaddingTopWithoutSidebar};
        }
    }

    & .g-dialog-footer {
        padding: #{$dialogFooterPaddingVertical} #{$dialogFooterPaddingHorizontal};
    }
}
