.two-column-dialog {
    --dialog-sidebar-horizontal-padding: var(--g-spacing-4);
    --dialog-footer-vertical-padding: 28px; // equal to gravity Dialog footer vertical padding

    // Header
    $dialogHeaderPaddingTop: 20px;
    $dialogHeaderPaddingBottom: 10px;

    border-radius: 5px;
    overflow: hidden;
    flex: 1;
    display: flex;

    &__sidebar {
        background: var(--g-color-base-generic-ultralight);
    }

    &__sidebar-header {
        padding-inline: var(--dialog-sidebar-horizontal-padding);
    }

    &__sidebar-body {
        padding: 0;
        overflow: hidden;
    }

    &__content {
        overflow-y: auto;
        width: 100%;

        &_no-content-header {
            padding-top: calc(
                var(--g-text-subheader-3-line-height) + #{$dialogHeaderPaddingTop +
                    $dialogHeaderPaddingBottom}
            );
        }
    }
}
