.dl-select-migration-to-workbook-dialog-body {
    padding: 20px 20px 28px;

    cursor: pointer;

    color: var(--g-color-text-primary);
    border-radius: 8px;
    box-shadow: 0px 0px 0px 1px var(--g-color-line-generic);

    &_active {
        box-shadow: 0px 0px 0px 2px var(--g-color-base-brand);
    }

    &__header {
        display: flex;
    }

    &__title {
        font-size: 28px;
        font-weight: 500;
        line-height: 32px;
    }

    &__label {
        margin-left: 8px;
    }

    &__icon {
        margin-left: auto;
    }

    &__description {
        margin: 20px 0;
        padding: 8px 0;

        color: var(--g-color-text-complementary);
        border-top: 1px solid var(--g-color-line-generic);
        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__content {
        min-height: 151px;
        margin-top: 16px;
    }

    &__content-item {
        display: flex;

        margin: 20px 0;
    }

    &__content-item-text {
        margin-left: 12px;
    }

    &__content-item-help {
        margin-left: auto;
    }

    &__content-tooltip {
        max-width: 170px;
    }
}
