.dataset-panel {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    height: 56px;
    padding: 0 20px;

    border-bottom: 1px solid var(--ds-color-divider);
    background: var(--ds-color-base);

    &__item {
        margin-left: 10px;
    }

    & &__find-field {
        width: 220px;
    }

    &__preview-btn {
        position: relative;

        &_tab_filters,
        &_tab_sources,
        &_readonly {
            margin-left: auto;
        }
    }

    &__preview-btn-tooltip {
        position: absolute;
        top: 50%;
        right: 11px;

        transform: translateY(-50%);
    }

    &__preview-btn-tooltip-margin {
        display: inline-flex;

        width: 22px;
    }

    &__preview-btn-tooltip-content {
        width: 200px;
    }

    &__add-field-btn {
        display: flex;

        &-ic {
            position: relative;

            display: flex;
            align-items: center;

            height: inherit;
        }
    }

    &__btn-update-fields {
        display: flex;

        margin-left: auto;
    }

    &__ic-sync {
        position: relative;

        display: flex;
        align-items: center;

        height: inherit;
    }
}
