@mixin header($fontSize, $lineHeight) {
    margin: 0;
    font-weight: 500;
    font-size: $fontSize;
    line-height: $lineHeight;
}

.service-settings {
    $baseClass: &;

    min-height: 100vh;
    padding: 18px var(--g-spacing-6);
    width: 100%;

    &__header {
        margin: 0;
    }

    &__sections {
        display: grid;
        grid-template-columns: repeat(1, auto);
        row-gap: 60px;
        width: 520px;
        margin-top: var(--g-spacing-3);
        line-height: 18px;
    }

    &__loader {
        width: 100%;
        margin-top: var(--g-spacing-6);
        display: flex;
        justify-content: center;
    }

    &__tabs {
        margin-top: var(--g-spacing-3);
    }

    &__tabs-content {
        width: 100%;
    }
}
