@import '~@gravity-ui/uikit/styles/mixins';

.dl-entries-list {
    overflow-y: auto;

    &__item {
        display: flex;
        align-items: center;

        width: 100%;
        padding: 0 4px;
    }

    &__item-icon {
        flex-shrink: 0;
    }

    &__action-place {
        display: flex;
        flex: 1 0;
        justify-content: flex-end;

        margin-left: 4px;
    }

    &__name {
        flex: 1 0;

        margin-left: 8px;
        @include overflow-ellipsis();
    }

    &__login {
        overflow: hidden;
        flex: 1 0;

        margin: 0 8px;
    }
}
