@import '~@gravity-ui/uikit/styles/mixins';

.dl-entries-list {
    overflow-y: auto;

    &__item {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 0 4px;
    }

    &__item-icon {
        flex-shrink: 0;
    }

    &__action-place {
        flex: 1 0;
        margin-left: 4px;
        display: flex;
        justify-content: flex-end;
    }

    &__name {
        @include overflow-ellipsis();
        flex: 1 0;
        margin-left: 8px;
    }

    &__login {
        overflow: hidden;
        flex: 1 0;
        margin: 0 8px;
    }
}
