.ql {
    &__content-overlay {
        position: absolute;
        z-index: 10;
        right: 0;
        bottom: 0;
        left: 0;

        display: flex;
        justify-content: center;
        align-items: center;

        height: calc(100% - 56px);

        font-size: var(--g-text-display-3-font-size);
        line-height: var(--g-text-display-3-line-height);

        background: var(--g-color-base-generic);
    }

    &__content {
        position: relative;

        display: block;
        flex-grow: 1;

        width: 100%;
        height: calc(100% - 56px);
    }
}

.dl-ql {
    .add-field__dimension-icon {
        color: var(--g-color-text-misc);
    }

    .add-field__measure-icon {
        color: var(--g-color-text-misc);
    }
}
