.dialog-multidataset {
    .g-dialog-body {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
    }

    .g-dialog-footer {
        width: 704px;
        float: right;
    }

    &__left {
        width: 256px;
        height: 720px;
        float: left;
        background: var(--g-color-base-generic-ultralight);

        padding: 28px 0 0;

        &-header {
            padding-left: 24px;
            font-size: 18px;
            margin-bottom: 16px;
        }

        &-dataset {
            padding-left: 24px;
            line-height: 32px;
            height: 32px;
            vertical-align: middle;

            &-icon {
                float: left;
                margin-right: 8px;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 24px;
                width: 24px;
                color: var(--g-color-base-positive-heavy);
                margin-top: 4px;
            }

            &-title {
                width: 150px;
                display: inline-block;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }

            &-more {
                float: right;
                margin-right: 24px;

                svg {
                    margin-top: 1px;
                }
            }

            &.dataset-add {
                opacity: 0.5;
            }

            &-add-icon {
                margin-top: 7px;
                float: left;
                margin-right: 8px;
            }

            &:hover {
                background: var(--dl-color-contrast-4);
                cursor: pointer;
            }
        }
    }

    &__right {
        width: 704px;
        height: 628px;
        float: right;

        overflow-y: auto;

        padding: 32px 0 0 40px;

        &-header {
            font-size: 15px;
            margin-bottom: 16px;
        }

        &-link {
            width: 450px;
        }

        &-link {
            margin-top: 16px;

            &-formula {
                display: inline-block;
                background: var(--g-color-base-info-light);
                border: 1px solid var(--g-color-base-info-light);
                border-radius: 4px;
                padding: 6px 12px;

                span {
                    display: inline-block;
                }

                div {
                    display: inline-block;
                }

                &-field {
                    margin: 0 0 0 4px;
                    opacity: 0.5;
                }

                &-dataset {
                    color: var(--g-color-text-info);
                }

                &-equal {
                    margin: 0 8px;
                }

                &:hover {
                    cursor: pointer;
                    background: var(--g-color-base-info-light);
                }
            }
        }
    }
}
