@import '../../../../styles/mixins.scss';

.dialog-link {
    width: 480px;

    &__dataset {
        line-height: 28px;
        margin-bottom: 16px;
        vertical-align: middle;

        &-icon {
            float: left;
            margin-right: 8px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--g-color-base-positive-heavy);
            height: 24px;
            width: 24px;
            margin-top: 2px;
        }

        &-title {
            width: 130px;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        &-fields {
            float: right;
            width: 238px;
        }
    }

    &__select {
        width: 100%;
    }

    &__select-popup {
        @include dl-select-popup;
    }
}
