@import '../../styles/variables';

.modal__content {
    border-radius: 9px;
}

.dialog-no-rights {
    width: 480px;

    button {
        margin-left: 10px;

        &:first-child {
            margin-left: auto;
        }
    }
}

.dialog-field,
.dialog-label {
    width: 480px;

    .g-dialog-header__caption {
        margin-left: 7px;
    }

    &__row {
        margin-bottom: 16px;

        line-height: 28px;
        vertical-align: middle;
    }

    &__label {
        display: inline-block;

        width: 125px;
        margin-right: 16px;
    }

    .select2 {
        width: 180px;
    }

    .textinput {
        width: 270px;
    }

    &.dialog-field-dimension,
    &.dialog-label-dimension {
        .g-dialog-header {
            svg {
                color: var(--g-color-text-positive);
            }
        }
    }

    &.dialog-field-measure,
    &.dialog-label-measure {
        .g-dialog-header {
            svg {
                color: var(--g-color-text-info);
            }
        }
    }
}
