.dialog-multidataset {
    .g-dialog-body {
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;
    }

    .g-dialog-footer {
        float: right;

        width: 704px;
    }

    &__left {
        float: left;

        width: 256px;
        height: 720px;
        padding: 28px 0 0;

        background: var(--g-color-base-generic-ultralight);

        &-header {
            margin-bottom: 16px;
            padding-left: 24px;

            font-size: 18px;
        }

        &-dataset {
            height: 32px;
            padding-left: 24px;

            line-height: 32px;
            vertical-align: middle;

            &-icon {
                display: flex;
                float: left;
                justify-content: center;
                align-items: center;

                width: 24px;
                height: 24px;
                margin-top: 4px;
                margin-right: 8px;

                color: var(--g-color-base-positive-heavy);
            }

            &-title {
                display: inline-block;
                overflow: hidden;

                width: 150px;

                white-space: nowrap;
                text-overflow: ellipsis;
            }

            &-more {
                float: right;

                margin-right: 24px;

                svg {
                    margin-top: 1px;
                }
            }

            &.dataset-add {
                opacity: 0.5;
            }

            &-add-icon {
                float: left;

                margin-top: 7px;
                margin-right: 8px;
            }

            &:hover {
                cursor: pointer;

                background: var(--dl-color-contrast-4);
            }
        }
    }

    &__right {
        float: right;
        overflow-y: auto;

        width: 704px;
        height: 628px;
        padding: 32px 0 0 40px;

        &-header {
            margin-bottom: 16px;

            font-size: 15px;
        }

        &-link {
            width: 450px;
        }

        &-link {
            margin-top: 16px;

            &-formula {
                display: inline-block;

                padding: 6px 12px;

                border: 1px solid var(--g-color-base-info-light);
                border-radius: 4px;
                background: var(--g-color-base-info-light);

                span {
                    display: inline-block;
                }

                div {
                    display: inline-block;
                }

                &-field {
                    margin: 0 0 0 4px;

                    opacity: 0.5;
                }

                &-dataset {
                    color: var(--g-color-text-info);
                }

                &-equal {
                    margin: 0 8px;
                }

                &:hover {
                    cursor: pointer;

                    background: var(--g-color-base-info-light);
                }
            }
        }
    }
}
