@import '../../../../styles/mixins.scss';

.dialog-link {
    width: 480px;

    &__dataset {
        margin-bottom: 16px;

        line-height: 28px;
        vertical-align: middle;

        &-icon {
            display: flex;
            float: left;
            justify-content: center;
            align-items: center;

            width: 24px;
            height: 24px;
            margin-top: 2px;
            margin-right: 8px;

            color: var(--g-color-base-positive-heavy);
        }

        &-title {
            display: inline-block;
            overflow: hidden;

            width: 130px;

            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &-fields {
            float: right;

            width: 238px;
        }
    }

    &__select {
        width: 100%;
    }

    &__select-popup {
        @include dl-select-popup;
    }
}
