.control-select-acceptable {
    &__header {
        display: grid;
        align-items: center;
        grid-template-columns: 70% auto;
        grid-column-gap: 10px;
    }

    &__items {
        overflow: auto;

        min-height: 20px;
        margin-top: 10px;

        &_empty {
            margin-top: 20px;

            text-align: center;

            color: var(--g-color-text-secondary);
        }
    }

    &__list-item {
        padding-left: 10px;
    }

    &__item {
        display: grid;
        align-items: center;
        grid-template-columns: 94% auto;

        width: 100%;
        min-height: 34px;
        padding: 5px 0 5px 5px;

        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }

    &__remove {
        display: none;

        cursor: pointer;
    }

    &__item:hover &__remove {
        display: block;
    }
}
