.dl-dataset-field-list {
    display: flex;
    height: 100%;

    &__items {
        overflow: auto;
    }

    &__field {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        padding-inline: var(--dl-dataset-field-list-item-padding-inline);
        cursor: pointer;
    }

    &__field-title {
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__field-icon,
    &__formula-icon {
        flex-shrink: 0;
    }

    &__field-icon {
        margin-right: 10px;
    }

    &__formula-icon {
        color: var(--g-color-text-secondary);
        margin-right: 5px;
    }

    & .g-list .g-list__filter {
        padding: var(--dl-dataset-field-filter-padding);
    }
}

:root {
    --dl-dataset-field-list-item-padding-inline: 32px;
    --dl-dataset-field-filter-padding: unset;
}
