.dialog-shapes {
    display: flex;
    flex-direction: column;

    width: 680px;
    height: 560px;
    min-height: 300px;
    max-height: 80vh;

    &__title-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;
        margin-right: 4px;
    }

    & .g-dialog-body {
        display: flex;
        overflow-y: auto;

        height: calc(80vh - 153px);
        padding: 0;

        border-top: 1px solid var(--g-color-line-generic);
        border-bottom: 1px solid var(--g-color-line-generic);
    }
}
