.dialog-shapes {
    max-height: 80vh;
    min-height: 300px;
    width: 680px;
    display: flex;
    flex-direction: column;
    height: 560px;

    &__title-icon {
        margin-right: 4px;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    & .g-dialog-body {
        display: flex;
        padding: 0;
        overflow-y: auto;
        height: calc(80vh - 153px);
        border-top: 1px solid var(--g-color-line-generic);
        border-bottom: 1px solid var(--g-color-line-generic);
    }
}
