@import '~@gravity-ui/uikit/styles/mixins';

.color-picker {
    display: flex;
    gap: var(--g-spacing-2);

    --_--preview-square-size: 16px;

    &__color-preview {
        width: var(--_--preview-square-size);
        height: var(--_--preview-square-size);

        flex-shrink: 0;

        border-radius: 2px;
        border: 1px solid var(--g-color-base-generic-medium);
        margin-inline: var(--g-spacing-1);
    }

    &__color-hint {
        margin-inline-start: var(--g-spacing-1);
    }
}
