.console-group {
    margin-bottom: 6px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &__content {
        position: relative;
        padding-left: 20px;
        border-left: 1px solid var(--g-color-line-generic);
    }

    &__toggler {
        display: inline-block;
        font-size: 13px;
        margin-right: 3px;
        user-select: none;
        transform: rotateZ(0deg);
        cursor: default;
        box-sizing: border-box;
        font-family: Menlo, monospace;
        color: var(--g-color-text-complementary);

        &_open {
            transform: rotateZ(90deg);
        }
    }

    &__name {
        font-family: Menlo, monospace;
        font-weight: bold;
        font-size: 12px;
    }
}
