@import '~@gravity-ui/uikit/styles/mixins';

.dl-workbook-entries-table {
    &__table {
        display: table;
        width: 100%;
        max-width: 100%;
        table-layout: fixed;
    }

    &__header {
        display: table-header-group;
    }

    &__header-row {
        display: table-row;
    }

    &__header-cell_empty {
        border: none;
    }

    &__header-cell {
        display: table-cell;
        box-sizing: content-box;
        overflow: hidden;
        overflow-wrap: break-word;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
        padding: 0 10px;
        border-bottom: 1px solid var(--g-color-line-generic);

        &_author {
            width: 165px;
        }

        &_date {
            width: 150px;
        }

        &_controls {
            width: 100px;
        }
    }

    &__header-cell {
        @include text-subheader-1();
        color: var(--g-color-text-secondary);
    }
}
