@import '../../../../../../styles/mixins.scss';

.dialog-color-palette {
    &__container {
        display: flex;
        height: calc(100%);
        border-top: 1px solid var(--g-color-line-generic);
    }

    &__palette-container {
        position: relative;
        width: 50%;
        height: 100%;
        overflow: hidden;
        overflow-y: auto;
    }

    &__palette-container &__row {
        margin-bottom: 0;
    }

    &__row {
        margin: 20px 24px 0;
    }

    &__palette {
        margin: 20px 24px 0;
    }

    &__palette-select {
        padding: 20px 28px 0 24px;
    }

    &__label {
        display: inline-block;
        margin-right: 20px;
    }
}
