.editor-view-error {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__error-text {
        font-size: 15px;
        color: var(--g-color-text-danger);
    }
}
