.dialog-connect-by-alias {
    display: grid;
    grid-template-columns: 47% 8px 47%;
    width: 650px;
    grid-column-gap: 10px;

    &__column {
        display: grid;
        grid-row-gap: 8px;
        align-items: center;
        grid-template-rows: auto 30px;
    }

    &__select-popup {
        max-height: 264px;
    }
}
