.conn-list-item {
    display: flex;

    width: 100%;
    padding: 6px 16px;

    &__icon {
        position: relative;
        top: 3px;

        flex: 0 0 16px;

        margin-right: 7px;
    }

    &__container {
        width: calc(100% - 24px);
    }

    &__title {
        display: flex;

        line-height: 24px;
    }

    &__title-value {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__title-actions {
        display: flex;
        align-items: center;

        margin-left: auto;
    }

    &__alert span {
        display: flex;
    }

    &__alert-tooltip {
        --g-popover-max-width: none;
    }

    &__alert-tooltip-content div {
        display: grid;
        grid-template-columns: 1 100%;
        row-gap: 20px;
    }

    &__alert-icon {
        color: var(--g-color-text-danger);
    }

    &__description {
        color: var(--g-color-text-secondary);
    }
}
