.dl-widget-roundings-input {
    position: relative;

    width: 120px;

    &__icon {
        flex-shrink: 0;

        margin-inline: var(--g-spacing-half);

        color: var(--g-color-text-hint);
    }

    &__slider {
        position: absolute;
        z-index: 1;
        right: 3px;
        bottom: 0;
        left: 3px;

        height: 8px;
    }
}
