.dialog-manage-alias {
    width: 760px;

    &__alias {
        display: flex;
        align-items: center;
        margin-bottom: 16px;
        flex-wrap: wrap;
    }

    &__param {
        display: inline-block;
        background: var(--g-color-base-selection);
        border: 1px solid var(--g-color-base-selection);
        border-radius: 4px;
        padding: 6px 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        cursor: pointer;
        margin-bottom: 5px;

        &_selected {
            background: var(--g-color-base-brand);
        }
    }

    &__param_selected .connections-param__title {
        color: var(--g-color-base-background);
    }

    &__param_selected .connections-param__info {
        color: var(--g-color-text-light-hint);
    }

    &__influence {
        margin-top: 16px;
    }

    &__caption {
        display: grid;
        grid-template-columns: 70% 30%;
        align-items: center;
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 10px;
    }

    &__affected {
        display: grid;
        grid-template-columns: 60% 40%;
        align-items: center;
        min-height: 40px;
    }

    &__eq {
        color: var(--g-color-text-secondary);
        margin: 0 6px;
    }

    &__remove {
        color: var(--g-color-base-background);
    }
}
