.dl-nav-move-error {
    width: 560px;

    &__header-icon {
        margin-right: 4px;
        color: var(--g-color-text-danger);
    }

    &__content {
        padding-top: 20px;
    }

    &__list {
        max-height: 420px;
    }
}
