.dialog-revisions-diff {
    min-width: 1024px;
    width: 90vw;
    max-width: 90vw;
    height: 90vh;
    max-height: 90vh;
    overflow: auto;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    &__panel {
        display: flex;
        align-items: baseline;
        min-height: 36px;
        flex-shrink: 0;
    }

    &__diff-selects {
        margin-right: 20px;
        display: flex;
        align-items: center;
    }

    &__mdash {
        margin: 0 10px;

        &_hidden {
            visibility: hidden;
        }
    }

    &__pane-tabs {
        flex: none;
        margin-right: 20px;
        width: 490px;
        margin-bottom: 5px;
    }

    &__selectors-place {
        display: flex;
        flex-direction: column;
    }

    &__users {
        display: flex;
        align-items: center;
    }

    &__user {
        display: flex;
        flex: 1 0 50%;
        padding: 10px;
        overflow: hidden;
        max-width: 200px;
        white-space: nowrap;
    }

    &__staff-user {
        overflow: hidden;
    }

    &__script-loader {
        top: 80px;
        pointer-events: none;
    }

    &__btn-new-window {
        margin-left: 4px;
        flex-shrink: 0;
    }
}
