.dialog-revisions-diff {
    min-width: 1024px;
    width: 90vw;
    max-width: 90vw;
    height: 90vh;
    max-height: 90vh;

    &__content {
        height: 100%;
        overflow: auto;
        display: flex;
        flex-direction: column;
    }

    &__panel {
        display: flex;
        align-items: baseline;
        padding-block: var(--g-spacing-1);
        flex-shrink: 0;
    }

    &__diff-selects {
        margin-inline-end: var(--g-spacing-5);
        display: flex;
        align-items: center;
    }

    &__diff-separator {
        display: inline-block;
        margin-inline: var(--g-spacing-3);
    }

    &__pane-tabs {
        flex: none;
        margin-bottom: var(--g-spacing-3);
    }

    &__selectors-place {
        display: flex;
        flex-direction: column;
    }

    &__users {
        display: flex;
        align-items: center;
    }

    &__user {
        display: flex;
        flex: 1 0 50%;
        padding: var(--g-spacing-2);
        overflow: hidden;
        max-width: 200px;
        white-space: nowrap;
    }

    &__staff-user {
        overflow: hidden;
    }

    &__script-loader {
        top: 80px;
        pointer-events: none;
    }

    &__btn-revision-info {
        flex-shrink: 0;
    }
}
