.dialog-tooltip-settings {
    width: 680px;

    &__title-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;
        margin-right: 4px;
        margin-bottom: 2px;
    }

    &__row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        margin-top: 16px;
    }
}
