.conn-column-filter {
    display: flex;
    align-items: center;
    height: var(--conn-column-filter-height);
    padding-right: 16px;
    border-bottom: 1px solid var(--g-color-line-generic);

    &__input {
        width: 250px;
        margin-left: auto;
    }
}

.g-root {
    --conn-column-filter-height: 43px;
}
