.wizard-dataset-item {
    position: relative;

    display: flex;
    overflow: hidden;
    align-items: center;

    height: 32px;
    margin-bottom: 6px;
    padding: 2px 8px;

    font-size: 13px;
    cursor: pointer;

    border-radius: 2px;

    &.item-error {
        cursor: default;
    }

    &__item-title {
        overflow: hidden;
        flex: 1;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &.pseudo-item {
        font-style: italic;

        color: var(--g-color-text-secondary);

        .wizard-dataset-item__item-icon {
            &:hover {
                border-color: transparent;
            }
        }

        &:hover {
            .wizard-dataset-item__item-more-icon {
                visibility: hidden;
            }
        }
    }

    .g-icon {
        vertical-align: top;
    }

    &__item-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;
        margin-right: 8px;

        cursor: pointer;

        border: 1px solid transparent;

        &:hover {
            border-color: var(--w-dataset-item-border-hover);
        }

        svg {
            width: 16px;
            height: 16px;
        }
    }

    &.formula-item &__item-formula-icon {
        display: flex;

        color: var(--g-color-text-primary);
    }

    &__item-formula-icon {
        display: none;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;
        margin-right: 4px;

        color: var(--g-color-text-secondary);
        border: 1px solid transparent;
        border-radius: 2px;
    }

    &__item-link-icon {
        display: inline;

        margin-left: 8px;
        padding: 2px;

        vertical-align: middle;

        color: var(--g-color-text-secondary);
        border-radius: 2px;

        svg {
            width: 13px;
            height: 13px;

            vertical-align: sub;
        }

        &:hover {
            border-color: var(--dl-color-border);
        }
    }

    &__item-more-icon {
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;
    }

    &__item-right-icons-container {
        display: flex;
        align-items: center;

        margin-left: 6px;
    }

    &:hover {
        background-color: var(--g-color-base-simple-hover);

        .wizard-dataset-item__item-more-icon {
            visibility: visible;

            &:hover {
                visibility: visible !important; // stylelint-disable-line declaration-no-important
            }
        }
    }

    &:hover &__item-formula-icon {
        display: flex;
    }

    &__item-formula-icon:hover {
        border-color: var(--w-dataset-item-border-hover);
    }

    &.local-item:before {
        position: absolute;
        left: 0;

        display: inline-block;

        width: 4px;
        height: 20px;

        content: '';

        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    &.ignore-drag {
        // stylelint-disable-next-line declaration-no-important
        background: var(--dl-color-contrast-4) !important;
    }

    &.is-dragging,
    &:active:hover,
    &:focus {
        cursor: grabbing;

        &:not(.item-error) .wizard-dataset-item__item-more-icon {
            visibility: hidden;
        }

        &.ignore-drag {
            cursor: pointer;
        }

        &.item-error {
            cursor: default;
        }
    }

    &.item-error {
        font-style: italic;

        color: var(--g-color-base-danger-heavy);
    }

    &.item-error .item-icon svg {
        color: var(--g-color-base-danger-heavy);
    }

    &.item-error.local-item:before {
        background: var(--g-color-base-danger-heavy);
    }

    &.is-dragging:not(.ignore-drag),
    &:active:hover:not(.ignore-drag),
    &:focus:not(.ignore-drag) {
        &.measure-item {
            background-color: var(--dl-color-field-measure);
        }

        &.dimension-item {
            background-color: var(--dl-color-field-dimenson);
        }

        &.item-error {
            background-color: var(--g-color-base-danger-light);
        }
    }

    &.parameter-item &__item-icon svg {
        color: var(--g-color-text-utility);
    }

    &.measure-item &__item-icon svg {
        color: var(--g-color-text-info);
    }

    &.dimension-item &__item-icon svg {
        color: var(--g-color-text-positive);
    }

    &.parameter-item {
        &.local-item {
            &:before {
                background: var(--g-color-text-utility);
            }
        }
    }

    &.dimension-item {
        &.local-item {
            &:before {
                background: var(--g-color-text-positive);
            }
        }
    }

    &.measure-item {
        &.local-item {
            &:before {
                background: var(--g-color-text-info);
            }
        }
    }

    &.measure-item.local-item &__item-formula-icon {
        color: var(--g-color-text-info);
    }

    &.dimension-item.local-item &__item-formula-icon {
        color: var(--g-color-text-positive);
    }
}
