.dl-dialog-counter-progress {
    &__content {
        padding-top: 12px;
    }

    &__text-progress {
        margin-top: var(--g-spacing-1);

        color: var(--g-color-text-complementary);
    }
}
