.dnd-pane {
    position: relative;
    display: flex;
    flex: 1 1 0%;
    height: 100%;
    width: 100%;

    &__content {
        position: relative;
        display: flex;
        flex: 1 1 0%;
        height: 100%;
        width: 100%;
    }

    &__preview {
        position: absolute;
        inset: 1px;
    }

    &__dragging-effect {
        pointer-events: none;
        position: absolute;
        inset: 0px;
        background-color: var(--g-color-sfx-veil);
    }

    &__hover-effect {
        pointer-events: none;
        position: absolute;
        inset: 0px;
        background-color: var(--g-color-base-selection);
    }
}
