.dl-monaco-editor {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    border-radius: 6px;

    transition: border-color 0.1s linear;

    & .monaco-editor,
    .monaco-editor-background,
    .monaco-editor .inputarea.ime-input {
        background-color: var(--g-color-base-background);
    }

    & .monaco-editor .margin {
        background-color: var(--g-color-base-background);
    }

    // monaco set the hardcoded cursor in block styles with line numbers, by default
    // which differs from default cursor
    & .monaco-editor .margin-view-overlays .line-numbers {
        cursor: inherit;
    }
}
