.dl-copy-entries-workbook-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 32px);

    &__body {
        display: flex;
        flex-direction: column;
        padding-bottom: 32px;
        overflow-y: auto;
    }

    &__error-block {
        max-width: 100%;

        .error-content__debug-info {
            width: 100%;
        }
    }

    &__error {
        flex: 1;
        align-self: center;
        justify-self: center;
        margin: 20px;
    }
}
