@mixin with-text-overflow() {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}

.geolayers-select {
    display: flex;
    align-items: center;

    max-width: calc(100% - 40px); // 40px is the width of the plusButton of its margin
    height: 28px;
    padding-left: 8px;

    cursor: pointer;
    user-select: none;

    border: 1px solid var(--g-color-line-generic);
    border-radius: 4px;

    transition:
        border-color 0.1s linear,
        background-color 0.1s linear;

    &:active {
        transform: scale(0.98);
    }

    &:hover {
        border-color: var(--g-color-line-generic);
        background-color: var(--g-color-base-simple-hover);
    }

    &_active {
        border-color: var(--g-color-line-generic-active);
    }

    &__label {
        display: inline-block;
        flex: 1 1 auto;
        @include with-text-overflow();
    }

    &__arrow-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 30px;
        height: 100%;
    }

    &__popup {
        display: flex;
        overflow: hidden;
        flex-direction: column;

        max-width: 500px;
        max-height: 50vh;
        padding: 4px 0;

        border-color: var(--g-color-line-generic);
        border-radius: 4px;
        background-color: var(--g-color-base-background);
        box-shadow: 0 2px 4px 0 var(--g-color-sfx-shadow);
    }

    &__popup-title {
        display: flex;
        align-items: center;

        padding-left: 16px;

        line-height: 28px;

        color: var(--g-color-text-secondary);
    }

    &__popup-button-plus {
        margin-left: 6px;
    }

    &__popup-item {
        position: relative;

        padding-right: 36px;
        padding-left: 32px;

        cursor: pointer;
    }

    &__popup-item-content {
        display: flex;
        align-items: center;

        width: 100%;
        margin-right: 5px;
    }

    &__popup-item-label {
        flex: 1 1 auto;
        @include with-text-overflow();
    }

    &__button-dots-wrap {
        position: absolute;
        top: 50%;
        right: 12px;

        display: none;

        transform: translateY(-50%);
    }

    &__popup-item-content &__button-dots {
        color: var(--g-color-text-secondary);
    }

    &__popup-item.g-list__item_active &__button-dots-wrap {
        display: block;
    }

    &__popup-item .g-list__item-sort-icon {
        margin-right: 10px;
    }
}
