.service-settings-color-palettes {
    &__header {
        margin: 0;
    }

    &__content {
        flex-direction: column;

        &_tab {
            margin-top: var(--g-spacing-6);
        }
    }

    &__description {
        margin: 10px 0 20px;
    }
}
