.dl-uikit-select-popup {
    max-height: 302px;
    margin: 6px 0;

    border-radius: var(--g-border-radius-m);
}

.select-empty-options {
    padding: 12px 8px;
}

.select-error-text {
    word-break: break-word;
}
