.conn-dialog-s3-source {
    display: flex;
    flex-direction: column;
    height: 340px;

    &__list-container {
        overflow: auto;
    }

    &__list-header,
    &__list-row {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        gap: 12px;
        height: 42px;
        padding: 0 8px;
        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__list-header {
        font-weight: 500;
    }

    &__list-header-clickable {
        display: flex;
        gap: 12px;
        cursor: pointer;
    }

    &__list-row {
        width: 100%;
        cursor: pointer;

        &_disabled {
            background-color: var(--g-color-base-generic-accent-disabled);
            cursor: default;
        }

        &_selected {
            background-color: var(--g-color-base-selection);
        }
    }
}
