{
    "extends": "@gravity-ui/eslint-config/client",
    "rules": {
        "camelcase": 0,
        "react/display-name": [1]
    },
    "overrides": [
        {
          "files": ["datalens/**/*", "entries/**/*", "store/**/*"], 
          "rules": {
            "sort-imports": [0],
            "import/order": [0]
          }
        }
    ]
}
