@import '../../styles/mixins';

$avatarHeight: 32px;

.avatar {
    z-index: 2;

    display: flex;
    align-items: center;

    height: $avatarHeight;
    padding: 0 30px 0 9px;

    cursor: pointer;

    border: 1px solid transparent;

    &:hover {
        background: var(--ds-color-hover-area);
    }

    &_drag {
        opacity: 0.5;
    }

    &_over {
        border: 1px solid var(--g-color-line-generic);
    }

    &_active {
        position: relative;

        flex: 0 0 240px;

        width: 240px;
        height: 32px;
        margin-bottom: 12px;

        border-radius: 4px;
        background: var(--ds-color-avatar);

        &:hover {
            border: 1px solid var(--g-color-line-generic);
            background: var(--ds-color-avatar);
        }
    }

    &_source {
        background: var(--ds-color-avatar);

        &:hover {
            background: var(--ds-color-avatar);
        }
    }

    &_drag_disabled {
        cursor: auto;
    }

    &__icon-avatar {
        flex-shrink: 0;

        margin-right: 8px;
    }

    &__avatar-title {
        flex-grow: 1;
        @include overflow-ellipsis;
    }

    &__btn-edit {
        display: flex;
        justify-content: center;

        width: 24px;
        height: 24px;

        &-icon {
            position: relative;
            left: 10px;

            display: flex;
            align-items: center;

            height: inherit;
        }
    }

    &__btn-delete-avatar {
        width: 24px;
        height: 24px;

        &.g-button {
            position: absolute;
            right: 2px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &__replace-source-area {
        position: absolute;
        right: 2px;

        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;

        color: var(--g-color-base-brand);
        border: 1px dashed var(--g-color-base-brand);
        border-radius: 4px;

        &_over {
            right: 0;

            width: $avatarHeight;
            height: $avatarHeight;

            color: var(--g-color-base-background);
            background: var(--g-color-base-brand);
        }
    }
}
