@import '~@gravity-ui/uikit/styles/mixins';

.dl-entry-title {
    display: inline-flex;
    overflow: hidden;
    align-items: center;

    width: 100%;

    color: var(--g-color-text-primary);

    &_pointer {
        cursor: pointer;
    }

    &__icon {
        margin-right: 8px;

        line-height: 0;
    }

    &__name {
        @include overflow-ellipsis();
    }

    &__date {
        color: var(--g-color-text-secondary);
        @include overflow-ellipsis();
        @include text-caption-2();
    }

    &__info {
        @include overflow-ellipsis();
    }
}
