@import '~@gravity-ui/uikit/styles/mixins';

.dl-entry-title {
    display: inline-flex;
    align-items: center;
    color: var(--g-color-text-primary);
    overflow: hidden;
    width: 100%;

    &_pointer {
        cursor: pointer;
    }

    &__icon {
        line-height: 0;
        margin-right: 8px;
    }

    &__name {
        @include overflow-ellipsis();
    }

    &__date {
        @include overflow-ellipsis();
        color: var(--g-color-text-secondary);
        @include text-caption-2();
    }

    &__info {
        @include overflow-ellipsis();
    }
}
