.dl-collections-structure-structure-item-select {
    display: flex;
    overflow-y: auto;
    flex-direction: column;

    height: 400px;

    transition: opacity 0.2s;

    &_denied-and-empty {
        height: 450px;
    }

    &_disabled {
        pointer-events: none;

        opacity: 0.7;
    }

    &__breadcrumbs {
        margin-bottom: 12px;
    }

    &__items {
        overflow-y: auto;

        height: 100%;
    }

    &__denied-message-wrapper {
        margin-bottom: 8px;
    }

    &__denied-message {
        display: flex;
        align-items: center;

        padding: 12px;
    }

    &__denied-message-icon {
        height: 15px;
        margin-right: 10px;
    }

    &__denied-message-text {
        font-size: 13px;
        line-height: 18px;
    }

    &__main-loader {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    &__page-loader {
        display: flex;
        align-self: center;

        padding: 20px;
    }
}
