@import '../../../../../styles/variables';

.field-info {
    display: flex;
    align-items: center;

    margin-right: 16px;

    &__container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &__title {
        overflow: hidden;

        text-overflow: ellipsis;
    }

    &__icon {
        flex-shrink: 0;

        margin-right: 5px;

        &_parameter {
            color: var(--g-color-text-utility);
        }

        &_measure {
            color: var(--color-formula-measure);
        }

        &_dimension {
            color: var(--color-formula-dimension);
        }
    }
}
