@import '~@gravity-ui/uikit/styles/mixins';

.dialog-aliases {
    width: 900px;

    &__controls {
        margin-bottom: 16px;
    }

    &__collapse-list-content {
        max-height: 176px;
        overflow-x: hidden;
        overflow-y: auto;
    }

    &__info {
        line-height: 16px;
        margin-left: 4px;
    }

    &__info-text {
        margin: 0 0 13px;
    }

    &__info-text + &__info-text {
        margin-bottom: 0;
    }

    &__card {
        margin-bottom: 16px;
    }

    &__sub-header {
        margin-bottom: 16px;
        word-wrap: break-word;
    }

    &__label {
        margin-right: 4px;
        white-space: nowrap;
    }

    &__type-text {
        &_lower-case {
            display: inline-block;

            &::first-letter {
                text-transform: lowercase;
            }
        }
    }
}
