@use 'sass:math';

@mixin flexReactGridLayout($minHeight: 44px) {
    & > .react-grid-layout {
        flex: 1;
        transition: none;
        min-height: $minHeight;
    }
}

@mixin dndHighlight {
    &_edit-mode {
        position: relative;
        .react-grid-layout {
            background-color: var(--g-color-base-background);
            border-radius: var(--g-border-radius-s);
            outline: 1px dashed var(--g-color-line-generic);
        }
    }
}

$fixedSectionOffset: 8px;

.dash-fixed-header {
    &__controls {
        display: flex;
        flex: 1;
        padding: 8px 0;
        min-height: 60px;

        @include dndHighlight;

        &_fixed {
            position: fixed;
            top: 40px;
            background-color: var(
                --dl-color-fixed-header-background,
                var(--g-color-base-background)
            );
            padding-left: 24px;
            padding-right: 24px;
            margin-left: -24px;
            z-index: 10;
        }
    }

    &__controls-placeholder {
        height: 60px;
        display: flex;
        flex-direction: row;
    }

    &__controls-grid {
        display: flex;
        flex-grow: 1;

        @include flexReactGridLayout;
    }

    &__controls-settings {
        width: math.div(100%, 36) * 1;
        flex-shrink: 0;
        position: relative;
    }

    &__controls-settings-wrapper {
        position: absolute;
        inset: 0px 0px 0px 8px;
        display: flex;
        min-width: 28px;
        align-items: center;
        justify-content: end;
    }

    &__container-placeholder {
        margin-bottom: 20px;

        &_edit-mode {
            border-bottom: 1px solid var(--g-color-line-generic);
        }
    }

    &__container-wrapper {
        display: flex;
        padding-bottom: $fixedSectionOffset;
        flex-direction: row;
        flex: 1;

        @include flexReactGridLayout;
    }

    &__container {
        display: flex;
        flex-direction: row;
        min-height: 52px;

        @include dndHighlight;

        &_fixed {
            position: fixed;
            overflow: auto;
            top: 100px;
            background-color: var(
                --dl-color-fixed-header-background,
                var(--g-color-base-background)
            );
            border-bottom: 1px solid var(--g-color-line-generic);
            padding-left: 24px;
            padding-right: 24px;
            margin-left: -24px;
            z-index: 10;
            max-height: calc(100vh - 100px);
        }

        &_collapsed {
            overflow: clip;
            min-height: 0;
            max-height: 0;
        }
    }

    &__empty {
        position: absolute;
        left: 0;
        right: 0;
        transform: translateY(-50%);
        top: 50%;
        pointer-events: none;
        color: var(--g-color-text-hint);
        text-align: center;

        &.with-offset {
            top: calc(50% - #{$fixedSectionOffset});
            transform: translateY(calc(-1 * calc(50% - calc(#{$fixedSectionOffset}) / 2)));
        }
    }
}
