.form-section {
    &:not(:last-child) {
        margin-block-end: var(--g-spacing-6);
    }

    &__title {
        display: block;
    }

    &__title-wrapper {
        margin-block-end: var(--g-spacing-4);
    }
}
