@import '~@gravity-ui/uikit/styles/mixins';

.dl-color-palette {
    $color-item-size: 28px;

    $class: &;

    display: flex;
    flex-direction: column;

    padding: var(--g-spacing-4);

    &__hint {
        margin-top: var(--g-spacing-2);

        color: var(--g-color-text-secondary);
        @include text-body-1();
    }

    &__custom-palette-bg-btn,
    &__highlight-wrapper {
        width: $color-item-size;
        height: $color-item-size;
    }

    &__custom-palette-bg-btn,
    &__palette-list-btn {
        // disable inheritance from theme
        --g-button-border-radius: 6px;
        // disable selected additional background on button
        --g-button-background-color: transparent;
        --g-button-background-color-hover: transparent;
    }

    &__preset {
        display: grid;
        flex-shrink: 0;
        grid-template-columns: repeat(auto-fit, $color-item-size);
        gap: var(--g-spacing-2);

        margin-block-end: var(--g-spacing-2);
    }

    &__palette {
        flex-shrink: 0;

        margin-block-start: var(--g-spacing-5);
    }

    &__color-picker {
        display: block;
        flex-shrink: 0;

        width: 140px;
        min-width: 100%;
    }

    &__highlight-wrapper {
        --_--color-item-border-color: transparent;
        position: relative;

        border-radius: 6px;

        &_with-border {
            --_--color-item-border-color: var(--g-color-line-generic);

            #{$class}__color-item {
                border: 1px solid var(--g-color-line-generic);
            }
        }

        &::before {
            position: absolute;
            inset: 0;

            content: '';

            border: 1px solid var(--_--color-item-border-color);
            border-radius: 6px;
        }

        &_selected,
        &:hover {
            --_--color-item-border-color: transparent;
            #{$class}__color-item {
                border-width: 0px;
            }
        }

        &:not(&_selected):hover::before {
            position: absolute;
            inset: -3px;

            content: '';

            border: 2px solid var(--g-color-line-generic-hover);
            border-radius: 9px;
        }

        &_selected::before {
            position: absolute;
            inset: -3px;

            content: '';

            border: 2px solid var(--g-color-line-brand);
            border-radius: 9px;
        }
    }

    &__tooltip-trigger {
        position: absolute;
        z-index: 1000;
        inset: 0;
    }
}
