.dl-view-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        margin-left: 26px;

        font-size: var(--g-text-body-2-font-size);
        line-height: var(--g-text-body-2-line-height);
    }
}
