.dl-view-loader {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        font-size: var(--g-text-body-2-font-size);
        line-height: var(--g-text-body-2-line-height);
        margin-left: 26px;
    }
}
