.dialog-metric-colors {
    width: 432px;

    &__row {
        margin-top: 16px;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &__title {
        width: 106px;
        margin-right: 20px;
    }
}
