.dialog-metric-colors {
    &__row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    &__title {
        width: 106px;
        margin-right: 20px;
    }
}
