@import '~@gravity-ui/uikit/styles/mixins';

.dl-main-tab-content {
    $class: &;

    display: flex;
    flex-direction: column;

    &__table {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        height: 48px;
    }

    &__header_closed {
        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__table-header {
        display: table-header-group;
    }

    &__table-header-cell {
        display: table-cell;
    }

    &__table-header-cell {
        padding: 0 10px;
        box-sizing: content-box;

        &_author {
            width: 165px;
        }

        &_date {
            width: 150px;
        }

        &_controls {
            width: 100px;
        }
    }

    &__content {
        margin: auto 0;
    }

    &__title {
        display: flex;
        font-style: normal;
        font-weight: 500;
        cursor: pointer;
    }

    &__title-text {
        margin-left: 6px;
    }

    &__create-btn {
        text-align: right;
    }

    &__no-objects {
        color: var(--g-color-text-secondary);
        margin-left: 20px;
    }

    &__show-more-btn {
        width: 100%;
        margin-top: 16px;
    }

    &__retry-btn {
        margin-top: 16px;
        max-width: 83px;
    }

    &__error-text {
        font-size: 15px;
        color: var(--g-color-text-danger);
    }

    &_mobile {
        #{$class}__title,
        #{$class}__content-cell {
            @include text-body-2;
        }

        #{$class}__title-text {
            font-weight: 500;
        }

        #{$class}__title-col {
            padding-right: 8px;
        }

        #{$class}__table-header-cell_date {
            width: 60px;
        }
    }
}
