.dataset-router {
    display: flex;
    flex-direction: column;

    min-width: 1100px;
    height: 100%;

    & > header {
        flex-shrink: 0;

        background: var(--ds-color-base);
    }
}
