@import '~@gravity-ui/uikit/styles/mixins';

.related-entities-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__title {
        @include text-subheader-1;
    }

    &__row {
        height: 28px;
        padding-left: 0;
    }

    &__button-retry {
        align-self: flex-start;
    }
}
