.dl-collection-layout {
    display: flex;
    flex: 1;
    justify-content: center;

    &__container {
        display: flex;
        flex: 1;
        flex-direction: column;
        max-width: 936px;
        padding: 0 20px;

        position: relative;
    }

    &__title-content {
        display: flex;
        margin: 28px 0 0;
    }

    &__title {
        margin: 0 8px 0 0;
        font-size: 24px;
        line-height: 28px;
    }

    &__controls {
        margin-top: 28px;
    }

    &__description {
        margin-top: 20px;
    }

    &__content {
        display: flex;
        flex: 1;
        flex-direction: column;
        margin: 28px 0;
    }
}
