@import '../../../../styles/mixins';

.dl-core-navigation-breadcrumbs {
    flex: 1 1 0;
    position: relative;
    height: var(--dl-navigation-breadcrumbs-height);

    &__wrapper {
        position: absolute;
        inset: 0;

        line-height: var(--dl-navigation-breadcrumbs-height);
        vertical-align: middle;
        display: flex;
    }

    &__line {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__component {
        padding: 0 10px;
        max-width: 100%;

        &_showMenu {
            max-width: calc(100% - 40px);
        }
    }

    &__item {
        @include dl-breadcrumbs-items-style;
        height: 100%;
    }

    &__item_last {
        font-weight: 500;
    }

    &__item:not(&__item_last):hover {
        color: var(--g-color-text-primary);
    }
}
