@import '../../../../styles/mixins';

.dl-core-navigation-breadcrumbs {
    position: relative;

    flex: 1 1 0;

    height: var(--dl-navigation-breadcrumbs-height);

    &__wrapper {
        position: absolute;
        inset: 0;

        display: flex;

        line-height: var(--dl-navigation-breadcrumbs-height);
        vertical-align: middle;
    }

    &__line {
        display: flex;
        align-items: center;

        width: 100%;
    }

    &__component {
        max-width: 100%;
        min-height: var(--dl-navigation-breadcrumbs-height);
        padding: 0 10px;

        &_showMenu {
            max-width: calc(100% - 40px);
        }
    }

    &__item {
        height: 100%;
    }

    &__item_last {
        font-weight: 500;
    }

    &__item:not(&__item_last):hover {
        color: var(--g-color-text-primary);
    }
}
