.wizard-chart-settings__settings .zoom-setting {
    --gc-form-row-label-width: 140px;

    &__input {
        display: inline-block;

        width: 170px;
        margin-left: 12px;

        vertical-align: top;
    }
}
