.dl-core-navigation-favorites-alias {
    &__edit-favorites-alias-btn {
        display: flex;
        justify-content: center;
        align-items: center;

        min-width: 28px;
        min-height: 28px;
        margin-right: 5px;

        cursor: pointer;

        color: var(--g-color-text-secondary);
        border-radius: 4px;

        &:hover {
            background: var(--g-color-base-simple-hover);
        }
    }

    &__lock {
        flex: 0 0 16px;

        margin: 2px 5px 0 10px;

        color: var(--g-color-text-hint);
    }

    &__name-line {
        display: flex;
        overflow: hidden;
        flex: 1 1 auto;

        line-height: 20px;
    }
}
