@import '../../../../styles/variables';
@import '../../../../styles/mixins';

.editor-page {
    @include revision-panel-fix;
    height: calc(100% - #{$headerHeight});
    min-width: 1100px;
    display: flex;
    flex-direction: column;
    background-color: var(--g-color-base-background);

    &_aside {
        height: 100%;
    }

    &__main {
        height: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    &__content {
        flex-grow: 1;
        display: block;
        position: relative;
        width: 100%;
        height: calc(100% - #{$actionPanelHeight});
    }
}
