.entry-type-name {
    display: flex;
    margin-right: 8px;
    background-color: var(--g-color-base-selection);
    text-align: center;
    padding: 0px 12px;
    border-radius: 2px;
    height: 28px;
    vertical-align: bottom;
    font-size: var(--g-text-body-1-font-size);
    line-height: 28px;
    color: var(--g-color-text-primary);
    flex: 0 0 auto;
}
