.dl-float-menu {
    --g-button-height: 56px;
    --g-button-border-radius: 0;
    --g-button-background-color-hover: transparent;

    position: fixed;
    z-index: 7;
    right: 0;
    bottom: 16px;
    left: 0;

    width: 100%;

    opacity: 1;

    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
    transform: translateY(0);

    &_hidden {
        pointer-events: none;

        opacity: 0;

        transform: translateY(100px);
    }

    &__content {
        overflow: hidden;

        margin-inline: var(--g-spacing-4);
        padding: 0 var(--g-spacing-2);

        border-radius: 20px;
        background-color: var(--g-color-base-float-accent);
        box-shadow: 0px 2px 52px 0px var(--g-color-sfx-shadow);
    }
}
