.pane-view {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    flex-grow: 1;

    &__control-panel {
        height: 36px;
        display: flex;
        align-items: center;
        flex-shrink: 0;
        padding-left: 10px;
        overflow: hidden;
    }

    &__panel-right-section {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-left: auto;
    }

    &__content {
        display: flex;
        flex: 1 1 0%;
        width: 100%;
        height: calc(100% - 36px);
        position: absolute;
        inset: 36px 0 0;

        &_hide {
            visibility: hidden;
            pointer-events: none;
        }
    }

    &__editor {
        flex: 1 0 0;
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0;
    }

    &__btn-search,
    &__btn-diff {
        margin-right: 2px;
    }
}
