.documentation {
    --g-tabs-item-gap: 20px;

    position: absolute;
    inset: 36px 0 0;
    background-color: var(--g-color-base-generic-ultralight);
    display: flex;
    flex-direction: column;
    padding-left: 18px;

    &__panel {
        flex: 0 0 auto;
        display: flex;
        align-items: center;
        padding-right: 5px;
    }

    &__tabs {
        margin-right: auto;
        overflow: hidden;

        .g-tabs {
            flex-wrap: nowrap;
        }
    }

    &__module-docs,
    &__docs {
        overflow: auto;
        display: flex;
        flex-direction: column;
        flex-grow: 1;
    }

    &__docs-body {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-right: 4px;
    }

    &__docs-content {
        flex-shrink: 0;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    &__docs-footer {
        margin-top: 20px;
        flex-shrink: 0;
    }

    &__module-docs-content {
        padding-right: 4px;
    }

    &__no-docs {
        font-size: var(--text-body2-font-size);
        padding-top: 20px;
    }

    .yfm-clipboard-button {
        display: none;
    }
}
