@import '~@gravity-ui/uikit/styles/mixins';

.widget-item-dialog {
    width: 960px;
    max-height: 507px;
    display: flex;

    &_long {
        max-height: 547px;
    }

    &_without-sidebar {
        width: 705px;
    }

    & {
        --dl-dropdown-navigation-width: 330px;
    }

    &__sidebar {
        max-height: 100%;
        display: flex;
        flex: 1;
        flex-direction: column;
        width: 255px;
    }

    &__add-icon {
        margin-left: 6px;
    }

    &__dialog-sidebar {
        display: flex;
        flex-direction: column;
    }

    &__main {
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    &__help-tooltip {
        line-height: 16px;
        margin-left: 5px;
    }

    &__navigation-input-container {
        display: grid;
        grid-auto-rows: 40px;
        align-items: center;
    }

    &__textarea-wrapper {
        display: flex;
        height: 80px;
        padding: 6px 0;
    }

    .widget-item-dialog__line {
        display: grid;
        grid-template-columns: 140px auto;
        line-height: 40px;
    }

    .widget-item-dialog__line-caption {
        display: flex;
        align-items: flex-start;
        color: var(--g-color-text-primary);
    }

    .widget-item-dialog__params-title {
        @include text-subheader-3();
    }

    .widget-item-dialog__params-collapse {
        margin-top: 20px;
    }

    .widget-item-dialog__line-content {
        display: flex;
        align-items: center;
    }

    &__input {
        width: 330px;
        margin-right: 10px;
        display: inline-flex;
    }

    &__add-param-button {
        margin-left: 175px;
    }

    &__params {
        min-height: 65px;
        display: flex;
        flex-wrap: wrap;

        &_empty {
            align-items: center;
            justify-content: center;
            color: var(--g-color-text-secondary);
        }
    }

    &__dialog-params {
        width: 550px;
        display: grid;
        grid-row-gap: 15px;

        &-row {
            display: grid;
            grid-template-columns: 15% auto;
            align-items: center;
        }
    }

    &__caption {
        &_inactive {
            opacity: 0.3;
        }
    }

    &__caption-text {
        position: relative;
        top: 1px;
    }

    &__error {
        color: var(--g-color-text-danger);
        padding: 10px;
    }

    &__section-title {
        @include text-subheader-2();
        font-weight: 500;
        margin: 16px 0;
    }

    &__beta {
        margin-left: 4px;
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__content-body {
        overflow-y: auto;
    }

    &__info-comment {
        color: var(--g-color-text-secondary);
        line-height: var(--g-text-body-1-line-height);
        margin: 0;
    }
}
