@import '~@gravity-ui/uikit/styles/mixins';

.widget-item-dialog {
    width: 960px;
    height: 728px;
    display: flex;

    $class: &;

    & {
        --dl-dropdown-navigation-width: 330px;
    }

    &__body {
        overflow: hidden;
        height: 100%;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: var(--g-spacing-8);
            right: var(--g-spacing-8);
            border-top: 1px solid var(--g-color-base-generic);
        }

        &_with-sidebar {
            display: flex;
            gap: var(--g-spacing-4);
            align-items: stretch;
        }
    }

    &__sidebar {
        --tab-menu-list-item-horizontal-padding: var(--g-spacing-4);
        --tab-menu-list-item-border-radius: var(--g-border-radius-m);

        width: 260px;
        max-height: 100%;
        display: flex;
        flex-grow: 0;
        flex-direction: column;
        overflow-y: auto;
    }

    &__content {
        display: flex;
        flex-direction: column;
        overflow-y: auto;
        gap: var(--g-spacing-6);
    }

    &__section-title {
        @include text-subheader-2();
        display: flex;
        height: 28px;
        align-items: center;
        margin-block-end: var(--g-spacing-3);
    }

    &__navigation-input-container {
        display: grid;
        grid-auto-rows: 40px;
        align-items: center;
    }

    &__textarea {
        height: 80px;
        width: 330px;
    }

    &__row {
        margin-bottom: var(--g-spacing-2);
    }

    &__settings-container {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 5px;
        gap: 8px;
    }

    &__checkbox {
        margin-block-start: var(--g-spacing-2);
    }

    .widget-item-dialog__line {
        display: grid;
        grid-template-columns: 140px auto;
        line-height: 40px;
    }

    .widget-item-dialog__line-caption {
        display: flex;
        align-items: flex-start;
        color: var(--g-color-text-primary);
    }

    .widget-item-dialog__params-title {
        @include text-subheader-3();
    }

    .widget-item-dialog__line-content {
        display: flex;
        align-items: center;
    }

    &__add-param-button {
        margin-left: 175px;
    }

    &__params {
        min-height: 65px;
        display: flex;
        flex-wrap: wrap;

        &_empty {
            align-items: center;
            justify-content: center;
            color: var(--g-color-text-secondary);
        }
    }

    &__dialog-params {
        width: 550px;
        display: grid;
        grid-row-gap: 15px;

        &-row {
            display: grid;
            grid-template-columns: 15% auto;
            align-items: center;
        }
    }

    &__error {
        color: var(--g-color-text-danger);
        padding: 10px;
    }

    &__beta {
        margin-left: 4px;
    }

    &__info-comment {
        color: var(--g-color-text-secondary);
        line-height: var(--g-text-body-1-line-height);
        margin: var(--g-spacing-2) 0 0 0;
    }
}
