.dl-core-navigation-sidebar {
    &__places {
        margin-bottom: 8px;
    }

    &__header {
        display: flex;
        align-items: center;

        height: 56px;
        padding: 10px 20px;

        font-size: 15px;
        font-weight: 500;
    }

    &__item {
        display: flex;
        align-items: center;

        height: 40px;
        padding: 0 16px;

        cursor: default;
        text-decoration: none;

        color: var(--g-color-text-complementary);

        &:hover:not(&_current) {
            cursor: pointer;

            color: var(--g-color-text-primary);
            background: var(--g-color-base-simple-hover);
        }

        &_current {
            color: var(--g-color-text-primary);
            background: var(--g-color-base-selection);
        }
    }

    &__item-icon {
        margin-right: 18px;
        margin-left: 7px;
    }

    &__quick-header {
        height: 32px;
        padding: 8px 20px 0;

        line-height: 24px;

        color: var(--g-color-text-hint);
    }
}
