@import '../../../../styles/mixins.scss';

$paletteItemSizeS: 24px;
$paletteItemSizeM: 30px;

.minified-palette {
    &__selector {
        width: 100%;
        margin-bottom: 12px;
    }

    &__selector-popup {
        @include dl-select-popup;
    }

    &__color-input-wrapper {
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 5px;
    }

    &__color-input {
        width: 164px;
        height: 28px;
    }

    &__color-input-icon {
        margin-right: 4px;
        height: 24px;
        width: 24px;
        pointer-events: none;
    }

    &__palette {
        &_size {
            &_s {
                grid-gap: 4px;
                grid-template-columns: repeat(7, $paletteItemSizeS);
                grid-auto-rows: $paletteItemSizeS;
            }

            &_m {
                grid-gap: 5px;
                grid-template-columns: repeat(7, $paletteItemSizeM);
                grid-auto-rows: $paletteItemSizeM;
            }
        }
    }

    & &__item {
        &_size {
            &_s {
                width: $paletteItemSizeS;
                height: $paletteItemSizeS;

                &.palette-item:hover,
                &.palette-item_selected {
                    &::before {
                        width: $paletteItemSizeS + 4px;
                        height: $paletteItemSizeS + 4px;
                    }
                }
            }

            &_m {
                width: $paletteItemSizeM;
                height: $paletteItemSizeM;
                border-radius: 5px;

                &.palette-item:hover,
                &.palette-item_selected {
                    &::before {
                        width: $paletteItemSizeM + 4px;
                        height: $paletteItemSizeM + 4px;
                    }
                }
            }
        }

        &.palette-item:hover,
        &.palette-item_selected {
            &::before {
                width: 36px;
                height: 36px;
                border: 2px solid var(--g-color-line-brand);
                border-radius: 8px;
            }
        }
    }
}
