@import '../../../../styles/mixins.scss';

$paletteItemSizeM: 28px;

.minified-palette {
    &__selector {
        margin-bottom: 12px;
    }

    &__color-input-wrapper {
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 5px;
    }

    &__color-input {
        width: 164px;
        height: 28px;
    }

    &__color-input-icon {
        margin-right: 4px;
        height: $paletteItemSizeM;
        width: $paletteItemSizeM;
        border-radius: 6px;
        pointer-events: none;
    }

    &__palette {
        grid-gap: 8px;
        grid-template-columns: repeat(7, $paletteItemSizeM);
        grid-auto-rows: $paletteItemSizeM;
    }

    & &__item {
        border-radius: 6px;

        &.palette-item:hover,
        &.palette-item_selected {
            &::before {
                border-width: 2px;
                border-radius: 9px;
                width: $paletteItemSizeM + 6px;
                height: $paletteItemSizeM + 6px;
            }
        }

        &.palette-item_selected {
            &::before {
                border-color: var(--g-color-line-brand);
            }
        }
    }
}
