@import '../../../../styles/mixins.scss';

$paletteItemSizeS: 24px;
$paletteItemSizeM: 30px;

.minified-palette {
    &__selector {
        width: 100%;
        margin-bottom: 12px;
    }

    &__selector-popup {
        @include dl-select-popup;
    }

    &__color-input-wrapper {
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-bottom: 5px;
    }

    &__color-input {
        width: 164px;
        height: 28px;
    }

    &__color-input-icon {
        margin-right: 4px;
        height: 24px;
        width: 24px;
        pointer-events: none;
    }

    &__palette {
        &_size {
            &_s {
                grid-gap: 4px;
                grid-template-columns: repeat(7, $paletteItemSizeS);
                grid-auto-rows: $paletteItemSizeS;
            }

            &_m {
                grid-gap: 5px;
                grid-template-columns: repeat(7, $paletteItemSizeM);
                grid-auto-rows: $paletteItemSizeM;
            }
        }
    }

    & &__item {
        &_size {
            &_s {
                width: $paletteItemSizeS;
                height: $paletteItemSizeS;

                &.palette-item:hover,
                &.palette-item_selected {
                    &::before {
                        width: $paletteItemSizeS + 6px;
                        height: $paletteItemSizeS + 6px;
                    }
                }
            }

            &_m {
                width: $paletteItemSizeM;
                height: $paletteItemSizeM;

                &.palette-item:hover,
                &.palette-item_selected {
                    &::before {
                        border-width: 2px;
                        border-radius: 6px;
                        width: $paletteItemSizeM + 6px;
                        height: $paletteItemSizeM + 6px;
                    }
                }
            }
        }

        &.palette-item_selected {
            &::before {
                border-color: var(--g-color-line-brand);
            }
        }
    }
}
