@import '../../../../styles/mixins.scss';

.add-field {
    &__option {
        display: flex;

        width: 100%;
    }

    &__option-icon {
        margin-right: 6px;
    }

    &__option-text {
        @include overflow-ellipsis;
    }

    &__popup {
        min-width: 170px;
        @include dl-select-popup;
    }
}

.add-field__dimension-icon {
    color: var(--g-color-text-positive);
}

.add-field__measure-icon {
    color: var(--g-color-text-info);
}
