.dl-datepicker-presets {
    display: flex;
    flex: 0 0 40px;
    align-items: center;

    color: var(--g-color-text-secondary);
    background-color: var(--g-color-base-generic);

    .dl-datepicker_mobile & {
        justify-content: center;
    }

    &__item {
        margin-left: 16px;

        cursor: pointer;

        .dl-datepicker_desktop &:hover {
            color: var(--g-color-text-complementary);
        }

        .dl-datepicker_mobile &:first-child {
            margin-left: 0;
        }
    }
}
