@import '~@gravity-ui/uikit/styles/mixins';

.dl-settings-section-group {
    &__row {
        display: flex;
        flex-direction: row;
    }

    &__title {
        flex-shrink: 0;

        width: 264px;
        padding-right: var(--g-spacing-7);
    }

    &__header {
        margin: 0;
        @include text-subheader-2;
    }

    &__content {
        flex-grow: 1;
    }
}
