@import '../styles/variables';
@import '../styles/mixins';

.wizard-app {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-width: 1100px;

    .dnd-container {
        padding-top: 8px;

        .item-icon {
            display: inline-block;
            margin-right: 8px;
        }
    }
}
