@import '../styles/base';

.app {
    height: 100%;
    min-width: 1100px;

    &__main {
        height: calc(100% - 70px);
    }

    &__main_aside {
        height: 100%;
    }
}

.g-root .popup2.popup2_view_default.popup2_target_anchor {
    box-shadow: 0 2px 4px 0 var(--g-color-sfx-shadow-heavy);
}

h2 {
    font-weight: 200;
}

hr {
    border: none;
    border-bottom: 1px solid var(--g-color-line-generic);
}

.hidden {
    display: none !important; // stylelint-disable-line declaration-no-important
}

.invisible {
    visibility: hidden !important; // stylelint-disable-line declaration-no-important
}

.dnd-container {
    min-height: 53px;
    padding-top: 8px;

    .item-icon {
        display: inline-block;
        margin-right: 8px;
    }
}
