@use '../../variables';

@import '~@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}-section-header';

#{$block} {
    @include text-header-1();

    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 36px;

    &_media_s {
        @include text-header-2();
    }
}
