@use '../../variables';

@import '~@gravity-ui/uikit/styles/mixins';

$block: '.#{variables.$ns}-section-header';

#{$block} {
    &__router-link {
        @include text-header-1();

        color: inherit;
        text-decoration: none;

        &_media_s {
            @include text-header-2();
        }
    }
}
