@import '~@gravity-ui/uikit/styles/mixins';

.dl-service-settings-color-palettes {
    &__header {
        margin: 0;
        font-weight: 500;
        font-size: var(--g-text-body-2-font-size);
        line-height: var(--g-text-body-2-line-height);
    }

    &__content {
        flex-direction: column;
    }

    &__description {
        margin: 10px 0 20px;
    }
}
