@import '../../../../../../../../../styles/mixins.scss';

.dialog-aliases-add {
    &__row {
        display: grid;
        grid-template-columns: 1fr 16px 1fr 32px 28px;
        align-items: flex-end;
    }

    &__button-wrap {
        margin-top: 20px;
    }

    &__select {
        width: 220px;
        max-width: 220px;
    }

    &__select-wrap {
        position: relative;
    }

    &__sub-title {
        word-break: break-word;
        line-clamp: 2;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 36px;
        margin-bottom: 4px;
        // stylelint-disable-next-line
        display: -webkit-box;
    }

    &__eq {
        height: 22px;
    }

    // icons above add selects are forming from other places, that's why classnames are different and need cascade
    & .dialog-relations-content__icon-row,
    & .dialog-relations__alias-add-icon-type {
        float: left;
    }

    &__dialog-popup {
        @include dl-select-popup;
    }

    &__error {
        color: var(--g-color-text-danger);
        margin-top: 8px;
    }
}
