.drag-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: move;
    color: var(--g-color-text-hint);

    &:hover {
        color: var(--g-color-text-secondary);
    }
}
