@import './variables';
@import './mixins';

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

a,
a:visited {
    text-decoration: none;
}

html {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

h1 {
    font-size: 17px;
}

h2 {
    font-size: 15px;
}

h3 {
    font-size: 13px;
}

ul,
li {
    margin: 0;
}

#root {
    height: 100%;
    width: 100%;
}
