@import './variables';

@mixin overflow-ellipsis() {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@mixin button-reset() {
    margin: 0;
    padding: 0;

    font-size: inherit;
    font-weight: 400;

    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}
