@import '../../../../styles/variables.scss';

$class: 'dl-collection-action-panel';

.dc-root {
    .#{$class} {
        &__container {
            border-top-left-radius: var(--dc-content-pane-border-radius);
        }
    }
}

.#{$class} {
    position: relative;
    height: $actionPanelHeight;
    min-height: $actionPanelHeight;

    &__container {
        position: fixed;
        z-index: 10;
        right: 0;
        box-sizing: border-box;
        height: $actionPanelHeight;
        display: flex;
        align-items: center;
        padding: 0 20px;
        border-bottom: 1px solid var(--g-color-line-generic);
        background: var(--g-color-base-background);
    }

    &__left-block {
        margin-right: auto;
        flex-basis: 50%;
        max-width: 50%;
    }

    &__right-block {
        margin-left: auto;
    }
}
