@use '../../variables';

@import '~@gravity-ui/uikit/styles/mixins';
@import '../../../../../styles/variables.scss';

$block: '.#{variables.$ns}-all';

#{$block} {
    &__loader {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 100%;
    }

    &__container {
        height: calc(100% - #{$actionPanelHeight});
        padding-left: 48px;
        padding-right: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;

        &_media_s,
        &_media_m {
            padding-left: 20px;
            padding-right: 20px;
        }

        &_maxWidth {
            max-width: unset;
            padding-inline: 0;
        }
    }

    &__filters {
        display: flex;
        gap: var(--g-spacing-6);

        @media (max-width: 577px) {
            flex-direction: column;
        }

        &_mobile {
            flex-direction: column;
        }
    }

    &__filter-category {
        flex-grow: 1;
    }

    &__filter-can-be-used {
        display: flex;
        justify-content: end;
        align-items: center;
        flex-shrink: 0;

        @media (max-width: 577px) {
            justify-content: start;
        }

        &_mobile {
            justify-content: start;
        }
    }
}
