.dash-loader {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    &__text {
        margin-left: 26px;

        font-size: 1.5em;
    }
}
