.dash-loader {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        font-size: 1.5em;
        margin-left: 26px;
    }
}
