.ql-pane-table-preview {
    min-height: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    overflow-y: scroll;
    --dl-table-border-color: var(--g-color-line-generic-solid);
}
