.select-multi-option {
    width: 100%;
    overflow: hidden;

    &__action-button {
        display: none;
        pointer-events: none;
    }

    &:hover &__action-button {
        display: block;
        pointer-events: all;
    }
}
