.select-option {
    width: 100%;

    &__action-button {
        visibility: hidden;
        pointer-events: none;
    }

    &:hover &__action-button {
        visibility: visible;
        pointer-events: all;
    }
}
