.select-option {
    width: 100%;
    overflow: hidden;

    &__text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__action-button {
        display: none;
        // visibility: hidden;
        pointer-events: none;
    }

    &:hover &__action-button {
        display: block;
        // visibility: visible;
        pointer-events: all;
    }
}
