@import '../../styles/mixins';

.select-sources-prototypes {
    $class: &;

    display: flex;
    flex-grow: 1;
    flex-direction: column;

    width: 100%;
    min-height: 200px;

    background: var(--ds-color-base-area);

    &__top-section {
        position: sticky;
        z-index: 1;
        top: 0;

        padding: 16px 20px 8px;

        font-weight: bold;

        background: var(--ds-color-base-area);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__select-db-name {
        width: 100%;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    &__input-search {
        width: 100%;
        margin-top: 8px;
    }

    &__connections {
        overflow-x: hidden;
        overflow-y: auto;
        flex-shrink: 0;

        min-height: 120px;
        max-height: 50%;

        border-bottom: 1px solid var(--ds-color-divider);
    }

    &__connection-wrap {
        position: relative;
    }

    &__connection {
        display: flex;
        flex: 0 0 32px;
        align-items: center;

        height: 32px;
        padding: 0 25px 0 16px;

        cursor: pointer;

        &_active {
            background: var(--ds-color-selection);
        }

        &:hover {
            background: var(--ds-color-hover-area);
        }

        &_active:hover {
            background: var(--ds-color-selection-solid);
        }

        &:hover {
            #{$class}__btn-delete-connection {
                display: inline-block;
            }
        }
    }

    &__icon-connection {
        flex-shrink: 0;
    }

    &__connection-title-container {
        display: flex;
        flex-grow: 1;
        align-items: center;
        gap: var(--g-spacing-1);

        min-width: 0;
        margin-right: var(--g-spacing-2);
    }

    &__connection-shared-icon {
        flex-shrink: 0;
    }

    &__connection-title {
        @include overflow-ellipsis;

        &_deleted {
            font-style: italic;

            color: var(--g-color-text-danger);
        }
    }

    &__icon-connection {
        margin-right: 8px;
    }

    &__icon-pencil {
        margin-left: auto;
    }

    &__bottom-section {
        position: sticky;
        bottom: 0;

        padding: 4px 8px;

        background: var(--ds-color-base-area);
    }

    &__btn-add-connection,
    &__btn-add-source {
        display: flex;
    }

    &__btn-add-source {
        bottom: 0;
    }

    &__btn-delete-connection {
        left: 20px;

        display: none;
    }

    // selector
    & &__btn-menu-control {
        position: absolute;
        top: 16px;
        right: 5px;

        display: flex;
        justify-content: center;
        align-items: center;

        transform: translateY(-50%);
    }

    &__sources {
        position: relative;

        display: flex;
        overflow-y: auto;
        flex-grow: 1;
        flex-direction: column;

        min-height: 120px;
        // In Yandex.Browser and Firefox in some cases, an endless redrawing of the height begins
        // in the react-window container (which is used in the List component)
        // This is due to the appearance/disappearance of the horizontal scroll
        padding-bottom: 1px;

        // TODO: tear off styles when the opportunity arises
        // customizing input styles in List [DATAUI-360]
        & .g-list__filter {
            margin: 0px 20px 8px;
        }
    }

    &__sources-error {
        height: 100%;
        padding: 16px 20px 6px;

        border-bottom: 1px solid var(--ds-color-divider);
    }

    &__sources-error-row {
        margin-bottom: 10px;
    }

    &__sources-error-btn {
        margin-right: 10px;
    }

    &__sources-error-container {
        display: flex;
        align-content: flex-start;
    }

    &__sources-error-icon {
        margin-right: 8px;

        color: var(--g-color-text-danger);
    }

    &__source-item {
        &:hover {
            background-color: transparent;
        }
    }

    &__loader-sources {
        display: flex;
        flex: 0 2 100%;
        justify-content: center;
        align-items: center;
    }

    &__active-sources {
        border-bottom: 1px solid var(--ds-color-divider);
    }

    &__inp-search-table {
        margin-top: 8px;
    }
}
