@import '../../styles/mixins.scss';

.dl-dialog-add-control {
    width: 620px;

    & .g-dialog-footer__children {
        position: relative;
    }

    &__section {
        margin-top: 15px;
    }

    &__body {
        min-height: 580px;
        @include dialog-max-height-scroll();
    }

    &__footer-error {
        position: absolute;
        top: -45px;
        color: var(--g-color-text-danger);
        font-size: var(--g-text-body-2-font-size);
        line-height: var(--g-text-body-2-line-height);
    }
}
