@mixin accessible-hidden() {
    position: absolute;

    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;

    opacity: 0;
}

.button-attach {
    display: inline-block;

    &__input {
        @include accessible-hidden;
    }
}
