.dialog-color {
    display: flex;
    flex-direction: column;
    width: 680px;
    height: 560px;
    max-height: 80vh;
    min-height: 300px;

    &_palette-mode {
        height: 560px;
    }

    &_gradient-mode {
        height: 380px;

        .color-settings-container {
            &__row {
                border-bottom: none;
            }

            &__label {
                margin: 0 20px 0 0;
            }
        }
    }

    & .g-dialog-header {
        padding-bottom: 15px;
    }

    &_palette-mode .g-dialog-body {
        height: calc(80vh);
        padding: 0;
        overflow-y: auto;
    }

    &_palette-mode .g-dialog-footer {
        border-top: 1px solid var(--g-color-line-generic);
    }

    &__title-icon {
        margin-bottom: 2px;
        margin-right: 4px;
        height: 24px;
        width: 24px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
