.dialog-shared-entries-permissions {
    &__body {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-3);
    }

    &__objects-wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__permissions-container {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-4);
    }
}
