.dl-shared-entry-icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 20px;
    height: 20px;

    color: var(--g-color-text-complementary);
    border: 1px solid var(--g-color-line-generic);
    border-radius: 6px;
}
