.dl-shared-entry-icon {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--g-color-text-complementary);
    border-radius: 6px;
    border: 1px solid var(--g-color-line-generic);
}
