.table-of-content {
    $borderWidth: 1px;
    $fullTabWidth: 250px;
    $bottomMargin: 28px;

    display: flex;
    background-color: var(--g-color-base-background);
    position: relative;
    flex: 1;
    overflow: hidden;

    &__wrapper {
        position: relative;
        border-right: $borderWidth solid var(--g-color-line-generic);
        height: 100%;
        width: 100%;
    }

    &__sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -250px;
        overflow: hidden;
        padding: 24px 0 24px 8px;
        width: $fullTabWidth - $borderWidth;
        height: 100%;

        &_opened {
            position: fixed;
            display: block;
            height: auto;
        }
    }

    &__header {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: bold;
        margin: 0 10px 15px;
    }

    &__header-title {
        flex: 1;
        cursor: default;
    }

    &__header-close {
        cursor: pointer;
    }

    &__tabs {
        height: calc(100% - $bottomMargin);
        overflow-y: scroll;
        overflow-x: hidden;
    }

    &__tab-item {
        padding-right: 8px;
    }

    &__title {
        display: block;
        text-decoration: none;
        color: inherit;
        font-size: 15px;
        padding: 10px;
        cursor: pointer;
        border-radius: 3px;
        hyphens: auto;
        word-break: break-word;

        &_item {
            opacity: 0.5;
            padding-left: 20px;
        }

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }

        &_selected {
            background-color: var(--g-color-base-selection);
        }
    }

    &__hint {
        padding-left: 5px;
        display: inline;
    }

    &__hint-tooltip {
        z-index: 100001;
    }
}
