.table-of-content {
    $borderWidth: 1px;
    $fullTabWidth: 250px;
    $bottomMargin: 28px;
    position: relative;

    display: flex;
    overflow: hidden;
    flex: 1;

    background-color: var(--g-color-base-background);

    &__wrapper {
        position: relative;

        width: 100%;
        height: 100%;

        border-right: $borderWidth solid var(--g-color-line-generic);
    }

    &__sidebar {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -250px;

        overflow: hidden;

        width: $fullTabWidth - $borderWidth;
        height: 100%;
        padding: 24px 0 24px 8px;

        &_opened {
            position: fixed;

            display: block;

            height: auto;
        }
    }

    &__header {
        display: flex;
        align-items: center;

        margin: 0 10px 15px;

        font-size: 18px;
        font-weight: bold;
    }

    &__header-title {
        flex: 1;

        cursor: default;
    }

    &__header-close {
        cursor: pointer;
    }

    &__tabs {
        overflow-x: hidden;
        overflow-y: scroll;

        height: calc(100% - $bottomMargin);
    }

    &__tab-item {
        padding-right: 8px;
    }

    &__title {
        display: block;

        padding: 10px;

        font-size: 15px;
        cursor: pointer;
        text-decoration: none;
        word-break: break-word;
        hyphens: auto;

        color: inherit;
        border-radius: 3px;

        &_item {
            padding-left: 20px;

            opacity: 0.5;
        }

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }

        &_selected {
            background-color: var(--g-color-base-selection);
        }
    }

    &__hint {
        display: inline;

        margin-left: 5px;
    }

    &__sheet {
        // for hint tooltip to be visible
        z-index: 1000;
    }
}
