.dialog-placeholder {
    display: flex;
    overflow-y: hidden;
    flex-direction: column;

    width: 720px;
    max-height: 90vh;

    &__body-container {
        overflow-y: auto;

        max-width: 100%;
        max-height: 100%;
    }

    &__title-popover {
        margin-left: 5px;

        vertical-align: middle;
    }

    &__min-input,
    &__max-input {
        width: 75px;
    }

    &__title-setting-container {
        display: flex;
        align-items: center;
    }

    &__title-radio-buttons {
        width: 235px;
    }

    &__title-input {
        width: 235px;
        margin-left: 15px;
    }

    &__grid-step-input {
        width: 155px;
    }

    &__title-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;
        margin-right: 4px;
        margin-bottom: 2px;
    }
}
