.setting-feed {
    &__container {
        align-items: center;
    }

    &__label {
        display: inline-block;
        width: 125px;
        margin-right: 16px;
    }

    &__feed-input.g-text-input {
        width: 250px;
    }
}
