.palette-color-control {
    position: relative;
    margin-bottom: var(--g-spacing-1);

    &__color-control-wrapper {
        display: flex;
    }

    & &__color-control-button {
        width: 24px;
        height: 24px;
        margin-right: var(--g-spacing-1);
        margin-block: 2px;

        &.palette-item:hover::before {
            content: none;
        }
    }

    &__color-control-input {
        width: 108px;
    }

    .g-text-input {
        position: static;

        &__error {
            position: absolute;
        }
    }

    &__palette {
        z-index: 2;
        border-radius: 8px;
        box-shadow: 0 8px 20px 0 var(--g-color-sfx-shadow);
        position: absolute;
        top: 0;
        left: 28px;
        background-color: var(--g-color-base-background);
        padding: var(--g-spacing-4);
    }
}
