@import '../../styles/mixins';

.dl-datepicker-year-switcher {
    position: absolute;
    z-index: 1;
    left: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 80px;
    height: 32px;

    opacity: 0.9;
    color: var(--g-color-text-secondary);
    border-radius: 20px;
    background-color: var(--g-color-base-background);
    box-shadow: 0 2px 4px 0 var(--g-color-sfx-shadow-heavy);

    transform: translateX(-50%);
    @include text-subheader-2;

    &__arrow {
        position: absolute;
        top: 50%;

        width: 16px;
        height: 16px;

        cursor: pointer;

        opacity: 0.85;

        transform: translateY(-50%);

        &_left {
            left: 5px;
        }

        &_right {
            right: 5px;
        }

        &_left .g-icon {
            transform: rotate(180deg) translateY(1px);
        }

        &:hover {
            opacity: 1;
        }
    }
}
