@import '../../styles/mixins.scss';
@import '../../styles/variables';

.revisions-panel {
    position: relative;

    box-sizing: border-box;
    height: $revisionPanelHeight;
    min-height: $revisionPanelHeight;

    &__text-container {
        position: fixed;
        z-index: 10;
        top: var(--dl-revision-panel-top-offset);
        right: 0;
        left: 0;

        display: flex;
        overflow: hidden;
        justify-content: space-between;
        align-items: center;

        box-sizing: border-box;
        height: $revisionPanelHeight;
        padding: 16px 20px;

        background-color: var(--g-color-base-brand);

        .dl-header + div & {
            top: calc(#{$headerHeight} + var(--dl-revision-panel-top-offset));
        }

        .gn-aside-header__pane-top_opened + div & {
            top: calc(var(--dl-revision-panel-top-offset) + var(--gn-aside-top-panel-height));
        }
    }

    &__text {
        display: flex;

        font-size: var(--g-text-body-2-font-size);
        line-height: var(--g-text-body-2-line-height);

        color: var(--g-color-text-light-primary);
        @include overflow-ellipsis();
    }

    &__text-info {
        margin-right: 3px;
        @include overflow-ellipsis();
    }

    &__controls {
        display: flex;
    }

    &__button {
        margin-left: 12px;
    }

    &__locked-login {
        display: inline;
    }
}
