.dialog-entry-description {
    $class: &;
    position: relative;

    &__subtitle {
        color: var(--g-color-text-secondary);
        margin-bottom: 21px;
    }

    &__length-counter {
        text-align: right;
        color: var(--g-color-text-secondary);
        margin-top: 6px;

        &_error {
            color: var(--g-color-text-danger);
        }
    }

    &__content {
        margin-top: 6px;
        min-width: 656px;
        max-width: 736px;
    }

    &_mobile {
        padding: 0 var(--g-spacing-4);

        #{$class}__content {
            padding: var(--g-spacing-4) 0;
            margin-top: 0;
            min-width: 100%;
        }
    }

    &__yfm-loader {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
