.dialog-entry-description {
    $class: &;
    position: relative;

    &__subtitle {
        margin-bottom: 21px;

        color: var(--g-color-text-secondary);
    }

    &__length-counter {
        margin-top: 6px;

        text-align: right;

        color: var(--g-color-text-secondary);

        &_error {
            color: var(--g-color-text-danger);
        }
    }

    &__content {
        min-width: 656px;
        max-width: 736px;
        margin-top: 6px;
    }

    &_mobile {
        padding: 0 var(--g-spacing-4);

        #{$class}__content {
            min-width: 100%;
            margin-top: 0;
            padding: var(--g-spacing-4) 0;
        }
    }

    &__yfm-loader {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 100%;
    }
}
