.dl-core-navigation {
    $_: &;

    &_inline {
        display: flex;
        overflow: hidden;
        flex: 1 1 100%;

        #{$_}__entries {
            padding-top: 16px;
        }

        #{$_}__search {
            max-width: 400px;
        }

        #{$_}__header {
            flex-basis: 56px;

            box-shadow: inset 0 -1px 0 0 var(--g-color-line-generic);

            &_with-cloud-tree-select {
                flex-basis: 40px;
            }
        }
    }

    &__header {
        display: flex;
        flex: 0 0 auto;
        align-items: center;

        padding: 0 20px 0 12px;
    }

    .dl-core-navigation-create-dropdown {
        margin-left: auto;
    }
}
