@import '~@gravity-ui/uikit/styles/mixins';

.dl-core-navigation {
    &__sidebar {
        flex: 0 0 256px;

        background-color: var(--g-color-base-generic-ultralight);
    }

    &__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;

        background-color: var(--g-color-base-background);
    }

    &__entries {
        display: flex;
        overflow: hidden;
        flex: 1 1 100%;
        flex-direction: column;
    }

    &__entries-header {
        display: flex;
        flex: 0 0 auto;

        padding: 0 20px 8px;
    }

    &__search {
        flex: 0 1 400px;

        margin-right: 8px;
    }

    &__custom {
        margin-left: auto;
        padding-left: 8px;

        &:empty {
            display: none;
        }
        &:not(:empty) {
            display: flex;
        }
    }

    &__view {
        flex: 1 1 100%;
    }

    &__table-view {
        height: 100%;
    }

    &__spinner {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }

    &__empty-entries {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }

    &__filters {
        display: flex;
        flex-shrink: 0;
        align-items: center;
    }

    &__filters-item {
        margin-right: 8px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    &__mobile-filters {
        display: flex;

        padding: 21px 23px;

        &_mobile {
            display: block;

            padding: 8px 16px 19px;
        }
    }
}
