@import '~@gravity-ui/uikit/styles/mixins';

.error-content {
    $class: &;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    &_mobile {
        flex-direction: column;

        #{$class}__content {
            padding: 0 16px;
            width: 100%;
            text-align: center;
            align-items: center;
        }

        #{$class}__title {
            width: 100%;
            text-align: center;

            a {
                color: var(--g-color-text-link);

                &:visited {
                    color: var(--g-color-text-link);
                }
            }
        }

        #{$class}__description {
            @include text-body-2;
        }

        #{$class}__debug-info {
            width: auto;
        }

        #{$class}__action-btn {
            margin-top: 0;
            width: 100%;
        }

        #{$class}__illustration-container {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
    }

    &_size_s {
        #{$class}__title {
            font-size: var(--g-text-body-1-font-size);
            line-height: var(--g-text-body-1-line-height);
        }

        #{$class}__content {
            width: auto;
        }
    }

    &_no-controls {
        display: block;
        padding: 20px 0;
    }

    &__title {
        font-weight: 500;
        font-size: var(--g-text-header-1-font-size);
        line-height: var(--g-text-header-1-line-height);

        a {
            color: var(--g-color-text-link);

            &:visited {
                color: var(--g-color-text-link);
            }
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        flex-shrink: 0;

        width: 350px;
    }

    &__action-btn {
        margin-top: 20px;
    }

    &__description {
        margin-top: 10px;
    }

    &__debug-info {
        width: 500px;
        margin-top: 20px;
        color: var(--g-color-text-hint);
    }

    &__copy-btn {
        margin-left: 10px;
    }

    &__action {
        margin-top: 20px;
    }

    &_layout {
        &_row {
            min-height: 320px;

            #{$class}__content {
                margin-left: 40px;
            }
        }

        &_column {
            flex-direction: column;

            #{$class}__content {
                width: 400px;
                align-items: center;
                text-align: center;
            }
        }
    }

    &__yfm {
        margin-top: 10px;
        font-size: var(--g-text-body-1-font-size);

        &_without-title {
            margin-top: 0;
        }
    }
}
