.dl-dialog-filter {
    &__filter-boolean {
        display: flex;
        align-items: center;
        height: 40px;

        & .radiobox__radio + .radiobox__radio {
            margin-left: 10px;
        }
    }
}
