.mobile-header {
    &__container {
        z-index: 100;
        display: grid;
        grid-template-rows: var(--mobile-header-size) auto;
        grid-template-columns: 100%;
    }

    &__content {
        min-height: calc(100vh - var(--mobile-header-size));
        overflow-x: auto;
        height: 0;
    }

    &__logo_rebranding {
        flex: 1;
    }

    &__link {
        text-decoration: none;
        outline: none;
        color: inherit;
        display: block;
        height: 100%;
        flex: 1 1 auto;
    }

    &__logo-icon {
        color: var(--g-color-base-brand);

        &_rebranding {
            height: auto;
            width: auto;
            padding-left: var(--g-spacing-2);
        }
    }

    &__user-avatar {
        cursor: pointer;
    }
}
