.color-text-input {
    display: flex;
    align-items: center;

    &_max-width {
        flex: 1 0 auto;
    }

    &__color-preview {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    &_max-width &__color-preview {
        flex: 0 0 20px;
    }

    &__color-input {
        width: 70px;
    }

    &_max-width &__color-input {
        width: 100%;
    }

    &__color-remove {
        margin-left: 5px;
    }

    &__icon {
        color: var(--g-color-text-secondary);
    }
}
