.conn-form-radio-group {
    &__hint .yfm p {
        max-width: 500px;
        line-height: 16px;
        color: var(--g-color-text-secondary);
    }

    &__text-container {
        display: flex;
    }

    &__text {
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
    }

    &__icon {
        &_end {
            margin-left: 4px;
            display: inline-flex;
        }

        &_view_error {
            color: var(--g-color-text-danger-heavy);
        }

        &_view_warn {
            color: var(--g-color-text-warning);
        }
    }
}
