@import '../../../../styles/mixins.scss';

.pane-tabs {
    .gc-adaptive-tabs {
        --gc-tabs-space-between: 12px;
        --gc-tabs-height: 24px;
    }

    display: flex;
    align-items: center;
    flex: 1 1 0%;
    overflow: hidden;
    margin-right: 4px;
    margin-left: 8px;
    padding-top: 4px;
    // height: 30px;

    &__tab {
        display: block;
        border-bottom: 2px solid transparent;

        &_active {
            border-color: var(--g-color-line-brand);
        }
    }
}
