.dl-navigation-minimal-place-select {
    display: flex;
    flex: 0 0 auto;

    padding: 0 20px 8px;

    &__option {
        display: flex;
        align-items: center;
    }

    &__option-text {
        margin-left: 8px;
    }

    &__select {
        flex: 1;
    }
}
