.dl-workbook-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(238, 243, 254, 1);
    border-radius: 12px;
    text-transform: uppercase;

    &__letters {
        text-align: center;
        color: #000;
    }
}
