.dl-workbook-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dl-color-base-workbook-icon);
    text-transform: uppercase;

    &__letters {
        text-align: center;
        color: var(--dl-color-text-workbook-icon);
    }
}
