.group-control-dialog {
    height: 640px;
    width: 868px;
    display: flex;
    flex-direction: column;

    &__section {
        margin-bottom: 15px;

        &_top-divider {
            border-top: 1px solid var(--g-color-line-generic);
            padding-top: 15px;
        }

        &_bottom-divider {
            border-bottom: 1px solid var(--g-color-line-generic);
        }
    }

    &__sidebar {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 270px;
        max-height: 100%;
        padding-top: 2px;
    }

    &__selectors-list {
        overflow-y: auto;
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    &__settings {
        border-top: 1px solid var(--g-color-line-generic);
        padding: 25px 24px 32px;
    }

    &__settings-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5px;

        &:not(:last-of-type) {
            margin-bottom: 22px;
        }
    }

    &__order-selectors-button {
        margin-top: 12px;
    }

    &__help-icon {
        left: 5px;
    }

    &__row {
        display: flex;
        align-items: center;
        border-radius: 3px;
        font-size: 13px;
        width: 100%;
        height: 40px;

        svg {
            margin-right: 10px;
        }

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &_add {
            opacity: 0.5;
            cursor: pointer;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
    }

    &__sidebar-content {
        display: flex;
        flex-direction: column;
    }

    &__body {
        padding: 14px 20px 0px 32px;
    }
}
