@import '../../../../styles/variables';
@import '../../../../styles/mixins';
@import '../../../../../../styles/mixins';

.dialog-shapes-palette {
    $class: &;

    &__palette {
        width: 340px;
        padding: 25px;

        &_type_lines {
            grid-template-columns: repeat(2, 118px);
            grid-gap: 20px;
        }

        &_type_points {
            grid-gap: 12px;
        }
    }

    &__palette-item {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 5px;

        border: 1px solid var(--g-color-line-generic);
        border-radius: 4px;

        &_type_lines.palette-item {
            &:not(.palette-item_selected):hover::before {
                @include palette-item-border(var(--g-color-line-generic), -4px, -4px, 124px, 42px);
            }

            &.palette-item_selected::before {
                @include palette-item-border(
                    var(--g-color-base-generic-medium),
                    -4px,
                    -4px,
                    124px,
                    42px
                );
            }
        }

        &_type_points.palette-item {
            &:not(.palette-item_selected):hover::before {
                @include palette-item-border(var(--g-color-line-generic), -4px, -4px, 42px, 42px);
            }

            &.palette-item_selected::before {
                @include palette-item-border(
                    var(--g-color-base-generic-medium),
                    -4px,
                    -4px,
                    42px,
                    42px
                );
            }
        }
    }

    &__value-shape {
        display: flex;

        margin-right: 12px;

        border-radius: 2px;

        &_type_points {
            flex-shrink: 0;
            justify-content: center;

            width: 24px;

            &#{$class}__value-shape_default {
                width: 24px;
            }
        }

        &_default {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 40px;

            font-size: 10px;
            text-transform: uppercase;

            color: var(--g-color-text-hint);
            border: 1px solid var(--g-color-line-generic);
            background-color: var(--g-color-base-generic);
        }
    }
}
