.dl-dialog-error {
    $contentDesktopMaxWidth: 630px;
    $contentSmallScreenWidth: 300px;

    --g-tabs-item-gap: 20px;

    $class: &;

    width: 100%;
    max-width: $contentDesktopMaxWidth;

    &__content {
        width: $contentDesktopMaxWidth;
        max-height: 80vh;
        min-height: 400px;
        display: flex;
        flex-direction: column;

        @media (max-width: 480px) {
            width: $contentSmallScreenWidth;
        }
    }

    &__header {
        max-width: 100%;
        word-break: break-word;
    }

    &__loader {
        margin: auto;
    }

    &__button + &__button {
        margin-left: 16px;
    }

    &_mobile {
        padding: 0 16px;
        max-width: none;

        #{$class}__tab-navigation {
            margin-top: 8px;
            margin-bottom: 22px;
        }

        #{$class}__button + #{$class}__button {
            margin-left: 0;
        }

        #{$class}__footer-buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-bottom: 16px;
        }

        #{$class}__loader {
            display: flex;
            justify-content: center;
            padding: 16px 0;
        }
    }
}
