.dl-dialog-error {
    $contencDesktopMaxWidth: 630px;
    $contentSmallScreenWidth: 300px;
    // TODO: this is an private api and may silently changed. We should use local styles
    --yc-tabs-space-between: 20px;

    $class: &;

    width: 100%;
    max-width: $contencDesktopMaxWidth;

    &__content {
        width: $contencDesktopMaxWidth;
        @media (max-width: 480px) {
            width: $contentSmallScreenWidth;
        }
        max-height: 80vh;
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    &__header {
        max-width: 100%;
        word-break: break-all;
    }

    &__loader {
        margin: auto;
    }

    &__button + &__button {
        margin-left: 16px;
    }

    &_mobile {
        padding: 0 16px;

        #{$class}__tab-navigation {
            margin-top: 8px;
            margin-bottom: 22px;
        }

        #{$class}__button + #{$class}__button {
            margin-left: 0;
        }

        #{$class}__footer-buttons {
            display: flex;
            flex-direction: column;
            gap: 8px;
            padding-bottom: 16px;
        }

        #{$class}__loader {
            display: flex;
            justify-content: center;
            padding: 16px 0;
        }
    }
}
