.dl-dialog-error {
    // TODO: this is an private api and may silently changed. We should use local styles
    --yc-tabs-space-between: 20px;

    &__content {
        width: 630px;
        @media (min-width: 320px) and (max-width: 480px) {
            width: 300px;
        }
        max-height: 80vh;
        height: 500px;
        display: flex;
        flex-direction: column;
    }

    &__loader {
        margin: auto;
    }

    &__button + &__button {
        margin-left: 16px;
    }
}
