.user-name-block {
    display: flex;

    width: 100%;

    &__name {
        overflow: hidden;

        min-width: 0;

        white-space: nowrap;
        text-overflow: ellipsis;

        &:first-letter {
            color: var(--ds-color-error);
        }
    }
}

.user-name-inline {
    display: inline-block;

    margin-left: -20px;

    &:first-letter {
        color: var(--ds-color-error);
    }
}
