.dl-users-suggest {
    &__popup {
        width: 340px;
        height: 352px;
    }

    &__empty-state {
        height: 312px;
    }

    &__user {
        overflow: hidden;
    }

    &__user-avatar {
        width: 32px;
        height: 32px;

        border-radius: 50%;
    }

    &__selected-user {
        overflow: hidden;

        text-overflow: ellipsis;

        &_hidden {
            display: none;
        }
    }
}
