.color-picker-input {
    --_--preview-size: 16px;

    &__preview-container {
        position: relative;

        overflow: hidden;

        width: var(--_--preview-size);
        height: var(--_--preview-size);
        margin: 0 var(--g-spacing-1);

        &::before {
            position: absolute;
            inset: 0px;

            content: '';

            border: 1px solid var(--g-color-line-generic);
        }

        &,
        &::before {
            border-radius: 2px;
        }
    }

    &__preview {
        width: var(--_--preview-size);
        height: var(--_--preview-size);
    }

    &__palette {
        position: absolute;
        top: 0;
        left: -8px;

        width: calc(100% + 8px);
        height: calc(100% + 10px);

        cursor: pointer;

        opacity: 0;
    }

    &__palette_size-l {
        width: calc(100% + 8px);
        height: calc(100% + 12px);
    }

    &__opacity-input {
        width: 54px;
        margin-inline-end: -1px;
        padding-inline-start: var(--g-spacing-1);

        border-inline-start: 1px solid var(--g-color-line-generic);
    }

    &__opacity-end-content {
        margin-inline: var(--g-spacing-1);
    }
}
