@mixin header($fontSize, $lineHeight) {
    margin: 0;
    font-weight: 500;
    font-size: $fontSize;
    line-height: $lineHeight;
}

.dl-service-settings {
    $baseClass: &;

    min-height: 100vh;

    &__content {
        padding: 20px;
    }

    &__header {
        @include header(var(--g-text-body-3-font-size), var(--g-text-body-3-line-height));
    }

    &__sections {
        display: grid;
        grid-template-columns: repeat(1, auto);
        row-gap: 60px;
        width: 520px;
        margin-top: 40px;
        line-height: 18px;
    }

    &__section-header {
        @include header(var(--g-text-body-2-font-size), var(--g-text-body-2-line-height));
    }

    &__section-description {
        margin: 10px 0 20px;
        color: var(--g-color-text-secondary);
    }

    &__section-rows {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        row-gap: 24px;
    }

    &__section-row {
        display: grid;
        grid-template-columns: 200px auto;
    }

    &__section-row-label {
        display: flex;
        flex-direction: column;
    }

    &__section-row-label-part {
        &:not(:first-child) {
            margin-top: 2px;
        }

        &_description {
            color: var(--g-color-text-secondary);
        }
    }

    &__section-row-content {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        row-gap: 12px;
    }

    &__button {
        width: max-content;
    }

    &__loader {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}
