@use 'sass:math';

@import '../../../styles/mixins.scss';

.editor-search-view {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex: 1 1;
    width: 100%;

    &__group {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__group-header {
        flex-shrink: 0;
        display: flex;
        height: 24px;
        width: 100%;
        align-items: center;
        cursor: pointer;
        padding: 0 5px;

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }
    }

    &__icon-chevron {
        flex-shrink: 0;
        margin-right: 4px;
    }

    &__group-title {
        flex: 1 1;
        @include overflow-ellipsis;
        font-weight: 500;
    }

    &__match-count {
        $size: 18px;
        padding: 0 3px;
        min-width: $size;
        height: $size;
        border-radius: math.div($size, 2);
        background-color: var(--g-color-base-brand);
        color: var(--g-color-text-light-primary);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: auto;
        font-size: 12px;
    }

    &__matches-list {
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__matched-item {
        flex-shrink: 0;
        height: 24px;
        width: 100%;
        align-items: center;
        display: flex;
        cursor: pointer;
        padding-left: 25px;
        padding-right: 2px;
        position: relative;

        &_highlight {
            background-color: var(--g-color-base-selection);
        }

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }

        &:before {
            content: '';
            position: absolute;
            width: 1px;
            left: 13px;
            top: 0;
            bottom: 0;
            background-color: var(--g-color-line-generic);
        }
    }

    &__matched-item-text {
        flex: 1 1;
        @include overflow-ellipsis;
        font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
        font-size: 12px;
    }

    &__decoration {
        background-color: var(--g-color-line-generic);
    }

    &__not-found {
        padding: 0 7px;
        @include overflow-ellipsis;
        flex-shrink: 0;
    }
}
