.dataset-table-fields-section {
    &__loader {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__list {
        margin-top: 10px;
    }

    &__readonly-notice {
        margin-bottom: var(--g-spacing-3);
    }
}
