@import '../styles/mixins';

$baseClass: '.yc-range-datepicker';
$minWidthWithoutTime: 245px;
$minWidthWithTime: 300px;
$minWidthLabelWithoutTime: 147px;
$minWidthLabelWithTime: 232px;
$minWidthAction: 36px;
$desktopMargin: 12px;
$mobileMargin: 20px;

@mixin block_style($size: s, $type: control) {
    @if $size == 's' {
        @include text-body-short;
    }
    @if $size == 'm' {
        @include text-body-short;
    }
    @if $size == 'l' {
        @include text-body-short;
    }
    @if $size == 'xl' {
        @include text-body-2;
    }
    @include text-accent;
}

#{$baseClass} {
    --yc-range-datepicker-preset-label-color: var(--g-color-text-misc);

    display: inline-flex;
    max-width: 100%;

    &:focus {
        outline: none;
    }

    &__control {
        box-sizing: border-box;
        position: relative;
        display: inline-flex;
        align-items: center;
        min-width: $minWidthWithoutTime;
        padding: 0 2px 0 5px;
        border: 1px solid var(--g-color-line-generic);
        cursor: pointer;

        &:focus {
            outline: none;
        }

        #{$baseClass}:not(#{$baseClass}_mobile) &:hover:not(#{&}_active):not(#{&}_invalid) {
            border-color: var(--g-color-line-generic-hover);
        }

        &_size_s {
            height: 24px;
            border-radius: var(--g-border-radius-s);

            #{$baseClass}__control-inner-label {
                @include block_style(s);
            }
        }

        &_size_m {
            height: 28px;
            border-radius: var(--g-border-radius-m);

            #{$baseClass}__control-inner-label {
                @include block_style(m);
            }
        }

        &_size_l {
            height: 36px;
            border-radius: var(--g-border-radius-l);

            #{$baseClass}__control-inner-label {
                @include block_style(l);
            }
        }

        &_size_xl {
            height: 44px;
            border-radius: var(--g-border-radius-xl);

            #{$baseClass}__control-inner-label {
                @include block_style(xl);
            }
        }

        &_with-time {
            min-width: $minWidthWithTime;

            #{$baseClass}__control-placeholder,
            #{$baseClass}__control-label {
                min-width: $minWidthLabelWithTime;
                max-width: $minWidthLabelWithTime;
            }
        }

        &_active {
            border-color: var(--g-color-line-generic-active);
        }

        &_invalid {
            border-color: var(--g-color-line-danger);
        }

        &_disabled {
            color: var(--g-color-text-hint);
            background-color: var(--g-color-base-generic-accent-disabled);
            border-color: transparent;
            pointer-events: none;
        }
    }

    &__control-calendar-icon {
        margin-right: 3px;
        color: var(--g-color-text-misc);
        flex: 0 0 20px;
    }

    &__control-placeholder {
        color: var(--g-color-text-hint);
    }

    &__control-label {
        display: flex;
        align-items: center;
        height: 100%;
        white-space: nowrap;
        overflow: hidden;
        flex: 1 0 auto;

        &_preset {
            color: var(--yc-range-datepicker-preset-label-color);
        }
    }

    &__popover {
        @include overflow-ellipsis;
    }

    &__control-placeholder,
    &__control-label {
        min-width: $minWidthLabelWithoutTime;
    }

    &__control-label-tooltip {
        display: flex;
        flex-direction: column;
    }

    &__control-label-tooltip-item,
    &__control-label-tooltip-to,
    &__control-label-tooltip-tz {
        text-align: center;
    }

    &__control-label-tooltip-tz {
        margin-top: 5px;
        color: var(--g-color-text-hint);
    }

    &__control-inner-label {
        @include overflow-ellipsis;
        display: inline-block;
        vertical-align: middle;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 4px;
        padding-left: 2px;
    }

    &__control-actions {
        display: inline-flex;
        justify-content: flex-end;
        min-width: $minWidthAction;
        margin-left: auto;
    }

    &__control-action {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 18px;
        cursor: pointer;

        &_clear {
            color: var(--g-color-text-hint);
        }

        &_clear:not(#{&}_mobile):hover {
            color: var(--g-color-text-primary);
        }

        &_hidden {
            visibility: hidden;
        }
    }

    &__control-action-tooltip {
        --yc-popover-max-width: none;
    }

    &__pickers {
        display: flex;
        flex-direction: column;
        margin: #{$desktopMargin} #{$desktopMargin} 0;

        &:last-child {
            margin-bottom: #{$desktopMargin};
        }

        &_mobile {
            margin: 10px #{$mobileMargin} 0;
        }

        &_mobile:last-child {
            margin-bottom: #{$mobileMargin};
        }
    }

    &__picker-wrap {
        display: flex;

        // Align the width of the labels 'from:'/'to:'
        & .yc-simple-datepicker__control-label {
            width: 35px;
        }
    }

    &__picker-wrap + &__picker-wrap {
        margin-top: 8px;
    }

    &__pickers_mobile &__picker-wrap + &__picker-wrap {
        margin-top: 12px;
    }

    &__picker-popup {
        background-color: var(--g-color-base-float-accent);
    }

    &__picker {
        flex-grow: 1;
    }

    &__apply-button {
        margin: 10px 12px;
    }

    &__presets {
        position: relative;
    }

    &__presets-tabs {
        --yc-tabs-space-between: 24px;

        padding-left: $desktopMargin;

        & .yc-tab-item:not(.yc-tab-item_active) .yc-tab-item__title {
            color: var(--g-color-text-secondary);
        }

        & .yc-tab-item.yc-tab-item_active .yc-tab-item__title {
            color: var(--g-color-text-primary);
        }
    }

    &__presets_mobile &__presets-tabs {
        @include text-body-2;
        padding-left: 0;
        margin: 26px $mobileMargin 0 $mobileMargin;
    }

    &__presets-content {
        box-sizing: border-box;
        display: flex;
        height: 128px;
        overflow: auto;

        &_with-time {
            height: 212px;
        }

        &_mobile {
            @include text-body-2;
            height: initial;
            margin: 0 20px;
            max-height: 40vh;
        }
    }

    &__preset-item {
        box-sizing: border-box;
        cursor: pointer;
        padding-left: 12px;
        height: 28px;

        &:first-child {
            margin-top: 8px;
        }

        &:last-child {
            margin-bottom: 8px;
        }

        &_mobile {
            padding-left: 8px;
            height: 48px;

            &:not(:last-child) {
                border-bottom: 1px solid var(--g-color-line-generic);
            }
        }
    }

    &__doc-tooltip-wrap {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        width: 40px;
        height: 40px;

        &_mobile {
            margin-right: 12px;
        }
    }

    &__doc-tooltip-popup {
        --yc-popover-max-width: none;
    }

    &__doc-tooltip-table {
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-auto-rows: 18px;
        grid-gap: 16px;
    }

    &__doc-tooltip-table-cell {
        &_header {
            @include text-accent;
        }

        &_value {
            color: var(--g-color-text-secondary);
        }
    }

    &__doc-tooltip-table-mobile {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        grid-auto-rows: 70px;
    }

    &__doc-tooltip-table-mobile-row-wrap {
        display: flex;
        align-items: center;
        justify-content: center;

        &:not(:last-child) {
            border-bottom: 1px solid var(--g-color-line-generic);
        }
    }

    &__doc-tooltip-table-mobile-row {
        display: grid;
        grid-template-columns: repeat(2, 50%);
        grid-auto-rows: 20px;
        width: 100%;
    }

    &__doc-tooltip-table-mobile-row-cell {
        @include text-body-2;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        &_desc {
            color: var(--g-color-text-secondary);
        }
    }

    &__timezone-item {
        display: flex;
    }

    &__timezone-item-title {
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__timezone-offset {
        flex: 0 0 72px;
        color: var(--g-color-text-secondary);
    }

    &__zones-list {
        padding: 0 #{$desktopMargin};
        border-top: 1px solid var(--g-color-line-generic);
        cursor: pointer;

        &_mobile {
            padding: 0 #{$mobileMargin};
        }
    }

    &__zones-list-switcher {
        position: relative;
        display: flex;
        align-items: center;
        height: 32px;

        &_mobile {
            @include text-body-2;
            height: 48px;
        }

        &:not(#{&}_mobile)::after {
            content: '';
            position: absolute;
            top: 0;
            left: -12px;
            height: 100%;
            width: calc(100% + 24px);
        }

        &:not(#{&}_mobile):hover::after {
            background-color: var(--g-color-base-generic);
        }
    }

    &__zones-list-switcher-zone,
    &__zones-list-switcher-offset {
        color: var(--g-color-text-secondary);
    }

    &__zones-list-switcher-zone {
        margin-right: 2px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        &_empty {
            color: var(--g-color-text-hint);
            font-style: italic;
        }
    }

    &__zones-list-switcher-icon {
        position: relative;
        left: 2px;
        flex: 0 0 20px;
        margin-left: auto;
        color: var(--g-color-text-secondary);
    }

    &__pickers + &__zones-list {
        margin-top: 12px;
    }

    &__popup {
        --yc-tabs-space-between: 16px;

        box-sizing: border-box;
        width: $minWidthWithoutTime;
        border-radius: 8px;
        overflow: hidden;

        &_with-time {
            width: $minWidthWithTime;
        }
    }

    &__sheet {
        --yc-sheet-content-paddings: 0;

        &_doc {
            --yc-sheet-content-paddings: 0 20px;
        }
    }
}
