.ql-pane-preview {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    flex: 1 1 0;

    width: 100%;
    height: 100%;
    min-height: 0;
    padding-right: 1px; // fix for chartkit menu popup

    &__empty-chart {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        width: 100%;
        height: 100%;

        text-align: center;
    }

    &__empty-illustration {
        max-width: 390px;
        padding: 15px;
    }

    .chartkit-ymap {
        height: 99%; // CHARTS-2438
    }

    .chartkit-table {
        thead {
            th {
                border-top: none;
            }

            th:first-child {
                border-left: none;
            }

            th:last-child {
                border-right: none;
            }
        }

        tbody {
            tr {
                td:first-child {
                    border-left: none;
                }

                td:last-child {
                    border-left: none;
                }
            }
        }
    }
}
