.query-editor {
    --query-editor-border-radius: 4px;
    display: flex;
    overflow: hidden;
    justify-content: center;
    align-items: center;

    height: 140px;

    border: 1px solid var(--g-color-line-generic);
    border-radius: var(--query-editor-border-radius);

    &__code-editor {
        border: none;
        .monaco-editor,
        .overflow-guard {
            border-radius: var(--query-editor-border-radius);
        }
    }
}
