.pane-view .btn-docs {
    $class: &;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &__icon {
        color: var(--g-color-text-secondary);
    }

    &_active {
        #{$class}__icon {
            color: var(--g-color-text-info);
        }

        &::before {
            background-color: var(--g-color-base-info-light);
        }
    }
}
