.fetch-renderer {
    display: flex;
    flex: 1 1 100%;
    width: 100%;
    height: 100%;
    position: relative;

    &_status_loading,
    &_status_failed {
        align-items: center;
        justify-content: center;
    }

    &__loader,
    &__error {
        flex: 1 1 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    &__error-text {
        font-size: 15px;
        color: var(--g-color-text-danger);
    }
}
