html {
    min-width: 320px;
}

:root {
    --dl-dash-action-panel-border-right-width: 0;
    --dl-dash-action-panel-border-left-width: 0;
    --dl-dash-action-panel-border-top-width: 0;
    --dl-dash-action-panel-border-bottom-width: 0;
    --dl-dash-action-panel-border-color: transparent;
    --dl-dash-select-container-border-right-width: 0;
    --dl-dash-select-container-border-left-width: 0;
    --dl-dash-select-container-border-top-width: 0;
    --dl-dash-select-container-border-bottom-width: 0;
    --dl-dash-select-container-border-color: transparent;
}
