.dl-workbook-dialog {
    --g-dialog-width: 520px;

    &__field {
        margin-bottom: 12px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__title {
        margin-bottom: 8px;
    }
}
