@use '../../variables';

@import '~@gravity-ui/uikit/styles/mixins';
@import '../../../../../styles/variables.scss';

$block: '.#{variables.$ns}-card';

#{$block} {
    &__loader {
        height: 100%;
    }

    &__error {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__iframe {
        $promoHeaderHeight: 64px;
        $mobileHeaderHeight: 50px;

        display: block;
        width: 100%;
        border: none;
        height: calc(100vh - #{$actionPanelHeight});

        &_mobile {
            height: calc(100vh - #{$actionPanelHeight} - #{$mobileHeaderHeight});
        }

        &_promo {
            height: calc(100vh - #{$actionPanelHeight} - #{$promoHeaderHeight});
            width: 100vw;
            position: fixed;
            left: 0;
        }
    }

    &__container {
        height: calc(100% - #{$actionPanelHeight});
        max-width: 1032px;
        padding-left: 48px;
        padding-right: 48px;
        display: flex;
        flex-direction: column;

        &_media_s,
        &_media_m {
            padding-left: 20px;
            padding-right: 20px;
        }

        &_maxWidth {
            max-width: unset;
            padding-inline: 0;
        }
    }

    &__actions-left-flex {
        align-items: center;
        column-gap: 8px;
        flex: 1 1 auto;
        max-width: calc(100% - 2 * #{$actionPanelHorizontalPadding});
        min-width: 0;
    }

    &__actions-right-flex {
        column-gap: 8px;
        margin-left: auto;

        &_media_s {
            flex-direction: row-reverse;
        }
    }

    &__breadcrumbs {
        min-width: 0;
    }

    &__image-card {
        line-height: 0;
        padding: 6px;
    }

    &__image-card-content {
        width: 100%;
        height: 418px;
        object-fit: cover;
        object-position: left top;
        border-radius: var(--g-border-radius-l);
    }

    &__image-card-preview-flex {
        height: 432px;
        flex-direction: column;
        overflow: auto;
        row-gap: 16px;

        &_media_s {
            flex-direction: row;
            column-gap: 16px;
        }
    }

    &__icon-with-text-icon {
        margin: 6px;
    }

    &__card-info-flex {
        column-gap: 12px;

        &_media_s {
            flex-direction: column;
            align-items: flex-start;
        }
    }

    &__contact-partner-btn {
        &_media_s {
            margin-top: 8px;
        }
    }

    &__dropdown-item {
        display: flex;
    }

    &__dropdown-icon {
        margin-top: 3px;
    }

    &__dropdown-text {
        margin-left: 8px;
    }

    &__dropdown-hint {
        padding-bottom: 4px;
        max-width: 200px;
        line-height: normal;
        color: var(--g-color-text-hint);
    }

    &__pc-layout-without-min-height.pc-layout {
        min-height: unset;
    }
}
