.editor-diff-revisions {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    flex: 1 1 100%;

    &__editor-place {
        flex: 1 1 100%;
    }

    &__empty-state {
        height: 100%;
    }
}
