.stack-trace {
    color: var(--g-color-text-danger);
    position: relative;
    padding: 7px;
    display: flex;
    align-items: flex-start;

    &__bg {
        position: absolute;
        inset: 0;
        background-color: var(--g-color-text-danger);
        opacity: 0.05;
        z-index: 1;
    }

    &__text {
        margin: 0;
        white-space: pre-wrap;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        z-index: 2;
    }

    &__error-icon {
        color: var(--g-color-text-danger);
        margin-top: -2px;
        margin-right: 8px;
        flex-shrink: 0;
        z-index: 2;
    }
}
