.preview-header {
    $class: &;
    position: relative;

    display: flex;
    flex-shrink: 0;
    align-items: center;

    height: 48px;
    padding: 8px 20px;

    &__label {
        &_bold {
            font-weight: bold;
        }
    }

    &__resize-panel {
        display: flex;

        margin-left: auto;

        #{$class}__preview-switcher-btn:not(:last-child) {
            margin-right: 5px;
        }
    }

    &__amount-preview-rows {
        display: flex;
        align-items: center;

        margin: 0 20px 0 40px;

        #{$class}__fade-text {
            color: var(--ds-color-text-secondary);
        }
    }

    & &__amount-preview-rows-inp {
        width: 82px;
        margin: 0 10px;
    }

    &__switcher-icon-bottom {
        transform: rotate(180deg);
    }

    &__switcher-icon-right {
        transform: rotate(180deg);
    }
}
