.dataset {
    display: flex;
    flex: 1;
    flex-direction: column;

    min-height: 0;

    &__loader {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }

    &__tabs {
        width: 300px;
    }

    &__panels {
        position: relative;

        height: 100%;
    }

    &__content-panel {
        display: flex;
        overflow: hidden auto;
        justify-content: center;

        &_right {
            overflow: auto;
            justify-content: left;

            height: 100%;
        }
    }

    &__preview-panel {
        z-index: 3;

        max-height: 100%;

        &_right {
            overflow-x: auto;
        }
    }

    &__actions-panel-right-items {
        display: flex;
        column-gap: 8px;
    }

    &__settings-hint {
        margin-left: 8px;
    }

    &__settings-templating-disable-hint {
        width: 200px;
    }

    &__shared-entry-icon {
        margin-left: var(--g-spacing-2);
    }

    &__action-panel {
        &_readonly {
            background-color: var(--g-color-base-misc-medium);
        }
    }
}
