.dataset {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;

    &__loader {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__settings-cog {
        margin-left: auto;
        margin-right: 10px;
    }

    &__create-widget-btn {
        margin-left: 10px;
        margin-right: 10px;
    }

    &__tabs {
        width: 300px;
    }

    &__panels {
        position: relative;
        height: 100%;
    }

    &__content-panel {
        justify-content: center;
        overflow: hidden auto;

        &_right {
            height: 100%;
        }
    }

    &__preview-panel {
        max-height: 100%;
        z-index: 3;

        &_right {
            overflow-x: auto;
        }
    }
}
