.dl-dialog-public-relations-list {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    &__main-title-text {
        margin-top: 24px;
        font-weight: 500;
        font-size: var(--g-text-body-2-font-size);
    }

    &__group {
        margin-top: 8px;
    }

    &__group-title {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 8px;
    }

    &__group-title-text {
        margin-right: 16px;
    }

    &__right-section {
        flex-shrink: 0;
        margin-left: auto;
        margin-right: 4px;
        display: flex;
        align-items: center;
    }

    &__alert {
        margin-right: 12px;
    }
}
