.navigation-input {
    &__row {
        display: grid;
        grid-template-columns: var(--dl-dropdown-navigation-width) auto;
        grid-column-gap: var(--g-spacing-2);
        align-items: center;
    }

    &__button {
        width: fit-content;
    }
}
