.dl-datepicker-popup-content {
    --g-tabs-item-gap: 16px;
    --g-tabs-item-border-width: 2px;

    display: flex;
    flex-direction: column;
    height: 100%;
    max-height: 600px;

    &__tabs {
        flex: 0 0 40px;
        padding-left: 16px;

        & .g-tab-list {
            box-shadow: none;
        }

        .dl-datepicker_mobile & {
            padding-left: 0;

            & .g-tab-list {
                justify-content: center;
            }
        }
    }

    &__calendar-container {
        flex: 1 1 auto;
        overflow-y: auto;
    }

    &__apply-btn {
        flex: 0 0 40px;
        padding: 2px;
    }
}
