@import '../../styles/mixins.scss';

$topPadding: var(--g-spacing-4);
$leftPadding: var(--g-spacing-5);
$titleLineHeight: calc(var(--g-text-body-1-line-height) * 1.15);

.expandable-panel {
    $class: &;
    z-index: 100;

    box-sizing: border-box;
    width: 246px;
    padding: 0;

    pointer-events: none;

    &_collapsed {
        height: auto;

        .active + & {
            height: auto;
        }

        #{$class}__container {
            height: auto;
        }

        #{$class}__header {
            border-radius: 8px;
        }

        #{$class}__content {
            max-height: 0;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;

        width: 100%;
        height: inherit;
    }

    &__header {
        padding: $topPadding $leftPadding;

        border-radius: 8px 8px 0 0;
    }

    &__content {
        position: relative;

        overflow: hidden;

        padding: 0;

        border-radius: 0 0 8px 8px;
    }

    &__header,
    &__content {
        pointer-events: initial;

        background-color: var(--g-color-base-background);
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
    }

    &__shadow-putty {
        position: relative;
        z-index: 2;

        &:before {
            position: absolute;
            top: -3px;

            width: 100%;
            height: 6px;

            content: '';

            background-color: var(--g-color-base-background);
        }
    }

    &__description {
        margin-top: 8px;
    }

    &__title {
        position: relative;

        padding-right: 42px;

        font-size: var(--g-text-body-1-font-size);
        font-weight: 500;
        line-height: $titleLineHeight;

        color: var(--g-color-text-primary);
        @include overflow-ellipsis();
    }

    &__title-text {
        color: var(--g-color-text-primary);
    }

    &__close,
    &__arrow {
        position: absolute;
        top: 50%;
        right: -4px;

        cursor: pointer;

        color: var(--g-color-text-primary);

        transform: translateY(-50%);
        @include button-reset();

        &:hover,
        &:before,
        &:hover:before {
            color: var(--g-color-text-primary);
            background: none;
        }
    }

    &__close:active {
        transform: translateY(-50%);
    }

    &__arrow {
        right: 20px;

        transition: transform 0.1s ease-out;

        &:active {
            transform: translateY(-50%);
        }

        &_expanded,
        &_expanded:active {
            transform: translateY(-50%) rotate(180deg);
        }
    }
}
