@import '~@gravity-ui/uikit/styles/mixins';
@import '../../styles/mixins.scss';

$shareLinkScrollWidth: 2px;

.dialog-share {
    $class: &;
    width: 840px;

    &__body {
        display: flex;
        gap: 64px;
        padding-bottom: 22px;
        justify-content: space-between;
    }

    &__params,
    &__links {
        display: flex;
        flex-direction: column;
    }

    &__params {
        flex: 0 0 332px;
    }

    &__links {
        gap: 24px;
        flex: 0 0 380px;
    }

    &__subheader {
        @include text-subheader-2();
        margin-bottom: 8px;
    }

    &__description {
        @include text-body-short();
        color: var(--g-color-text-secondary);
    }

    &__copy-block {
        position: relative;
        background-color: var(--g-color-base-misc-light);
        border-radius: 6px;
        padding: 4px 4px 4px 8px;
        color: var(--g-color-text-complementary);
        height: 80px;
        max-width: 100%;
        word-break: break-all;
        margin-top: 8px;

        &_big-top-margin {
            margin-top: 16px;
        }
    }

    &__clipboard-button {
        position: absolute;
        top: 5px;
        right: 9px;
        color: var(--g-color-text-hint);

        &:hover,
        &:active,
        &:focus {
            color: var(--g-color-text-hint);
        }
    }

    &__text-field {
        @include text-code-1();
        color: var(--g-color-text-complementary);
        height: 100%;
        overflow-y: auto;
        max-width: 100%;
        padding-right: 28px;
    }

    &__checkboxes {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 16px;
    }

    &__federation {
        word-break: break-all;
    }

    &__selects {
        display: flex;
        flex-direction: column;
        gap: 16px;
        margin-top: 24px;
        padding-right: 4px;
    }

    &__share-link &__subheader ~ &__copy-block &__text-field {
        @include scrollbar-on-hover($shareLinkScrollWidth);
    }

    &__share-button {
        margin-top: 24px;
    }

    &_mobile {
        width: unset;
        padding: 0 16px;

        #{$class}__body {
            padding-bottom: 16px;
        }

        #{$class}__subheader {
            margin-bottom: 0;
        }

        #{$class}__params {
            flex: 1;
        }

        #{$class}__checkboxes,
        #{$class}__selects {
            gap: 16px;
            margin-top: 16px;
        }
    }
}
