@import '../../../../../../../styles/mixins.scss';

.dialog-field-select {
    &__popup {
        @include dl-select-popup;
    }

    &__warning-popover-text {
        padding: var(--g-spacing-2);
    }

    &__warning-icon {
        color: var(--g-color-text-info);
        margin-left: var(--g-spacing-2);
        vertical-align: middle;
    }
}
