.dl-dataset-dialog-change-fields {
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: var(--g-spacing-6);

        margin-top: var(--g-spacing-4);

        & .dl-data-type-icon {
            color: var(--g-color-text-secondary);
        }
    }

    &__select {
        flex: 1;
    }
}
