.grid-scheme-select {
    & &__select {
        display: flex;
    }

    &__icon {
        color: var(--g-color-text-misc);
    }

    &__item {
        display: flex;
        align-items: center;
    }

    &__text {
        margin-left: 4px;
    }
}
