@import '~@gravity-ui/uikit/styles/mixins';
@import '../../../../styles/mixins';

.dl-entry-panel {
    $class: &;
    display: flex;
    flex-shrink: 0;
    align-items: center;

    height: inherit;
    margin-right: auto;

    &__entry {
        &-title {
            display: flex;
            overflow: hidden;
            flex-shrink: 1;
            align-items: center;

            max-width: 50%;
            height: inherit;

            &-text {
                font-weight: bold;
                @include overflow-ellipsis();
            }
        }

        &-actions {
            display: flex;
            align-items: center;

            margin-bottom: 2px;
            margin-left: var(--g-spacing-2);
            padding-right: 5px;

            #{$class}__action-btn {
                margin-right: 5px;

                color: var(--g-color-text-secondary);

                &_active {
                    svg {
                        color: var(--g-color-base-misc-heavy-hover);
                    }
                }
            }
        }
    }

    &__project-title {
        position: relative;

        padding: 0 16px 0 8px;

        &::after {
            position: absolute;
            top: -2px;
            right: 3px;

            width: 1px;
            height: 20px;

            content: '';

            background-color: var(--g-color-line-generic);
        }
    }

    &__cloud-select-container {
        margin-right: 8px;
    }
}
