.entry-selector {
    &__navigation {
        grid-template-columns: 1fr auto;
        grid-template-rows: 40px;
    }

    &__link {
        grid-auto-rows: 40px;
        --dl-dropdown-navigation-width: initial;
    }
}
