.custom-loader-container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.custom-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
