.hover-radio-button {
    display: flex;
    height: 80px;

    &__radio {
        display: inline-flex;
        align-items: center;
        font-size: 15px;
        font-weight: 700;
        padding: 0 20px;
        border-radius: 4px;
        margin-right: 10px;
        margin-top: 24px;
        cursor: pointer;
        transition: background-color 0.2s ease;
        opacity: 0.7;

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }

        &_chosen {
            background-color: var(--g-color-base-selection);
            opacity: 1;
        }
    }
}
