.sub-navigator-settings {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;

    max-width: 399px;
    margin-left: 40px;
    & > * {
        display: flex;
        justify-content: space-between;
        align-items: center;

        margin-bottom: 20px;
    }

    &__period-label {
        width: 130px;
    }

    &__period-input.g-text-input {
        width: 80px;
    }

    &__period-selector {
        width: 160px;
    }

    &__navigator-line-selector {
        width: 100%;
    }
}
