.button-color-dialog {
    &__content-container {
        display: flex;
        align-items: center;
    }

    &__icon {
        width: 20px;
        height: 16px;
        margin-right: 6px;
    }
}
