@import '../../../../styles/variables';

.new-chart {
    &__content {
        height: calc(100% - #{$actionPanelHeight});
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: $actionPanelHeight;
        bottom: 0;
    }
}
