@import '../../../../styles/variables';

.new-chart {
    &__content {
        height: calc(100% - #{$actionPanelHeight});
        display: flex;
        position: absolute;
        inset: $actionPanelHeight 0 0 0;
    }
}
