.dl-dialog-public-author-section {
    flex-shrink: 0;

    width: 100%;
    margin-top: 24px;
    padding: 24px 0;

    border-width: 1px 0;
    border-style: solid;
    border-color: var(--g-color-line-generic-solid);

    &__title {
        margin-bottom: 4px;

        font-size: var(--g-text-body-2-font-size);
        font-weight: 500;
    }

    &__description {
        margin-top: 4px;

        line-height: var(--g-text-caption-2-line-height);

        color: var(--g-color-text-secondary);
    }

    &__form {
        margin-top: 12px;
    }

    &__form-row {
        --gc-form-row-label-width: 120px;
        margin-bottom: 12px;
    }
}
