.dl-dialog-public-author-section {
    width: 100%;
    flex-shrink: 0;
    padding: 24px 0;
    border-style: solid;
    border-width: 1px 0;
    border-color: var(--g-color-line-generic-solid);
    margin-top: 24px;

    &__title {
        font-weight: 500;
        margin-bottom: 4px;
        font-size: var(--g-text-body-2-font-size);
    }

    &__description {
        margin-top: 4px;
        color: var(--g-color-text-secondary);
        line-height: var(--g-text-caption-2-line-height);
    }

    &__form {
        margin-top: 12px;
    }

    &__form-row {
        --gc-form-row-label-width: 120px;
        margin-bottom: 12px;
    }
}
