.indicator-title-setting {
    display: flex;
    flex-direction: column;

    margin-bottom: 30px;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: center;

        width: 100%;
        margin-bottom: 16px;
    }

    &__title {
        flex-shrink: 0;

        width: 125px;
        margin-right: 16px;
    }
}
