@use '../mixins';

.conn-form {
    @include mixins.form-layout();

    &__rows {
        display: grid;
        grid-template-columns: repeat(1, 100%);
        row-gap: 16px;
        margin-top: 20px;
    }

    &__actions {
        display: flex;
        justify-content: flex-end;
        margin-top: 20px;
    }
}

.yfm,
.g-popover .yfm {
    font-size: 13px;
    line-height: 16px;
}
