@import '../../../../styles/mixins';

.dl-dialog-make-public {
    width: 560px;
    min-height: 300px;
    max-height: 90vh;
    display: flex;
    flex-direction: column;

    &__body {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
    }

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex: 1 0 100%;
    }

    &__attention-icon {
        color: var(--g-color-text-danger);
    }

    &__current-entry {
        margin-top: 24px;
    }
}
