.dl-collection-page {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 100%;

    &__filters {
        margin-bottom: 28px;
    }

    &__action-panel-left-block {
        display: flex;
        align-items: center;
    }

    &__breadcrumbs {
        max-width: var(--dl-breadcrumbs-max-width);
    }

    &__cancel-btn {
        margin-left: 8px;
    }
}
