.dl-collection-page {
    $class: &;
    display: flex;
    flex-direction: column;
    flex: 1;

    &__filters {
        margin-bottom: 28px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-bottom: 16px;
    }

    &__action-panel-left-block {
        display: flex;
        align-items: center;
    }

    &__cancel-selection-button {
        margin-left: 8px;
    }

    &__error-block {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    &__return-button {
        margin-right: 8px;
    }

    &_mobile {
        #{$class}__filters {
            margin-bottom: 19px;
        }

        #{$class}__filters_hidden {
            margin-bottom: 0;
        }
    }
}
