.react-monaco-editor-container {
    width: calc(100% - 1px); // monaco sometimes becomes larger in width than the container
    height: 100%;

    // redefine monaco
    .monaco-editor,
    .monaco-editor-background,
    .monaco-editor .inputarea.ime-input {
        background-color: var(--g-color-base-background);
    }

    .monaco-editor .margin {
        background-color: var(--g-color-base-background);
    }

    // custom styles via js

    .js-highlight-line {
        background-color: var(--g-color-base-selection);
    }

    .js-highlight-decoration {
        background-color: var(--g-color-line-generic);
    }

    // since version 0.20.0, this block has started giving extra height to the container
    // the problem has manifested itself before
    // https://github.com/microsoft/monaco-editor/issues/29#issuecomment-307536220
    // in theory, it doesn't break anything
    .monaco-editor.rename-box {
        top: 0;
    }
}
