@import '~@gravity-ui/uikit/styles/mixins';

.dl-core-navigation-table-view {
    $class: &;
    $checkboxWidth: 30px;

    $rowBtnsWidth: 86px;
    position: relative;

    width: 100%;
    height: 100%;

    &__row-link-wrap {
        display: flex;
        align-items: center;

        width: 100%;
    }

    &__row {
        display: flex;
        align-items: center;

        padding: 0 20px;

        &:hover {
            cursor: pointer;

            background: var(--g-color-base-simple-hover);
        }

        &_hovered {
            background: var(--g-color-base-simple-hover);
        }

        &_highlight {
            background: var(--g-color-base-selection);
        }

        &_hidden {
            #{$class}__name {
                color: var(--g-color-text-utility);
            }
        }

        &_inactive {
            cursor: default;
            pointer-events: none;

            #{$class}__name,
            #{$class}__icon {
                opacity: 0.5;
            }
        }

        &_locked {
            #{$class}__row-btns {
                visibility: hidden;
            }
        }

        &_checked {
            background: var(--g-color-base-selection);
        }

        &_checked:hover,
        &_checked#{$class}__row_hovered {
            background: var(--g-color-base-selection-hover);
        }

        &_withCheckbox {
            #{$class}__link {
                width: calc(100% - #{$checkboxWidth});
            }
        }
    }

    &__row_header {
        position: sticky;
        z-index: 2;
        top: 0;
        left: 0;

        width: 100%;
        height: 40px;

        background: var(--g-color-base-background);

        &:hover {
            cursor: initial;

            background: var(--g-color-base-background);
        }

        #{$class}__name {
            margin-right: 12px;
            padding-left: 2px;
            @include text-subheader-1();
        }

        #{$class}__createdBy {
            padding: 0 10px 0 18px;

            opacity: initial;
            @include text-subheader-1();
        }

        #{$class}__date {
            padding-right: 2px;

            opacity: initial;
            color: var(--g-color-text-primary);
            @include text-subheader-1();
        }
    }

    &__row_mode_modal#{$class}__row_header {
        #{$class}__date {
            justify-content: flex-start;

            padding-left: 20px;
        }
    }

    &__row_withParentFolder#{$class}__row_mode_modal#{$class}__row_header {
        #{$class}__createdBy {
            padding: 0 10px;
        }
    }

    &__row_withParentFolder#{$class}__row_header {
        #{$class}__createdBy {
            padding: 0 10px 0 14px;
        }
    }

    &__row_withParentFolder {
        #{$class}__createdBy {
            flex: 1 0 10%;
        }

        #{$class}__parent-folder {
            flex: 0 0 30%;
        }

        #{$class}__name {
            flex: 3 1 60%;
        }
    }

    &__row_mode_minimal {
        padding: 0 20px;

        #{$class}__createdBy {
            display: none;
        }

        #{$class}__info {
            padding-right: 0;
        }

        #{$class}__row-btns {
            display: none;
        }

        #{$class}__date {
            flex: 0 0 60px;

            min-width: auto;
        }
    }

    &__row_mode_modal {
        #{$class}__date {
            flex: 0 0 70px;

            min-width: auto;
        }
    }

    &__row-loader-more {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
    }

    &__icon {
        position: relative;

        flex: 0 0 auto;

        margin-right: 12px;
    }

    &__info {
        position: relative;

        display: flex;
        overflow: hidden;
        align-items: center;

        width: 100%;
        min-height: 40px;
        padding-right: $rowBtnsWidth;
    }

    &__row-btns {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;

        display: flex;
        justify-content: space-between;
        align-items: center;

        width: $rowBtnsWidth;
        padding-left: 20px;
    }

    &__row-btn {
        display: flex;
        visibility: hidden;
        justify-content: center;
        align-items: center;

        width: 28px;
        height: 28px;

        cursor: pointer;

        border-radius: 4px;

        #{$class}__row:hover &,
        #{$class}__row_hovered & {
            visibility: visible;
        }

        &:hover,
        &_hovered {
            background: var(--g-color-base-simple-hover);
        }

        & {
            color: var(--g-color-text-secondary);
        }
    }

    &__btn-change-favorite {
        visibility: hidden;

        color: var(--g-color-base-misc-heavy-hover);

        &_isFavorite {
            visibility: visible;
        }

        #{$class}__row:hover &,
        #{$class}__row_hovered & {
            &:not(#{$class}__btn-change-favorite_isFavorite) {
                color: var(--g-color-text-secondary);

                #{$class}__icon-star-stroke {
                    display: block;
                }

                #{$class}__icon-star-fill {
                    display: none;
                }
            }
        }
    }

    &__edit-favorites-alias-btn {
        visibility: hidden;

        &_visible {
            visibility: visible;
        }

        #{$class}__row:hover &,
        #{$class}__row_hovered & {
            visibility: visible;
        }
    }

    &__icon-star-stroke {
        display: none;
    }

    #{$class} &__lock {
        flex: 0 0 16px;

        margin: 2px 5px 0 10px;

        color: var(--g-color-text-hint);
    }

    &__name {
        display: flex;
        overflow: hidden;
        flex: 3 1 30%;
        align-items: center;

        min-width: 100px;

        color: var(--g-color-text-primary);

        span,
        a {
            @include overflow-ellipsis();
        }
    }

    &__createdBy {
        display: flex;
        overflow: hidden;
        flex: 1 0 20%;

        min-width: 100px;
        padding: 0 10px;
    }

    &__date {
        display: flex;
        overflow: hidden;
        flex: 0 0 140px;
        justify-content: flex-end;
        align-items: center;

        min-width: 100px;

        color: var(--g-color-text-secondary);

        > span {
            @include overflow-ellipsis();
        }
    }

    &__link {
        width: 100%;

        &,
        &:hover,
        &:active,
        &:visited,
        &:focus {
            text-decoration: none;

            color: inherit;
            outline: none;
        }
    }

    &__list {
        margin-bottom: 20px;

        &_showBatchPanel {
            margin-bottom: 60px;
        }
    }

    &__name-line {
        display: flex;
        overflow: hidden;
        flex: 1 1 auto;

        line-height: 20px;
    }

    &__parent-folder {
        display: flex;
        overflow: hidden;
        flex: 0 0 50%;
        align-items: center;

        height: 20px;

        font-size: 13px;
    }

    &__folder-inline {
        flex: 0 0 16px;

        margin-right: 2px;

        color: var(--g-color-text-hint);
    }

    &__parent-folder-name {
        opacity: 0.5;

        &:hover {
            opacity: 0.7;
        }
    }

    &__selection-checkbox {
        display: flex;
        align-items: center;
        align-self: stretch;

        padding-right: 14px;
    }

    &__batch-panel {
        position: absolute;
        bottom: 8px;
        left: 22px;

        width: calc(100% - 44px);
    }

    &_mobile {
        @include text-body-2();

        #{$class}__icon {
            margin-right: 6px;
        }

        #{$class}__row_mode_minimal {
            padding: 0 16px;
        }

        #{$class}__list > #{$class}__row-container:not(:last-child) #{$class}__link {
            border-bottom: 1px solid var(--g-color-line-generic);
        }
    }
}
