.console-viewer {
    flex: 1 0 0;
    overflow: auto;
    height: 100%;
    padding: 0 10px;

    &__line {
        display: flex;
        padding: 2px 0;
        flex-wrap: wrap;
        white-space: pre-wrap;

        &_warn {
            color: var(--g-color-text-warning);
        }
    }

    &__line-item {
        margin-right: 6px;
        flex-shrink: 0;
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-all;
        max-width: 100%;
        &:last-of-type {
            margin-right: 0;
        }
    }
}
