$class: '.tab-menu';
$tabButtonFlatHeight: 40px;
$tabButtonOutlinedHeight: 28px;
$tabButtonOutlinedPadding: 8px;

#{$class} {
    $listItemPadding: 0 24px;

    width: 100%;
    max-height: 100%;
    font-size: 13px;

    &__list-item {
        padding: $listItemPadding;
    }

    &__item {
        display: flex;
        align-items: center;
        border-radius: 4px;
        height: 40px;
        width: 100%;
        cursor: pointer;
        justify-content: space-between;
    }

    &__item-star {
        margin-right: 8px;
        line-height: 0;
    }

    &__item-star-inactive {
        color: var(--g-color-text-secondary);
    }

    &__item-star-active {
        color: var(--g-color-base-misc-heavy-hover);
    }

    &__item-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 160px;
    }

    &__item-content {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &__list {
        height: calc(100% - $tabButtonFlatHeight);
        overflow-y: auto;
    }

    &_view_outlined {
        height: calc(100% - ($tabButtonOutlinedHeight + 2 * $tabButtonOutlinedPadding));

        #{$class}__buttons-row {
            display: flex;
            padding: $tabButtonOutlinedPadding 24px;
            gap: 6px;
        }

        #{$class}__list {
            height: 100%;
        }
    }

    &_view_flat {
        #{$class}__action-button {
            color: var(--g-color-text-secondary);
            display: flex;
            padding: $listItemPadding;
            align-items: center;
            cursor: pointer;
            height: 40px;

            &:hover,
            &:focus {
                background-color: var(--g-color-base-simple-hover);
            }
        }

        #{$class}__action-button-icon {
            margin-right: 8px;
        }
    }
}
