.conn-form-label {
    display: inline-flex;
    align-items: center;
    width: 152px;
    line-height: 28px;

    &__inner-content {
        width: inherit;
    }

    &__help-text {
        margin-left: 5px;
    }
}
