.conn-form-label {
    display: inline-flex;
    align-items: center;
    width: 152px;

    &_align_start {
        transform: translateY(5px);
    }

    &__inner-content {
        width: inherit;
    }

    &__help-text {
        margin-left: 5px;
    }
}
