@import '~@gravity-ui/uikit/styles/mixins';

.error-debug-info {
    $class: &;
    width: 500px;
    margin-top: 20px;

    color: var(--g-color-text-hint);

    &__copy-btn {
        margin-left: 10px;
    }

    &_mobile {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;

        width: auto;
        margin-bottom: 12px;

        #{$class}__copy-btn {
            margin-bottom: 12px;
            margin-left: 0;

            color: var(--g-color-text-primary);
        }

        #{$class}__copy-id {
            @include text-body-2;
        }
    }
}
