.entries-notification-cut {
    $class: &;

    $iconHeight: 24px;

    &__title {
        text-align: left;
    }

    &__summary {
        min-height: $iconHeight;
    }

    &__disclosure {
        width: 100%;

        & > * {
            width: 100%;
            justify-content: space-between;
        }
    }

    &__cut:not(:last-child) {
        #{$class}__disclosure {
            border-bottom: 1px solid var(--g-color-line-generic);
            padding-bottom: var(--g-spacing-4);
        }
    }
}
