@import '../../../../styles/mixins';
@import '../../styles/ql';

.ql-app {
    display: flex;
    flex: 1;
    flex-direction: column;

    min-width: 1100px;
    min-height: 100%;

    @include revision-panel-fix;

    &_mobile {
        min-width: 320px;

        .cc-cloud-folder-select__current_compact {
            margin-left: 15px;
        }
    }

    &__content {
        display: flex;
        flex-grow: 1;
        flex-direction: column;
    }
}
