$iconWidth: 24px;
$marginWidth: 10px;

.connections-item {
    display: grid;
    grid-template-columns: $iconWidth calc(100% - #{$iconWidth} - #{$marginWidth});
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;

    &__icon {
        color: var(--g-color-text-misc);
    }

    &__title {
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
