.dl-collection-content-grid {
    &__grid {
        display: flex;
        flex-flow: wrap;
        margin: -14px;
    }

    &__content-item {
        height: auto;
        margin: 12px;

        color: inherit;
        text-decoration: none;
    }

    &__title-col-text {
        font-size: 13px;
        font-weight: 400;
        height: 16px;
        margin: 4px 0;
        text-overflow: ellipsis;
        max-width: 125px;
        overflow: hidden;
        white-space: nowrap;
    }

    &__content-footer {
        display: flex;
        justify-content: space-between;
        max-width: 125px;
    }

    &__content-actions {
        margin-top: -2px;
    }
}
