.dl-collection-content-grid {
    &__grid {
        display: flex;
        flex-flow: wrap;
        gap: 29px;
    }

    &__content-item {
        position: relative;
        height: auto;
        cursor: pointer;
    }

    &__content-item-link {
        text-decoration: none;
        color: inherit;

        &_selection-mode {
            pointer-events: none;
        }
    }

    &__content-item-checkbox {
        position: absolute;
        left: 14px;
        top: 14px;
        z-index: 9;
    }

    &__title-col-text {
        font-size: 13px;
        font-weight: 400;
        height: 16px;
        margin: 4px 0;
        text-overflow: ellipsis;
        max-width: 125px;
        overflow: hidden;
        white-space: nowrap;
    }

    &__title-col-icon {
        &_selection-mode {
            opacity: 0.5;
        }
    }

    &__content-footer {
        display: flex;
        justify-content: space-between;
        max-width: 125px;
    }

    &__content-actions {
        margin-top: -2px;
    }
}
