.dl-collection-content-grid {
    &__grid {
        display: flex;
        flex-flow: wrap;
        gap: 10px;
        width: 896px;
    }

    &__item {
        position: relative;
        height: auto;
        cursor: pointer;
        max-width: 141px;
        padding: 8px;
        border-radius: 16px;
        transition: background-color 0.2s ease;

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }
    }

    &__link {
        text-decoration: none;
        color: inherit;

        &_selection-mode {
            pointer-events: none;
        }
    }

    &__checkbox {
        position: absolute;
        left: 22px;
        top: 22px;
        z-index: 9;
    }

    &__icon {
        .custom-entry-icon {
            height: 125px;
            width: 125px;
            .custom-color-box {
                height: 125px;
                width: 125px;
                border-radius: 12px;
                .custom-icon {
                    width: 82px;
                    height: 82px;
                }
            }
        }
        &_selection-mode {
            opacity: 0.5;
        }
    }

    &__title {
        height: 16px;
        margin-top: 8px;
        font-size: 13px;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 4px;
    }

    &__date {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__actions {
        margin-left: 2px;
    }
}
