@import '~@gravity-ui/uikit/styles/mixins';

.entity-link {
    display: flex;
    overflow: hidden;
    flex-direction: column;

    width: 100%;

    &__title {
        margin-bottom: var(--g-spacing-1);
        @include text-subheader-1;
    }

    &__row {
        height: 34px;
        padding-left: 0;
    }
}
