@import '~@gravity-ui/uikit/styles/mixins';

.entity-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__title {
        @include text-subheader-1;
        margin-bottom: var(--g-spacing-1);
    }

    &__row {
        height: 34px;
        padding-left: 0;
    }
}
