@import '../../../../styles/variables.scss';
@import '../../styles/variables.scss';

.dl-user-profile-page {
    display: grid;
    grid-template-rows: auto 1fr;

    min-height: 100vh;

    &__content {
        display: flex;
        justify-content: center;

        padding: var(--g-spacing-5);

        &_new {
            display: unset;

            width: 100%;
            max-width: $pageMaxWidth;
            margin: 0 auto;
            padding: $settingsPagePadding;
        }
    }

    &__breadcrumbs {
        overflow: hidden;
        flex-grow: 1;

        text-overflow: ellipsis;
    }

    &__breadcrumbs-item {
        height: 100%;
    }
}
