.yc-select-search {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    width: 100%;
    height: 37px;
    padding: 0 5px 0 16px;

    border-bottom: 1px solid var(--g-color-line-generic);

    &__input-wrap {
        flex: 1 1 auto;
    }
}
