.markdown-help-popover {
    margin-left: 4px;

    &__content {
        max-height: calc(100vh - 34px);
        overflow: hidden;
    }

    &__tooltip {
        &_hidden {
            display: none;
        }
    }
}
