.markdown-help-popover {
    align-self: center;

    margin-left: 4px;

    vertical-align: top;

    &__content {
        overflow: hidden;

        max-height: calc(100vh - 34px);
    }

    &__tooltip {
        max-width: 300px;

        &_hidden {
            display: none;
        }
    }

    &_mobile svg {
        width: 18px;
        height: 18px;
    }
}
