@import '~@gravity-ui/uikit/styles/mixins';

.dialog-aliases-detail {
    &__subtitle {
        @include text-subheader-1();
        margin-bottom: 8px;
    }

    &__row {
        padding: 10px 0;
    }

    &__icon-widget {
        color: var(--g-color-text-hint);
        margin-right: 8px;
    }

    &__info {
        color: var(--g-color-text-hint);
    }

    &__content {
        margin-bottom: 16px;
        max-height: 160px;
        overflow-x: hidden;
        overflow-y: auto;
    }
}
