.dl-collections-structure-collection-select-item {
    display: flex;
    align-items: center;
    padding: 8px 6px;
    margin-bottom: 4px;
    border-radius: 8px;
    cursor: pointer;

    &:last-child {
        margin-bottom: 0;
    }

    &:hover {
        background-color: var(--g-color-base-simple-hover);
    }

    &_inactive {
        opacity: 0.5;
        cursor: not-allowed;

        &:hover {
            background-color: transparent;
        }
    }

    &_active {
        background-color: var(--g-color-base-simple-hover);
    }

    &__title {
        flex: 1;
        margin-left: 8px;
    }

    &__entry-icon {
        width: 20px;
        height: 20px;
        .custom-color-box {
            width: 20px;
            height: 20px;
        }
    }
}
