.field-list-type-column {
    white-space: nowrap;
    &__icon {
        height: 18px;
        margin-right: 8px;

        &_parameter {
            color: var(--g-color-text-utility);
        }
    }
}
