@import '../../../styles/mixins.scss';

.aside-header-logo-text {
    &__title_rebranding {
        @include text-subheader-2;
    }

    &__installation-info {
        font-size: 10px;
        line-height: 15px;
        font-weight: 700;
        letter-spacing: 0.7px;
    }
}
