.dl-workbook-actions {
    display: flex;

    &__item {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon-action {
        margin-top: 3px;
        margin-right: 8px;
    }
}
