$filterBaseWidth: 220px;

.service-settings-users-list-filters {
    display: flex;
    gap: var(--g-spacing-2);
    padding-right: var(--g-spacing-2);

    &__filter {
        width: $filterBaseWidth;
    }
}
