@import 'Chart';

$dashContainerClassName: '.dash-body';
$dashPublicContainerClassName: '.dash';

.dl-widget {
    #{$dashContainerClassName} &,
    #{$dashPublicContainerClassName} & {
        background-color: var(--g-color-base-float);
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;

        &_move {
            cursor: move;
        }
    }

    // styles for widgets with tabs below

    #{$dashPublicContainerClassName} &__container &__chart-header,
    #{$dashContainerClassName} &__container &__chart-header {
        top: -40px;
        right: 8px;
    }

    #{$dashPublicContainerClassName} &__container_table &__chart-header,
    #{$dashContainerClassName} &__container_table &__chart-header {
        top: -46px;
        right: 8px;
    }

    #{$dashPublicContainerClassName} &__container &__body_table,
    #{$dashContainerClassName} &__container &__body_table {
        padding: var(--dl-dk-table-padding);
    }

    #{$dashPublicContainerClassName} &:not(&_no-tabs) &__container &__body_table,
    #{$dashContainerClassName} &:not(&_no-tabs) &__container &__body_table {
        padding-top: 0;
    }

    #{$dashPublicContainerClassName} &__container_table .chartkit-loader__loader_compact,
    #{$dashContainerClassName} &__container_table .chartkit-loader__loader_compact {
        top: -42px;
        right: 35px;
    }

    // styles for widgets without tabs below

    #{$dashPublicContainerClassName} &_no-tabs &__container &__chart-header,
    #{$dashContainerClassName} &_no-tabs &__container &__chart-header {
        top: -4px;
    }

    // style for widgets with auto height

    // Resetting height 100% for errors
    // if autoHeight enabled there error doesn't shrink if container is bigger than error itself
    #{$dashPublicContainerClassName} &_autoheight .datalens-chartkit-error,
    #{$dashContainerClassName} &_autoheight .datalens-chartkit-error {
        height: auto;
    }

    /** styles for flat controls */
    &__controls-corner-wrapper {
        background-color: transparent;
        border-radius: var(--g-border-radius-l);
        margin-left: 8px;
        padding: 2px;
        display: flex;
        column-gap: 2px;
        opacity: 0.5;
        transition: opacity 0.3s ease-out;

        & .chartkit-insights__button::before,
        & .dl-widget__filter-button::before,
        & .chartkit-menu__switcher_flat {
            opacity: 0;
            transition: opacity 0.3s ease-out;
        }
    }

    .widget-header_mobile &__controls-corner-wrapper,
    &:hover &__controls-corner-wrapper {
        opacity: 1;
        background-color: var(--g-color-base-background);
        box-shadow: 0 1px 6px 0 rgba(0,0,0,0.1);

        & .chartkit-insights__button::before,
        & .dl-widget__filter-button::before,
        & .chartkit-menu__switcher_flat {
            opacity: 1;
        }
    }
}