$dashContainerClassName: '.dash-body';
$dashPublicContainerClassName: '.dash';

$hintOffset: 3px;

.dl-widget {
    #{$dashContainerClassName} &,
    #{$dashPublicContainerClassName} & {
        background-color: var(--g-color-base-float);
    }

    &__overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        z-index: 1;

        &_move {
            cursor: move;
        }
    }

    &__chart-title-text {
        text-overflow: ellipsis;
        overflow: hidden;
        display: block;

        &_with-hint {
            display: inline-block;
            vertical-align: middle;
            max-width: calc(100% - #{$hintOffset} - 16px);
        }
    }

    &__chart-title-wrap {
        display: flex;
        align-items: center;
    }

    &__chart-title-hint {
        margin-left: $hintOffset;
        display: inline-flex;

        & > * {
            display: inline-flex;
        }
    }

    // hide in sheet only
    .g-sheet__sheet &__chart-title-hint {
        display: none;
    }

    &__chart-title-hint-button {
        display: inline-flex;
    }

    // styles for widgets with tabs below

    #{$dashPublicContainerClassName} &__container &__chart-header:not(&__chart-header_float),
    #{$dashContainerClassName} &__container &__chart-header:not(&__chart-header_float) {
        top: -40px;
        right: 8px;
    }

    #{$dashPublicContainerClassName} &__container_table &__chart-header:not(&__chart-header_float),
    #{$dashContainerClassName} &__container_table &__chart-header:not(&__chart-header_float) {
        top: -46px;
        right: 8px;
    }

    #{$dashPublicContainerClassName} &__container &__body_table,
    #{$dashContainerClassName} &__container &__body_table {
        padding: var(--dl-dk-table-padding);
    }

    #{$dashPublicContainerClassName} &:not(&_no-tabs) &__container &__body_table,
    #{$dashContainerClassName} &:not(&_no-tabs) &__container &__body_table {
        padding-top: 0;
    }

    #{$dashPublicContainerClassName} &__container_table .chartkit-loader__loader_compact,
    #{$dashContainerClassName} &__container_table .chartkit-loader__loader_compact {
        top: -42px;
        right: 35px;
    }

    // styles for widgets without tabs below

    #{$dashPublicContainerClassName}
        &_no-tabs
        &__container
        &__chart-header:not(&__chart-header_float),
    #{$dashContainerClassName} &_no-tabs &__container &__chart-header:not(&__chart-header_float) {
        top: -4px;
    }

    // styles for mobile dash widgets chart header
    // for supporting full display of titles
    #{$dashPublicContainerClassName} &_default-mobile &__chart-header,
    #{$dashContainerClassName} &_default-mobile &__chart-header {
        top: 2px;
    }

    // style for widgets with auto height

    // Resetting height 100% for errors
    // if autoHeight enabled there error doesn't shrink if container is bigger than error itself
    #{$dashPublicContainerClassName} &_autoheight .datalens-chartkit-error,
    #{$dashContainerClassName} &_autoheight .datalens-chartkit-error {
        height: auto;
    }

    /** styles for flat controls */
    &__controls-corner-wrapper {
        background-color: var(--g-color-base-float);
        border-radius: var(--g-border-radius-m);
        margin-left: 8px;
        padding: 0px;
        display: flex;
        column-gap: 0px;
        opacity: 1;
        transition: opacity 0.3s ease-out;

        & .dl-widget__filter-button {
            opacity: 0.75;
        }
    }

    & .chartkit-menu__switcher_flat {
        display: none;
    }

    &:hover &__controls-corner-wrapper {
        background-color: var(--g-color-base-background);

        & .chartkit-insights__button {
            opacity: 1;
        }

        & .dl-widget__filter-button:hover {
            opacity: 1;
        }

        & .chartkit-menu__switcher_flat {
            display: block;
        }
    }

    .widget-header_mobile &__controls-corner-wrapper {
        background-color: var(--g-color-base-background);

        & .chartkit-insights__button,
        & .dl-widget__filter-button {
            opacity: 1;
        }

        & .chartkit-menu__switcher_flat {
            display: block;
        }
    }
}
