.combined-chart-layer-type-switcher {
    width: 100%;

    &__item {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    .g-segmented-radio-group__option-text {
        height: 100%;
    }
}
