@import '../../../../styles/variables';

.visualization-layers-control {
    display: flex;
    flex-direction: column;

    padding: 16px 16px 18px;

    border-bottom: 1px solid var(--g-color-line-generic);

    &__row {
        display: flex;

        width: 100%;

        &:not(:last-child) {
            margin-bottom: 12px;
        }
    }

    &__select {
        flex: 1 1 auto;
    }

    &__range {
        width: 100%;
    }

    &__button-plus {
        margin-left: 12px;
    }
}
