.min-max-inputs {
    display: flex;
    justify-content: space-between;
    position: relative;

    &__input-label {
        margin-top: 5px;
        display: inline-block;
        color: var(--g-color-text-secondary);
    }

    &__input {
        width: 84px;
        margin-right: 5px;
        align-items: center;

        &:not(:first-child) {
            margin-left: auto;
        }
    }
}
