.min-max-inputs {
    position: relative;

    display: flex;
    justify-content: space-between;

    &__input-label {
        display: inline-block;

        margin-top: 5px;

        color: var(--g-color-text-secondary);
    }

    &__input {
        align-items: center;

        width: 84px;
        margin-right: 5px;

        &:not(:first-child) {
            margin-left: auto;
        }
    }
}
