@import '~@gravity-ui/uikit/styles/mixins';

.dl-collection-content-table {
    $class: &;

    &__table {
        display: table;

        width: 100%;

        table-layout: fixed;
    }

    &__header {
        display: table-header-group;
    }

    &__content {
        display: table-row-group;
    }

    &__header-row,
    &__content-row {
        display: table-row;
    }

    &__content-row {
        text-decoration: none;

        color: inherit;

        &:hover:not(&_disabled) {
            cursor: pointer;

            background-color: var(--g-color-base-simple-hover);
        }
    }

    &__header-cell,
    &__content-cell {
        display: table-cell;

        box-sizing: content-box;
        padding: 11px 10px;

        line-height: 18px;
        text-align: left;
        vertical-align: middle;
        text-decoration: none;

        color: inherit;
        border-bottom: 1px solid var(--g-color-line-generic);

        &:last-child {
            padding-right: 12px;
            padding-left: 0;
        }

        &:first-child {
            padding-right: 0;
            padding-left: 12px;
        }

        &_disabled {
            pointer-events: none;
        }
    }

    &__header-cell {
        &_checkbox {
            width: 27px;
        }

        &_title {
            width: 60%;
        }

        &_controls {
            width: 50px;
        }
    }

    &__content-row:last-child &__content-cell {
        border-bottom: 0;
    }

    &__header-cell {
        font-weight: 500;
    }

    &__content-cell_title {
        display: table-cell;

        vertical-align: middle;
    }

    &__content-cell_control {
        text-align: right;
    }

    &__content-cell_control#{$class}__content-cell_import {
        cursor: default;
    }

    &__title-col {
        display: flex;
        align-items: center;

        min-height: 32px;
    }

    &__title-col-text {
        overflow: hidden;

        margin-left: 12px;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &_mobile {
        #{$class}__content-cell {
            padding: 4px;
            @include text-body-2;
        }

        #{$class}__content-cell_date {
            width: 80px;
        }
    }

    &__custom-entry-icon {
        width: 32px;
        height: 32px;
        .custom-color-box {
            width: 32px;
            height: 32px;

            border-radius: 6px;
        }

        &_mobile {
            width: 28px;
            height: 28px;
            .custom-color-box {
                width: 28px;
                height: 28px;

                border-radius: 6px;
            }
        }
    }

    &_mobile {
        #{$class}__content-cell {
            padding: 4px;
            @include text-body-2;
        }

        #{$class}__content-cell_title {
            width: 100%;
        }
    }
}
