.list-with-remove {
    $main: &;

    &__wrapper {
        $wrapper: &;

        display: flex;
        overflow: hidden;
        flex: 1;
        align-items: center;

        &_icon-on-hover {
            #{$main}__remove {
                display: none;
            }

            &#{$wrapper}_active #{$main}__remove {
                display: flex;
            }
        }
    }

    &__item {
        display: flex;
        flex: 1;

        min-width: 0;
    }

    &__remove {
        display: flex;
        flex: 0;
    }
}
