.dl-workbook-create-entry {
    &__icon-connection {
        color: var(--g-color-text-utility);
    }

    &__dropdown-item {
        display: flex;
        align-items: center;
    }

    &__dropdown-text {
        display: flex;
        height: 32px;
        margin-left: 8px;
        align-items: center;
    }

    &__dropdown-label {
        margin-left: 14px;
    }
}
