.dl-dialog-ql-parameter {
    --yc-dialog-divider-margin: 0;

    display: flex;
    flex-direction: column;
    width: 595px;
    height: 370px;
    max-height: 80vh;
    min-height: 370px;

    &__body {
        &_without-paddings {
            padding: 0;
        }

        &_without-horizontal-paddings {
            padding: 10px 0;
        }

        &_mode_fields {
            --dl-dataset-field-filter-padding: 0 32px;
        }
    }

    &__row {
        display: flex;
        margin-bottom: 10px;
    }

    &__label {
        width: 100px;
        line-height: 28px;
    }

    & .yc-dialog-header__caption {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & .yc-dialog-body {
        overflow-y: auto;
    }

    & .yc-dialog-footer__children {
        position: relative;
    }
}
