@import '~@gravity-ui/uikit/styles/mixins';

.dl-core-workbook-navigation-minimal {
    position: relative;

    display: flex;
    flex-direction: column;

    width: 416px;
    max-width: 80vw;
    height: 540px;
    max-height: 70vh;

    &__row {
        display: flex;
        align-items: center;

        width: 100%;
        height: 40px;
        padding: 0 20px;

        cursor: pointer;
    }

    &__row_inactive {
        cursor: initial;

        opacity: 0.5;
    }

    &__info {
        display: flex;
        overflow: hidden;

        width: 100%;
        padding-right: 0;
    }

    &__popup {
        overflow: hidden;

        border-radius: 4px;
        background-color: var(--g-color-base-float);
    }

    &__icon {
        position: relative;
        bottom: 2px;

        display: flex;
        flex: 0 0 auto;

        margin-right: 12px;
    }

    &__name {
        display: flex;
        overflow: hidden;
        flex: 3 1 30%;
        align-items: center;

        min-width: 100px;

        color: var(--g-color-text-primary);

        span {
            @include overflow-ellipsis();
        }
    }

    &__name-line {
        display: flex;
        overflow: hidden;
    }

    &__date {
        flex: 0 0 60px;

        min-width: auto;
    }

    &__loader {
        margin: auto;
    }

    &__empty-entries {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;

        font-size: 20px;
    }

    &__control {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 8px;

        padding: 8px 20px;
    }

    &__sort-control {
        min-width: fit-content;
    }

    &__sort-select {
        min-width: 140px;
    }

    &__items {
        display: flex;
        overflow-y: auto;
        flex-direction: column;
        gap: var(--g-spacing-4);
    }

    &__items-box {
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-1);
    }

    &__list-title {
        margin-left: var(--g-spacing-4);
    }

    &__shared-item-icon {
        margin-left: var(--g-spacing-2);
    }
}
