.relations-map {
    position: relative;

    display: flex;
    overflow: auto;
    flex-grow: 1;

    padding: 24px;

    border: 1px solid transparent;

    &_over {
        border: 1px solid var(--g-color-line-generic);
    }

    &__container {
        display: flex;

        &_empty {
            margin: 0 auto;
        }
    }

    &__svg-canvas {
        position: absolute;
        top: 0;
        left: 0;

        min-width: 100%;
    }

    &__tree-level {
        display: flex;
        flex-grow: 1;
    }

    &__sub-tree {
        flex-grow: 1;

        margin-left: 100px;
    }

    &__join {
        --ds-join-stroke-color: var(--dl-color-border);
        --ds-join-stroke-dasharray: 0;
        z-index: 3;

        &_error {
            --ds-join-stroke-color: var(--g-color-base-danger-heavy);
            --ds-join-stroke-dasharray: 4 2;
        }

        &:hover {
            cursor: pointer;
        }
    }

    &__placeholder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        width: 100%;
    }
}
