.input-link {
    position: relative;
    width: 100%;
    display: flex;

    &__input {
        width: var(--dl-dropdown-navigation-width, 100%);
        display: flex;
    }

    &__button {
        width: 75px;

        &:not(:last-child) {
            margin-right: 10px;
        }
    }

    &__error {
        color: var(--g-color-text-danger);
        padding: 10px;
    }
}
