.dl-dialog-line-width {
    &__number-input {
        max-width: 136px;
        width: 136px;
    }

    &__number-input-button {
        width: 45px;
    }

    &__number-input-value {
        width: 46px;
    }
}
