.connections-param {
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &__title {
        text-overflow: ellipsis;
        overflow: hidden;

        &_dataset {
            color: var(--g-color-text-brand);
        }
    }

    &__info {
        color: var(--g-color-text-hint);
        margin-left: 5px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
