.conn-form-check-params-button {
    display: flex;
    align-items: center;
    margin-right: auto;

    &__icon {
        margin-left: 5px;
    }

    &__tooltip {
        width: 192px;

        .g-button {
            flex-grow: 0;
        }
    }

    &__tooltip-content {
        padding: 10px;
        display: flex;
        flex-direction: column;
        gap: 18px;
    }
}
