.dl-dialog-public-shared-link {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__input-place {
        position: relative;

        display: flex;
        align-items: center;

        width: 100%;
        min-width: 280px;
    }

    &__input-link_active > input {
        color: var(--g-color-text-complementary);
    }

    &__clipboard-button {
        display: flex;
        align-items: center;

        margin-left: 16px;
    }
}
