@import '../../../../../../styles/mixins';

.type-select {
    &__type {
        display: flex;
        opacity: 0.5;
        margin-right: 5px;
    }

    &__select-item {
        display: flex;
        align-items: center;

        &_option {
            padding-left: 8px;
            width: unset;
        }

        &_disabled {
            @include dl-select-disabled-option;
        }
    }

    &__select-control {
        width: 180px;
        justify-content: start;
    }
}
