@import '../../../../../../styles/mixins';

.type-select {
    &__type {
        display: flex;

        margin-right: 5px;

        opacity: 0.5;
    }

    &__select-item {
        display: flex;
        align-items: center;

        &_option {
            width: unset;
            padding-left: 8px;
        }

        &_disabled {
            @include dl-select-disabled-option;
        }
    }

    &__select-control {
        justify-content: start;

        width: 180px;
    }
}
