$labelHeight: 20px;
$labelMargin: 8px;

.revisions-list {
    $class: &;

    &__label {
        position: relative;

        display: inline-block;

        box-sizing: border-box;
        margin: 0 0 $labelMargin 20px;
        padding: 0 8px;

        font-size: var(--g-text-body-1-font-size);
        line-height: $labelHeight;
        vertical-align: top;

        color: var(--g-color-text-secondary);
        border: 1px solid transparent;
        border-radius: 4px;
        background-color: var(--g-color-base-background);

        &:after {
            position: absolute;
            top: calc(#{$labelHeight} + 1px);
            left: 12px;

            width: 0;
            height: $labelMargin;

            content: '';

            border-left: 1px solid var(--g-color-line-generic-accent);
        }
    }

    &__content {
        margin: 0;
        padding: 0;
    }

    &__row {
        position: relative;
        z-index: 1;

        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        margin: 0;
        padding: 8px 20px 8px 50px;

        list-style: none;

        cursor: pointer;

        color: var(--g-color-text-complementary);

        transition: background-color 0.21s ease-out;

        &:before {
            position: absolute;
            z-index: 1;
            top: 0;
            bottom: 0;
            left: 33px;

            content: '';

            border-left: 1px solid var(--g-color-line-generic-accent);
        }

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }
        &_disabled,
        &_disabled:hover {
            opacity: 0.5;
            background-color: initial;
        }

        &_current,
        &_current:hover {
            background-color: var(--g-color-base-selection);
        }
    }

    &__row-actions {
        visibility: hidden;

        margin-inline: auto 0;
    }

    &__row:hover &__row-actions {
        visibility: visible;
    }

    &__row &__point-wrap {
        position: absolute;
        z-index: 1;
        top: 14px;
        left: 26px;
    }

    &__text {
        margin-top: 6px;

        font-size: var(--g-text-body-1-font-size);
        line-height: var(--g-text-body-1-line-height);

        color: var(--g-color-text-primary);
    }

    &__block:last-child &__row:last-child {
        margin-bottom: 0;

        &:before {
            bottom: calc(#{$labelHeight} + 2px);
        }
    }

    &__block + &__block &__label {
        margin-top: $labelMargin;

        &:before {
            position: absolute;
            top: calc(-#{$labelMargin} - 1px);
            left: 12px;

            width: 0;
            height: $labelMargin;

            content: '';

            border-left: 1px solid var(--g-color-line-generic-accent);
        }
    }

    &__avatar {
        margin-right: 18px;
    }

    &__point-tooltip {
        padding: var(--g-spacing-2) var(--g-spacing-3);
    }
}
