$labelHeight: 20px;
$labelMargin: 8px;

@mixin point($type: small) {
    content: '';
    box-sizing: border-box;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    width: 7px;
    height: 7px;
    z-index: 1;

    @if $type == 'medium' {
        top: -3px;
        left: -3px;
        width: 13px;
        height: 13px;
        z-index: 0;
    }
    @if $type == 'mediumL' {
        top: -4px;
        left: -4px;
        width: 15px;
        height: 15px;
        z-index: 0;
    }
}

.revisions-list {
    &__label {
        display: inline-block;
        vertical-align: top;
        padding: 0 8px;
        margin: 0 0 $labelMargin 20px;
        box-sizing: border-box;
        border: 1px solid transparent;
        background-color: var(--g-color-base-background);
        border-radius: 4px;
        line-height: $labelHeight;
        color: var(--g-color-text-secondary);
        font-size: var(--g-text-body-1-font-size);
        position: relative;

        &:after {
            content: '';
            position: absolute;
            border-left: 1px solid var(--g-color-line-generic-accent);
            width: 0;
            height: $labelMargin;
            top: calc(#{$labelHeight} + 1px);
            left: 12px;
        }
    }

    &__content {
        margin: 0;
        padding: 0;
    }

    &__row {
        list-style: none;
        margin: 0;
        padding: 8px 20px 8px 50px;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        z-index: 1;
        cursor: pointer;
        transition: background-color 0.21s ease-out;
        color: var(--g-color-text-complementary);

        &:before {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            left: 33px;
            border-left: 1px solid var(--g-color-line-generic-accent);
            z-index: 1;
        }

        &:hover {
            background-color: var(--g-color-base-simple-hover);
        }

        &_current,
        &_current:hover {
            background-color: var(--g-color-base-selection);
        }
    }

    &__row &__point-wrap {
        position: absolute;
        left: 30px;
        top: 12px;
        z-index: 1;
    }

    &__row &__point {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        border: 1px solid var(--g-color-line-generic-accent);
        background-color: var(--g-color-base-background);
        box-sizing: border-box;
        display: block;
        position: relative;
    }

    &__row_draft &__point {
        background-color: transparent;
        border-color: transparent;

        &:before {
            @include point(medium);
            background-color: var(--g-color-base-background);
            border: 1px solid var(--g-color-line-generic-accent);
        }

        &:after {
            @include point();
            background-color: var(--g-color-base-neutral-heavy);
            border: 1px solid var(--g-color-base-background);
        }
    }

    &__row_published &__point {
        background-color: transparent;
        border-color: transparent;

        &:before {
            @include point(mediumL);
            background-color: var(--g-color-base-selection-hover);
            border: 1px solid var(--g-color-base-selection-hover);
        }

        &:after {
            @include point();
            background-color: var(--g-color-base-brand);
            border: 1px solid var(--g-color-base-brand);
        }
    }

    &__text {
        margin-top: 6px;
        color: var(--g-color-text-primary);
        font-size: var(--g-text-body-1-font-size);
        line-height: var(--g-text-body-1-line-height);
    }

    &__block:last-child &__row:last-child {
        margin-bottom: 0;

        &:before {
            bottom: calc(#{$labelHeight} + 2px);
        }
    }

    &__block + &__block &__label {
        margin-top: $labelMargin;

        &:before {
            content: '';
            position: absolute;
            border-left: 1px solid var(--g-color-line-generic-accent);
            width: 0;
            height: $labelMargin;
            top: calc(-#{$labelMargin} - 1px);
            left: 12px;
        }
    }

    &__avatar {
        margin-right: 18px;
    }
}
