@import '../../../../styles/mixins';
@import '../../../../styles/variables';

.dash-action-panel {
    $padding: 8px 24px;
    $paddingMailing: 8px 16px;
    $height: 56px;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;

    width: 100%;

    border-top: var(--dl-dash-action-panel-border-top-width) solid
        var(--dl-dash-action-panel-border-color);
    border-right: var(--dl-dash-action-panel-border-right-width) solid
        var(--dl-dash-action-panel-border-color);
    border-bottom: var(--dl-dash-action-panel-border-bottom-width) solid
        var(--dl-dash-action-panel-border-color);
    border-left: var(--dl-dash-action-panel-border-left-width) solid
        var(--dl-dash-action-panel-border-color);

    @include revision-panel-fix;

    &__menu-item-icon {
        margin-right: $menuIconMarginRight;
    }

    &__button-cancel {
        margin-right: 8px;
    }

    &__controls {
        display: grid;
        flex-shrink: 0;
        align-items: center;
        grid-auto-flow: column;
        grid-column-gap: 8px;
    }

    &__buttons-save-wrapper {
        display: flex;
    }

    &__button-save {
        margin-right: 4px;
    }

    & .action-panel__container {
        padding-left: 24px;
    }
}
