@import '~@gravity-ui/uikit/styles/mixins';

.dash-action-panel-mobile {
    width: 100%;
    height: 56px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    padding: 0 20px;
    border-bottom: 1px solid var(--g-color-line-generic);
    background: var(--g-color-base-background);
    justify-content: space-between;

    &__entry-name {
        @include overflow-ellipsis();
        @include text-subheader-2();
        max-width: 50%;
        font-weight: bold;
    }

    &__controls {
        flex-shrink: 0;
        display: grid;
        grid-auto-flow: column;
        grid-column-gap: 8px;
        align-items: center;
    }
}
