.dl-smart-loader {
    display: flex;
    flex: 1;
    align-self: center;
    justify-self: center;

    &_disableStretch {
        flex: 0;
    }

    &__container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}
