.dl-smart-loader {
    display: flex;
    flex: 1;
    place-self: center center;

    &__container {
        display: flex;
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}
