@mixin margin($class, $direction, $indentation) {
    #{$class}__margin_#{$direction}_#{$indentation} {
        margin-#{$direction}: #{$indentation}px;
    }
}

@mixin width($class, $size) {
    #{$class}__width_#{$size} {
        flex: 0 0 #{$size}px;

        width: #{$size}px;
    }
}

@mixin flex-grow-vertically {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}

@mixin overflow-ellipsis() {
    overflow: hidden;

    white-space: nowrap;
    text-overflow: ellipsis;
}
