@import '../../../../../../styles/mixins.scss';

.ql-tab-params {
    overflow-y: scroll;

    height: calc(100% - 40px);
    padding: 0 0 8px;

    &__param-row-wrapper {
        display: flex;
        flex-direction: column;

        padding: 10px 0 48px 20px;

        border-bottom: 1px solid var(--g-color-line-generic);
    }

    &__param-row {
        display: flex;
        align-items: center;

        line-height: 28px;
    }

    &__param-row-applied {
        margin-top: 24px;
    }

    &__remove-param-btn {
        display: inline-flex;

        width: 28px;
        height: 28px;
        margin-right: 5px;
        margin-left: 10px;

        .icon.button2__icon {
            display: inline-block;

            svg {
                vertical-align: middle;
            }
        }
    }

    &__add-param-btn {
        margin: 10px 0 60px 20px;
    }

    &__default-value-add {
        height: 0;

        text-align: center;
    }

    &__default-value-add-btn {
        display: inline;

        width: 100%;
        height: 28px;
        margin-top: 10px;
        margin-bottom: 10px;

        line-height: 28px;
        text-align: center;

        .icon.button2__icon {
            display: inline-block;

            svg {
                vertical-align: middle;
            }
        }
    }

    &__overriden-param-note {
        height: 20px;
        margin-top: 4px;

        line-height: 20px;
        vertical-align: middle;

        &_label {
            display: inline-block;

            height: 20px;
            margin-right: 5px;

            line-height: 20px;
            vertical-align: middle;

            color: var(--g-color-text-secondary);
        }

        &_value-wrapper {
            display: inline-block;

            height: 20px;
            margin-right: 10px;
            padding: 1px 6px 1px 8px;

            line-height: 18px;
            vertical-align: middle;

            color: var(--g-color-text-complementary);
            background: var(--g-color-base-generic);
        }

        &_value {
            display: inline-block;
            overflow: hidden;

            height: 20px;

            line-height: 20px;
            vertical-align: middle;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        svg {
            height: 20px;
            margin-left: 4px;

            cursor: pointer;
            vertical-align: middle;
        }
    }

    &__param-name {
        display: inline-flex;
    }

    &__default-value-interval {
        display: inline-flex;

        & > div {
            width: 100%;
        }
    }

    &__default-value-date {
        display: inline-flex;

        .dl-simple-datepicker__control-input_date {
            width: 82px;
        }

        .dl-simple-datepicker__control-input_time {
            width: 46px;
        }
    }

    &__default-value-array {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    &__default-value-text {
        margin-right: 5px;
    }

    &__default-value-entry {
        display: flex;
        flex-direction: row;

        &_not-first {
            margin-top: 5px;
        }
    }

    &__remove-param-value-btn {
        display: inline-flex;
        float: right;

        width: 28px;
        height: 28px;
    }

    &__delimeter {
        display: inline-flex;

        margin-right: 8px;
        margin-left: 8px;

        vertical-align: top;
    }

    &__select-popup {
        @include dl-select-popup;
    }

    &__select {
        display: inline-flex;
        flex: 0 0 82px;

        margin-right: 12px;

        vertical-align: top;
    }
}
