@import '~@gravity-ui/uikit/styles/mixins';

.parameters-section {
    margin-top: 12px;

    &__title {
        font-weight: 500;
        @include text-subheader-2();
    }
    &__tag {
        max-width: 160px;
    }
}
