.gradient-palette-editor {
    &_no-rights {
        padding-bottom: var(--g-spacing-5);
    }

    &__palette-preview {
        height: 28px;
        margin: 8px 0;

        border-radius: 4px;
    }

    &__color-inputs {
        display: flex;
        justify-content: space-between;
    }

    &__palette-charkit-preview {
        display: flex;
        justify-content: space-between;
        column-gap: 10px;

        height: 35vh;
        min-height: 180px;
        max-height: 400px;
    }

    &__palette-charkit-node {
        width: 50%;

        background: var(--g-color-base-background);
    }

    &__name-setting {
        display: flex;
        align-items: center;
    }

    &__palette-icon {
        width: 20px;
        height: 16px;
    }

    &__name-input {
        margin-left: 10px;
    }
}
