.dl-iam-access-dialog-resource-info {
    display: flex;
    align-items: center;

    &__icon {
        min-width: 20px;
        .shared-entry-icon-box {
            width: 20px;
            height: 20px;
        }
    }

    &__title {
        margin-left: 8px;
    }
}
