.pane-editor {
    position: absolute;
    inset: 0;
    display: flex;

    &__pane-children {
        position: absolute;
        inset: 0;
        display: flex;
    }

    &__editor-search {
        width: 100%;
    }

    &__editor-place {
        position: absolute;
        height: calc(100% - 2px); // monaco sometimes becomes larger in height than the container
        inset: 0 0 1px;
        display: flex;
        width: 100%;
    }
}
