.dl-migrate-to-workbook-dialog-entry-row {
    display: flex;
    align-items: center;

    &__icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
    }

    &__name {
        margin-left: 8px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: var(--g-color-text-primary);
        text-decoration: none;
    }

    &__warning {
        display: flex;
        align-items: center;
        margin-left: 8px;
    }

    &__warning-text {
        margin-left: 8px;
        white-space: nowrap;
    }
}
