.dl-migrate-to-workbook-dialog-entry-row {
    display: flex;
    align-items: center;

    &__icon {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 24px;
        height: 24px;
    }

    &__name {
        overflow: hidden;

        margin-left: 8px;

        white-space: nowrap;
        text-decoration: none;
        text-overflow: ellipsis;

        color: var(--g-color-text-primary);
    }

    &__warning {
        display: flex;
        align-items: center;

        margin-left: 8px;
    }

    &__warning-text {
        margin-left: 8px;

        white-space: nowrap;
    }
}
