.error-view {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;

    &__error-message {
        margin-bottom: 10px;

        color: var(--ds-color-text-danger);
    }
}
