.dl-shared-entry-workbook-delete-dialog {
    max-height: 85vh;

    &__body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__list {
        margin-top: var(--g-spacing-4);
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: var(--g-spacing-4);
        overflow-y: auto;
    }

    &__current-row {
        margin-bottom: var(--g-spacing-4);
    }

    &__error-state {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    &__button-retry {
        margin-top: var(--g-spacing-5);
    }

    &__info {
        margin-bottom: var(--g-spacing-4);
    }
}
