.dl-dialog-public-alert-tooltip {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 24px;
    height: 24px;

    &__icon {
        vertical-align: middle;

        color: var(--g-color-text-danger);
    }
}
