.dl-select-migration-to-workbook-dialog {
    position: relative;
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 32px);

    &__body {
        display: flex;
        flex-direction: column;
        // TODO: this is an private api and may silently changed. We should use local styles
        padding-bottom: var(--yc-dialog-side-padding);
        overflow-y: auto;
    }

    &__body-content {
        display: flex;
        justify-content: space-between;
    }

    &__block-content-item {
        flex: 1 1 0;

        &:last-child {
            margin-left: 24px;
        }
    }
}
