.dl-collection-actions {
    display: flex;

    &__dropdown-btn,
    &__access {
        margin-right: 8px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__dropdown-item {
        display: flex;
    }

    &__dropdown-icon {
        margin-top: 3px;
    }

    &__dropdown-text {
        margin-left: 8px;
        line-height: 24px;
    }

    &__dropdown-hint {
        max-width: 200px;
        line-height: normal;
        padding-bottom: 4px;
        color: var(--g-color-text-hint);
    }

    &__notice {
        margin: 4px -4px 8px;
        cursor: initial;
        &:hover {
            background-color: initial;
        }
    }
}
