.ql-screen-editor {
    width: 100%;
    height: 100%;

    &__action-bar-bottom {
        position: fixed;
        bottom: 0;
    }

    &__action-bar-top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 41px;
        line-height: 41px;

        border-bottom: 1px solid var(--g-color-line-generic);

        &_empty {
            border-bottom: none;
        }

        &_connection-select-btn-wrapper {
            height: 100%;
            display: flex;
            align-items: center;
            gap: 10px;
            flex-shrink: 3;
            min-width: 0;
            button {
                padding: 0 8px;
                overflow: hidden;
                height: 100%;
                .g-button__text {
                    display: flex;
                    align-items: center;
                    min-width: 0;
                    width: 100%;
                    overflow: hidden;
                    gap: 5px;
                }
            }
        }

        &_connection-select-btn-text {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            min-width: 0;
            max-width: 100%;
            flex-shrink: 1;
        }

        &_connection-label {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        &_connection-select-btn_more {
            height: 100%;
            min-width: 0;
            display: flex;
            flex-shrink: 3;
        }

        &_connection-select-btn {
            flex-shrink: 0;
        }

        &_tabs {
            width: 220px;
            flex-shrink: 0;
            height: 40px;
            margin-left: 20px;
            box-shadow: none;
        }
    }

    &__run-btn {
        float: left;
        margin: 0 0 16px 22px;
    }
}
