@import '~@gravity-ui/uikit/styles/mixins';

.entry-panel-breadcrumbs {
    max-width: var(--dl-breadcrumbs-max-width);

    &__item,
    &__item:visited,
    &__item:active {
        color: var(--g-color-text-secondary);
        display: inline;
        text-decoration: none;

        &_link:hover {
            color: var(--g-color-text-link-hover);
        }

        &:hover {
            color: var(--g-color-text-primary);
        }
    }
}
