@import '~@gravity-ui/uikit/styles/mixins';
@import '../../styles/mixins.scss';

.entry-panel-breadcrumbs {
    overflow: hidden;
    flex-grow: 1;
    align-items: center;

    height: 28px;
    margin-right: 5px;
}
