.dl-collection-content {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__empty-state {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
    }

    &__placeholder-controls {
        display: flex;
        gap: 8px;
        margin-top: 16px;
    }

    &__loader {
        margin-top: 12px;
    }

    &__batch-panel-placeholder {
        height: 68px;
    }

    &__batch-panel {
        position: fixed;
        width: 896px;
        bottom: 8px;
        z-index: 10;
    }
}
