.dl-collection-content {
    &__empty-state {
        align-items: center;
        display: flex;
        flex: 1;
        justify-content: center;
    }

    &__controls {
        margin-top: 16px;
    }

    &__loader {
        margin-top: 12px;
    }

    &__batch-panel-placeholder {
        height: 68px;
    }

    &__batch-panel {
        position: fixed;
        width: 100%;
        max-width: 896px;
        bottom: 8px;
    }
}
