.preview {
    display: flex;
    flex: 1;

    height: 100%;

    .datalens-chartkit-error {
        padding: 20px;
    }

    &_mobile {
        position: relative;

        flex-direction: column;

        .dl-widget__container .dl-widget__chart-header {
            top: -40px;
            right: 8px;
        }
    }

    &__loader {
        display: flex;
        flex: 1;
        flex-direction: column;
    }
}
