.widgets-order-popup {
    &__body {
        // TODO: this is an private api and may silently changed. We should use local styles
        padding: var(--yc-dialog-body-padding);
        box-sizing: border-box;
        min-width: 350px;
    }

    &__list {
        max-height: 320px;
        overflow: auto;
    }

    &__row {
        padding: 8px;
    }

    &__controls-bottom {
        display: flex;
        justify-content: flex-start;
    }

    &__popover {
        min-width: 460px;
        max-width: 38vw;
    }

    &__widget-title {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}
