@import '~@gravity-ui/uikit/styles/mixins';
@import '../../../../styles/mixins.scss';

.widget-header {
    $class: &;
    $headerHeight: 48px;

    &__back-icon {
        position: absolute;
        top: 16px;
        left: 14px;
    }

    &__icons {
        position: absolute;
        z-index: 10;
        top: 4px;
        right: 44px;

        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }

    &__filters-controls {
        margin-left: 8px;
        padding: 2px;

        border-radius: var(--g-border-radius-l);
        background-color: var(--g-color-base-background);
        box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.05);
    }

    &__icon-filter-clear {
        color: var(--g-color-text-primary);
    }

    .gc-adaptive-tabs {
        --gc-tabs-space-between: 14px;
        --gc-tabs-height: 44px;
        --gc-tabs-color-text-inactive: var(--g-color-text-primary);

        @include dl-adaptive-tabs;
    }

    &__tabs {
        display: flex;

        padding: 0 65px 0 16px;

        font-size: 15px;

        &_no-controls {
            padding: 0 35px 0 16px;
        }

        &_edit-mode.dl-draggable-handle-element {
            cursor: move;

            .gc-adaptive-tabs__tab {
                cursor: move;
            }
        }

        // TODO: remove after https://github.com/gravity-ui/components/issues/26 will be resolved
        .gc-adaptive-tabs__tabs-as-select-control {
            #{$class}__tab {
                opacity: 1;
            }
        }
    }

    &__tab {
        position: relative;

        display: inline-flex;

        width: 100%;
        margin: 0 15px 0 0;

        cursor: pointer;

        opacity: 0.5;
        color: inherit;

        &:hover,
        &_active {
            opacity: 1;
        }
    }

    &__mobile-title {
        overflow: visible;

        width: 100%;
        padding: 10px 50px 10px 16px;

        white-space: normal;
        text-decoration: none;
        word-break: break-word;
        hyphens: auto;

        color: var(--g-color-text-primary);
        @include text-subheader-3();

        &_with-hint {
            display: flex;
            align-items: center;
        }
    }

    &__mobile-title_with-hint &__chart-title-hint {
        display: inline-flex;
        align-items: center;
    }

    &__mobile-title_with-hint &__chart-title-hint {
        margin-left: 3px;

        & > * {
            display: inline-flex;
            align-items: center;
        }
    }

    &_mobile {
        #{$class}__tabs {
            @include text-subheader-3();
        }

        &#{$class}_fullscreen #{$class}__filters-controls {
            top: 50px;
            right: 16px;
        }
    }

    &_fullscreen {
        #{$class}__mobile-title {
            height: $headerHeight;
            padding: 0 50px 0 45px;

            line-height: $headerHeight;
        }

        #{$class}__mobile-title-wrap {
            overflow: hidden;

            white-space: nowrap;
            text-overflow: ellipsis;
        }

        &#{$class}_btns-full #{$class}__mobile-title {
            padding-right: 94px;
        }

        &#{$class}_btns-partly #{$class}__mobile-title {
            padding-right: 67px;
        }
    }

    &:has(+ .chartkit-loader) {
        z-index: 5;
    }
}
