.dialog-metric-settings {
    width: 432px;

    &__row {
        display: flex;
        flex-direction: row;
        align-items: flex-start;

        margin-top: 16px;
    }

    &__title {
        width: 106px;
        margin-right: 20px;
    }
}
