@import '~@gravity-ui/uikit/styles/mixins';

.dl-color-picker {
    $class: &;

    $color-item-size: 28px;
    position: relative;

    display: inline-block;

    width: fit-content;

    line-height: 0;
    vertical-align: text-top;

    &__palette-trigger {
        width: $color-item-size;
        height: $color-item-size;
    }

    &__palette-trigger {
        // disable inheritance from theme
        --g-button-border-radius: 6px;
    }

    &__color-item {
        border: 1px solid transparent;
    }
}
