.dl-user-avatar-by-id {
    &__avatar {
        border-radius: 50%;
        background: var(--dl-color-border-solid);

        &_size_s {
            height: 28px;
            width: 28px;
        }

        &_size_m {
            height: 32px;
            width: 32px;
        }

        &_size_l {
            height: 42px;
            width: 42px;
        }

        &_size_xl {
            height: 50px;
            width: 50px;
        }
    }
}
