@import '~@gravity-ui/uikit/styles/mixins';
@import '../../../styles/variables';

.error-text {
    $class: &;

    &__content {
        margin-top: 30px;
        padding: 15px;
        font-size: 13px;
        border-radius: 4px;
        background-color: var(--g-color-base-generic-ultralight);
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: $monospaceFontFamily;
        max-height: 365px;
        position: relative;

        &:hover {
            #{$class}__clipboard {
                visibility: visible;
            }
        }

        &_mobile {
            @include text-code-2;
            margin: 0 0 12px;
            border-radius: 12px;
        }
    }

    &__extra-content {
        margin-top: 16px;
    }

    &__clipboard {
        visibility: hidden;
        position: absolute;
        top: var(--g-spacing-2);
        right: var(--g-spacing-3);
        color: var(--g-color-text-secondary);
    }
}
