@import '~@gravity-ui/uikit/styles/mixins';
@import '../../../styles/variables';

.error-text {
    &__content {
        margin-top: 30px;
        padding: 15px;
        font-size: 13px;
        border-radius: 4px;
        background-color: var(--g-color-base-generic-ultralight);
        overflow: auto;
        white-space: pre-wrap;
        word-wrap: break-word;
        font-family: $monospaceFontFamily;
        max-height: 365px;

        &_mobile {
            @include text-code-2;
            margin: 0 0 12px;
            border-radius: 12px;
        }
    }

    &__extra-content {
        margin-top: 16px;
    }
}
