@import '~@gravity-ui/uikit/styles/mixins';
@import '../../../styles/variables';

.error-text {
    $class: &;

    &__content {
        position: relative;

        overflow: auto;

        max-height: 365px;
        margin-top: 30px;
        padding: 15px;

        font-family: $monospaceFontFamily;
        font-size: 13px;
        white-space: pre-wrap;
        word-wrap: break-word;

        border-radius: 4px;
        background-color: var(--g-color-base-generic-ultralight);

        &:hover {
            #{$class}__clipboard {
                visibility: visible;
            }
        }

        &_mobile {
            margin: 0 0 12px;

            border-radius: 12px;
            @include text-code-2;
        }
    }

    &__extra-content {
        margin-top: 16px;
    }

    &__clipboard {
        position: absolute;
        top: var(--g-spacing-2);
        right: var(--g-spacing-3);

        visibility: hidden;

        color: var(--g-color-text-secondary);
    }
}
