@import '../../../styles/mixins.scss';

.aside-header-bottom-decoration {
    color: var(--g-color-text-secondary);
    display: flex;
    justify-content: center;
    background-color: var(--g-color-base-generic);
    padding: 5px 0;

    &:hover {
        color: var(--g-color-text-primary);
    }

    &__text {
        @include installation-info-font();
    }
}
