.template-text-paper {
    &__title {
        color: var(--g-color-text-secondary);
    }

    &__content {
        position: relative;

        overflow: auto;

        margin: 8px 0 10px;
        padding: 8px 15px;

        font-family: var(--g-text-code-font-family);
        font-size: var(--g-text-code-1-font-size);
        line-height: var(--g-text-code-1-line-height);
        white-space: pre-wrap;

        border-radius: 5px;
        background-color: var(--g-color-base-generic);
    }

    &__clipboard-button {
        position: absolute;
        top: 5px;
        right: 5px;

        color: var(--g-color-text-secondary);
    }
}
