.dl-collection-delete-collections-workbooks-dialog-content {
    &__header {
        font-weight: 500;
    }

    &__list {
        padding: 10px;
    }

    &__title {
        margin-bottom: 8px;
    }
}
