.action-panel-chart-save-controls {
    &__pseudosave-btn {
        width: 128px;
        height: 36px;
        position: absolute;
        right: 56px;
        display: none;

        &_active {
            display: block;
        }
    }

    &__splitter {
        display: inline-block;
        vertical-align: middle;
        width: 1px;
        height: 22px;
        margin-left: 4px;

        // stylelint-disable-next-line declaration-no-important
        margin-right: 8px !important;
        background-color: var(--g-color-line-generic);
    }
}
