.action-panel-chart-save-controls {
    &__save-btn-wrapper {
        position: relative;

        display: inline-block;
    }

    &__pseudosave-btn {
        position: absolute;
        top: 0;
        right: 0;

        display: none;

        width: 100%;
        height: 100%;

        &_active {
            display: block;
        }
    }

    &__splitter {
        display: inline-block;

        width: 1px;
        height: 22px;

        // stylelint-disable-next-line declaration-no-important
        margin-right: 8px !important;
        margin-left: 4px;

        vertical-align: middle;

        background-color: var(--g-color-line-generic);
    }

    &_mobile {
        display: flex;
    }
}
