.dialog-tab-item {
    &__row {
        display: flex;
        align-items: center;

        width: 100%;
        height: 40px;
        padding: 10px 15px 10px 0;

        font-size: 15px;

        border-radius: 3px;

        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &_active {
            .dialog-tab-item__controls {
                visibility: visible;
            }
        }

        &_expanded {
            &:not(&_input) {
                background-color: var(--g-color-base-simple-hover);
            }

            .dialog-tab-item__controls {
                visibility: visible;
            }
        }
    }

    &__title {
        overflow: hidden;
        flex: 1;

        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__controls {
        display: flex;
        visibility: hidden;

        margin-left: 5px;

        &:hover {
            visibility: visible;
        }
    }

    &__control {
        cursor: pointer;

        fill: rgba(0, 0, 0, 0.5);

        &:not(:last-child) {
            margin-right: 10px;
        }
    }
}
