.dataset-tab-field-list-row {
    display: flex;
    align-items: center;

    width: 100%;
    padding-right: 5px;

    cursor: pointer;

    border-bottom: 1px solid var(--g-color-line-generic);

    &_readonly {
        cursor: default;
    }

    &__control-item {
        display: flex;
        flex: 0 0 24px;

        margin-left: auto;

        opacity: 0;
    }

    &:hover {
        .dataset-tab-field-list-row__control-item {
            opacity: 1;
        }
    }

    &_header {
        padding: 0;

        cursor: default;
    }

    &_invalid * {
        font-style: italic;

        color: var(--g-color-text-danger);
    }

    &__row-content {
        overflow: hidden;

        white-space: nowrap;
        text-overflow: ellipsis;

        &_header {
            font-weight: 500;
        }
    }
}
