.control2-appearance-section {
    &__setting-container {
        display: flex;
        align-items: flex-start;
        min-height: var(--gc-form-row-field-height);
    }

    &__setting-checkbox {
        margin-block-start: var(--g-spacing-1);
        margin-inline-end: var(--g-spacing-2);
    }
}
