.control2-appearance-section {
    &__operation-container {
        display: flex;
        align-items: center;
    }

    &__operation-checkbox {
        margin-right: 8px;

        &_top {
            align-self: flex-start;
            margin-top: 4px;
        }
    }
}
