.dl-table {
    &__ghost-wrapper {
        position: absolute;
        left: -100000px;
        top: -100000px;
    }

    &__ghost-wrapper table {
        min-width: auto;
        table-layout: auto;
        width: auto;
        white-space: nowrap;
    }
}
