.dl-chunk-group {
    display: table-row-group;

    &:last-child .dl-content-row:last-child .dl-content-row__content-cell {
        border-bottom: 0;
    }

    &__hidden-row {
        display: table-row;
    }
}
