.ql-app .visualization-container {
    .placeholders {
        .item {
            background-color: var(--g-color-base-misc-light);

            &:hover {
                cursor: pointer;
                background-color: var(--g-color-base-misc-light-hover);
            }

            .item-icon {
                color: var(--g-color-text-misc);
            }

            &.is-dragging,
            &:active,
            &:focus {
                border: solid 1px transparent;
            }

            &.drag-hovered-swap {
                border: solid 1px transparent;
            }

            &.conflict-item {
                color: var(--g-color-text-secondary);
                background: var(--dl-color-contrast-4);

                .item-icon {
                    color: var(--g-color-line-generic);
                }

                .item-title {
                    .aggregation-title {
                        color: var(--g-color-text-secondary);
                    }
                }
            }
        }
    }
}
