.dl-core-navigation-error {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;

    .g-placeholder-container__title {
        font-size: 20px;
        margin: 15px 0 30px;
    }
}
