**📦 Statoscope quick diff with main-branch:**

**⏱ Build time:** {{buildTime.diff.formatted}}

**⚖️ Initial size:** {{initialSize.diff.formatted}}

**🕵️ Validation errors:** {{validation.total}}

Full Statoscope report could be found [here ↗️]({{downloadLink}})