@mixin point($type: small) {
    position: absolute;
    z-index: 1;
    top: 4px;
    left: 4px;

    box-sizing: border-box;
    width: 7px;
    height: 7px;

    content: '';

    border-radius: 50%;

    @if $type == 'medium' {
        z-index: 0;
        top: 1px;
        left: 1px;

        width: 13px;
        height: 13px;
    }
    @if $type == 'mediumL' {
        z-index: 0;
        top: 0;
        left: 0;

        width: 15px;
        height: 15px;
    }
}

.revision-status-point {
    position: relative;

    display: inline-block;

    width: 15px;
    height: 15px;

    &_status_draft {
        border-color: transparent;
        background-color: transparent;

        &:before {
            border: 1px solid var(--g-color-line-generic-accent);
            background-color: var(--g-color-base-background);
            @include point(medium);
        }

        &:after {
            border: 1px solid var(--g-color-base-background);
            background-color: var(--g-color-base-neutral-heavy);
            @include point();
        }
    }

    &_status_published {
        border-color: transparent;
        background-color: transparent;

        &:before {
            border: 1px solid var(--g-color-base-selection-hover);
            background-color: var(--g-color-base-selection-hover);
            @include point(mediumL);
        }

        &:after {
            border: 1px solid var(--g-color-base-brand);
            background-color: var(--g-color-base-brand);
            @include point();
        }
    }

    &_status_notActual {
        border-color: transparent;
        background-color: transparent;

        &:before {
            border: 1px solid var(--g-color-line-generic-accent);
            background-color: var(--g-color-base-background);
            @include point();
        }
    }
}
