@import '../../../../styles/mixins.scss';

.dl-signin {
    $class: &;
    height: 100%;

    &__form-container {
        width: 440px;
        min-height: 200px;
        padding: 48px;

        border-radius: 32px;
        background-color: var(--g-color-base-background);
        box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.25);
    }

    &__link {
        text-decoration: none;

        color: var(--g-color-text-link);

        &:visited {
            color: var(--g-color-text-link);
        }

        &:hover {
            color: var(--g-color-text-link-hover);
        }
    }
}
