.wizard-number-field-formatting {
    display: grid;

    &__row {
        display: grid;
        grid-template-columns: 140px minmax(0, 1fr);
        align-items: center;
    }

    &__unit-control {
        width: 100%;
    }
}
